/**
 * @version   3.1.15 July 15, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* 16 Grid */
.rt-grid-1, .rt-grid-2, .rt-grid-3, .rt-grid-4, .rt-grid-5, .rt-grid-6, .rt-grid-7, .rt-grid-8, .rt-grid-9, .rt-grid-10, .rt-grid-11, .rt-grid-12, .rt-grid-13, .rt-grid-14, .rt-grid-15, .rt-grid-16 {display: inline;float: left;position: relative;margin-left: 10px;margin-right: 10px;}
.rt-container .rt-grid-1 {width: 40px;}
.rt-container .rt-grid-2 {width: 100px;}
.rt-container .rt-grid-3 {width: 160px;}
.rt-container .rt-grid-4 {width: 220px;}
.rt-container .rt-grid-5 {width: 280px;}
.rt-container .rt-grid-6 {width: 340px;}
.rt-container .rt-grid-7 {width: 400px;}
.rt-container .rt-grid-8 {width: 460px;}
.rt-container .rt-grid-9 {width: 520px;}
.rt-container .rt-grid-10 {width: 580px;}
.rt-container .rt-grid-11 {width: 640px;}
.rt-container .rt-grid-12 {width: 700px;}
.rt-container .rt-grid-13 {width: 760px;}
.rt-container .rt-grid-14 {width: 820px;}
.rt-container .rt-grid-15 {width: 880px;}
.rt-container .rt-grid-16 {width: 940px;}

/* Grid Push */
.rt-container .rt-push-1 {left: 60px;}
.rt-container .rt-push-2 {left: 120px;}
.rt-container .rt-push-3 {left: 180px;}
.rt-container .rt-push-4 {left: 240px;}
.rt-container .rt-push-5 {left: 300px;}
.rt-container .rt-push-6 {left: 360px;}
.rt-container .rt-push-7 {left: 420px;}
.rt-container .rt-push-8 {left: 480px;}
.rt-container .rt-push-9 {left: 540px;}
.rt-container .rt-push-10 {left: 600px;}
.rt-container .rt-push-11 {left: 660px;}
.rt-container .rt-push-12 {left: 720px;}
.rt-container .rt-push-13 {left: 780px;}
.rt-container .rt-push-14 {left: 840px;}
.rt-container .rt-push-15 {left: 900px;}

/* Grid Pull */
.rt-container .rt-pull-1 {left: -60px;}
.rt-container .rt-pull-2 {left: -120px;}
.rt-container .rt-pull-3 {left: -180px;}
.rt-container .rt-pull-4 {left: -240px;}
.rt-container .rt-pull-5 {left: -300px;}
.rt-container .rt-pull-6 {left: -360px;}
.rt-container .rt-pull-7 {left: -420px;}
.rt-container .rt-pull-8 {left: -480px;}
.rt-container .rt-pull-9 {left: -540px;}
.rt-container .rt-pull-10 {left: -600px;}
.rt-container .rt-pull-11 {left: -660px;}
.rt-container .rt-pull-12 {left: -720px;}
.rt-container .rt-pull-13 {left: -780px;}
.rt-container .rt-pull-14 {left: -840px;}
.rt-container .rt-pull-15 {left: -900px;}

/* Prefix for left nudging */
.rt-container .rt-prefix-1 {padding-left: 60px;}
.rt-container .rt-prefix-2 {padding-left: 120px;}
.rt-container .rt-prefix-3 {padding-left: 180px;}
.rt-container .rt-prefix-4 {padding-left: 240px;}
.rt-container .rt-prefix-5 {padding-left: 300px;}
.rt-container .rt-prefix-6 {padding-left: 360px;}
.rt-container .rt-prefix-7 {padding-left: 420px;}
.rt-container .rt-prefix-8 {padding-left: 480px;}
.rt-container .rt-prefix-9 {padding-left: 540px;}
.rt-container .rt-prefix-10 {padding-left: 600px;}
.rt-container .rt-prefix-11 {padding-left: 660px;}
.rt-container .rt-prefix-12 {padding-left: 720px;}
.rt-container .rt-prefix-13 {padding-left: 780px;}
.rt-container .rt-prefix-14 {padding-left: 840px;}
.rt-container .rt-prefix-15 {padding-left: 900px;}

/* Extras */
.left-1, .right-1 {width: 10px;}
.left-2, .right-2 {width: 70px;}
.left-3, .right-3 {width: 130px;}
.left-4, .right-4 {width: 190px;}
.left-5, .right-5 {width: 250px;}
.left-6, .right-6 {width: 310px;}
.left-7, .right-7 {width: 370px;}
.left-8, .right-8 {width: 430px;}
.left-9, .right-9 {width: 490px;}
.left-10, .right-10 {width: 550px;}
.left-11, .right-11 {width: 610px;}
.left-12, .right-12 {width: 670px;}
.left-13, .right-13 {width: 730px;}
.left-14, .right-14 {width: 790px;}
.left-15, .right-15 {width: 850px;}