/**
 * @version   3.1.15 July 15, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
.rt-block,.rt-pagination {zoom:1;}

/* Typography */
.rt-pagination .tab {display: inline;}
.rt-pagination .page-block {display: inline;}