/**
 * @package   Juxta Template - RocketTheme
 * @version   1.5.0 May 1, 2010
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2010 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
/* Global */
.menutop li {height: auto;margin: 0;padding: 0;position: relative;list-style: none;}
.menutop em {font-size:80%;font-weight:normal;display:block;font-style:normal;}
.menutop li .item, .menutop li.active .item {display: block;margin: 0;text-decoration: none;float: none;width: auto;}
.menutop li .fusion-submenu-wrapper {float: none;left: -999em;position: absolute;z-index: 500;}
.menutop li:hover li ul, .menutop li.sfHover li ul {top: -999em;}
.menutop li:hover ul, .menutop li.sfHover ul {top: 0;}

/* Root Items */
.menutop {list-style: none;margin: 0;padding: 0 4px;position: relative;line-height: 1.0;}
.menutop li.root {float: left;margin: 0 32px;height: 45px;}
.menutop li.root > .item {white-space: nowrap;display: block;font-weight: bold;padding: 0;font-size: 15px;z-index: 100;cursor: pointer;position:relative;margin: 0 0 0 -37px;outline: none;text-align: center;line-height: 32px;height: 45px;}
.menutop li.root > .item span {display: block;margin: 0 -37px 0 0;outline: none;padding: 6px 21px 0 21px;width: auto;height: 45px;}
.cssstyle-style5 .menutop li.root > .item span, .cssstyle-style6 .menutop li.root > .item span {padding: 6px 25px 0 25px;}
.menutop li.root > .bullet {background: none;}
.menutop li.root > .item em {font-size:12px;font-weight:normal;display:block;font-style:normal;text-transform: lowercase;line-height: 9px;}
.menutop li.parent.root .item span {padding-right: 28px;}

/* Dropdown Surrounds */
.menutop ul {width:187px;padding: 0 0 15px 0;margin: 0;}
.menutop .drop-top {height: 4px;}
.menutop .level2 > .drop-top {display: none;}
.menutop ul.columns2 {width:361px;padding: 0 0 15px 0;}
.menutop .columns2 > .drop-top {width:361px;}

/* Dropdown Items */
.menutop ul li {width: 184px;margin-bottom: -10px;margin-left: 2px;padding: 10px 0 20px 0;}
.menutop ul.columns2 li {width: 178px;float: left;margin-left: 2px;}
.menutop li > .item {padding: 0;height: auto;display: block;font-size: 13px;}
.menutop li > .bullet {padding-left: 34px;}
.menutop li > .item img {float: left;/*margin: -2px 8px 8px 10px;*/margin: -2px 8px -4px 10px;}
.menutop li > .item span {display: block;padding: 0;width: 100%;}
.menutop li > .item.image span {display: block;/*padding-top: 5px;*/}
.menutop li a.item {cursor: pointer;}
.menutop li span.item {cursor: default;outline: none;}
.menutop .subtext span {line-height: 20px;}
.menutop .subtext em {line-height: 14px;}

/* No JS */
.menutop li.root:hover > .fusion-submenu-wrapper {top:51px;left:-26px;}
.menutop ul.columns1 li:hover > .fusion-submenu-wrapper {left:180px;top:0;}
.menutop ul.columns2 li:hover > .fusion-submenu-wrapper {left:178px;top:0;}

/* Fusion JS */
.fusion-js-container {display:block;height:0;left:0;overflow:visible;position:absolute;top:0;z-index:600000!important;background:transparent !important;}
.fusion-js-subs {display:none;margin:0;overflow:hidden;padding:0;position:absolute;}