/**
 * @package   Juxta Template - RocketTheme
 * @version   1.5.0 May 1, 2010
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2010 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* Article */
body.rtl .rt-joomla ol {margin-left: 0;margin-right: 5px;}

/* Typography */
body.rtl .rt-joomla .rt-article-icons {padding: 1px 4px 0 5px;float: left;}
body.rtl .rt-joomla .icon {float: right;}
body.rtl .rt-joomla .edit {margin-right: 0;margin-left: 0;}
body.rtl #form-login ul li a, body.rtl #com-form-login ul li a, body.rtl ul.rt-more-articles li a, body.rtl .rt-section-list ul li a, body.rtl ul.mostread li a, body.rtl ul.latestnews li a, body.rtl .weblinks ul li a {padding-left: 0;padding-right: 24px;}
body.rtl .rt-pollbuttons .readon {float: right;}
body.rtl .rt-pollrow {direction: ltr;text-align: right;}
body.rtl .rt-comment-block {float: left;}
body.rtl .rt-joomla .search_result fieldset.word label {float: right;}
body.rtl .rt-joomla .label-left {float: right;}
body.rtl .rt-date-posted span {line-height: 24px;}
body.rtl .rt-joomla .contact .image {float:left;}
body.rtl .rt-joomla .search_result select#ordering.inputbox {margin-right: 0;margin-left: 10px;}
body.rtl #rt-showcase .readon-wrap1 {float: right;}
body.rtl pre {direction: ltr;text-align: right;}
body.rtl ul.pagination {text-align: right;}
body.rtl ul.pagination li {text-align: right;}
body.rtl .rt-joomla .search_result select#ordering.inputbox {margin-right: 0;margin-left: 10px;}
body.rtl #rt-main-surround ul, body.rtl #rt-main-surround ol {padding-left: 0;padding-right: 25px;}

/* RokAjaxSearch */
body.rtl .rokajaxsearch {direction: ltr;text-align: right;}
body.rtl .rokajaxsearch .inputbox {text-align: right;}
body.rtl #roksearch_results {direction: ltr;text-align: right;}
body.rtl #rokajaxsearch .roksearch-wrapper {float: right;}
body.rtl .search_options {float: right;}
body.rtl .search_options label {margin-left:8px;margin-right: 0;}
body.rtl #rokajaxsearch #roksearch_search_str.loading {background-position: 5px 50% !important;}
body.rtl #roksearch_results a#roksearch_link {float: left;padding-right: 0;margin-left: 5px;}
body.rtl #roksearch_results .container-arrows {float: right;margin-right: 0;margin-left: 5px;}
body.rtl #roksearch_results a.viewall {float: right;}
body.rtl #roksearch_results span.small {direction: rtl;}

/* RokNewsPager */
body.rtl ul.roknewspager, body.rtl #rt-main-surround ul.roknewspager {padding-right: 0;}
body.rtl .roknewspager-pages2 {margin-left: 0;margin-right: 20px;float: left;}
body.rtl .roknewspager-div a img {float: right;margin-right: 0;margin-left: 15px;}
body.rtl .roknewspager-spinner {float: right;}
body.rtl .roknewspager-prev, body.rtl .roknewspager-prev-disabled {right: 0;left: inherit;}
body.rtl .roknewspager-next, body.rtl .roknewspager-next-disabled {left: 0;right: inherit;}
body.rtl #rt-main-surround ul.roknewspager-numbers {padding: 0 12px;}
body.rtl .roknewspager-pages2 .roknewspager-next-disabled {background-position: 0 -18px;}
body.rtl .roknewspager-pages2 .roknewspager-prev-disabled {background-position: 6px -18px;}

/* RokTabs */
body.rtl .roktabs-wrapper {direction: ltr;text-align: right;}
body.rtl .roktabs-wrapper .roktabs-links ul li {float: right;}
body.rtl .roktabs-wrapper .tab-icon {margin-right: 0;margin-left: 8px;float: right;margin-top: 22px;}

/* Editing */
body.rtl .button2-left, body.rtl .button2-right, body.rtl .button2-left div, body.rtl .button2-right div {float: right;}
body.rtl #editor-xtd-buttons {float: right;}
body.rtl .edit-article fieldset table {float: right;}