/**
 * @package   Juxta Template - RocketTheme
 * @version   1.5.0 May 1, 2010
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2010 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
/* Article */
.rt-joomla .rt-article {margin-bottom: 25px;}
.rt-joomla .rt-articleinfo {margin: 20px 85px 0 85px;}
.rt-joomla .rt-articleinfo2 {margin-left: -85px;}
.rt-joomla .rt-articleinfo3 {margin-right: -85px;padding-bottom: 10px;min-height: 30px;}
.rt-author, .rt-date-posted, .rt-date-modified {display: block;font-weight: bold;}
.rt-author {font-size: 10px;}
.rt-date-posted {font-size: 14px;}
.rt-date-modified {font-size: 11px;}
.rt-readon-surround {margin-bottom: 0;}
.rt-joomla .rt-article-cat {margin-top: 10px;margin-bottom: 15px;}
.rt-joomla .rt-article-bg {border-bottom: none;padding: 0;}
.rt-joomla .rt-pagetitle {margin-top: 0;margin-bottom: 30px;}
body .rt-joomla .rt-blog .rt-description {border-bottom: none;}
.rt-joomla ol {margin-left: 5px;}

/* Typography */
.rt-joomla .rt-article-icons {width: auto;padding: 1px 5px 0 4px;}
.rt-joomla .icon {display: block;width: 28px;height: 28px;float: right;}
.rt-joomla .pdf {background-position: -68px 0;background-repeat: no-repeat;margin-left: 3px;}
.rt-joomla .print {background-position: -34px 0;background-repeat: no-repeat;margin-left: 3px;}
.rt-joomla .email {background-position: 0 0;background-repeat: no-repeat;}
.rt-joomla .edit {background-position: -66px -66px;}
.rt-joomla a:hover .pdf {background-position: -68px -31px;}
.rt-joomla a:hover .print {background-position: -34px -31px;}
.rt-joomla a:hover .email {background-position: 0 -31px;}
.rt-joomla .edit {margin-right: 0;}
#form-login ul li, #com-form-login ul li, ul.rt-more-articles li, .rt-section-list ul li, ul.mostread li, ul.latestnews li, .weblinks ul li {list-style: none;}
#form-login ul li a, #com-form-login ul li a, ul.rt-more-articles li a, .rt-section-list ul li a, ul.mostread li a, ul.latestnews li a, .weblinks ul li a {padding-left: 24px;}
#form-login .inputbox, .rt-joomla .user input#email, .rt-joomla .user input#name, .rt-joomla .user input#username, .rt-joomla .user input#password, .rt-joomla .user input#passwd, .rt-joomla .user input#password2 {padding: 4px;outline: none;}
.col12 .rt-grid-2 #form-login .inputbox {width: 110px;}
.col12 .rt-grid-3 #form-login .inputbox {width: 190px;}
.col12 .rt-grid-4 #form-login .inputbox, .col12 .rt-grid-5 #form-login .inputbox, .col12 .rt-grid-6 #form-login .inputbox, .col12 .rt-grid-7 #form-login .inputbox, .col12 .rt-grid-8 #form-login .inputbox, .col12 .rt-grid-9 #form-login .inputbox, .col12 .rt-grid-10 #form-login .inputbox, .col12 .rt-grid-12 #form-login .inputbox, #com-form-login .inputbox, .rt-joomla .user input#email, .rt-joomla .user input#name, .rt-joomla .user input#username, .rt-joomla .user input#password, .rt-joomla .user input#password2 {width: 270px;}
#com-form-login .inputbox {padding: 5px 10px;outline: none;}
.rt-pagination {margin-top: 15px;}
ul.pagination {list-style-type:none;margin:0;padding:0;text-align:left;}
ul.pagination li {display:inline;padding:2px 5px 0;text-align:left;}
ul.pagination li a {padding:2px;}
#com-form-login ul {margin-top: 15px;}
.rt-joomla .results ol.list {margin-top: 0;}
.rt-joomla .results ol.list h4 {border: 0;margin-top: 0;margin-bottom: 0;display: inline;}
.rt-joomla .results ol.list li {padding: 10px 5px;margin-bottom: 5px;}
.rt-joomla .results ol.list li p {margin-top: 0;font-size: 90%;}
.rt-joomla .results ol.list .description {margin-bottom: 15px;}
.rt-joomla .results ol.list li span.small {font-size: 90%;}
.rt-joomla .user legend, .rt-joomla .contact legend {text-transform: uppercase;font-weight: bold;font-size: 160%;line-height: 110%;}
.rt-joomla .user {margin-top: 15px;}
.rt-joomla .user legend {text-transform: none;margin-top: 15px;}
.rt-joomla .user fieldset div {overflow: visible;clear: both;margin-bottom: 8px;}
.rt-joomla .user td.paramlist_key {width: 180px;}
.rt-joomla .search_result select#ordering.inputbox {margin-right: 10px;}
h4.rt-polltitle {margin-top: 0;}
.rt-poll .rt-pollrow {padding: 8px 0 9px 0;}
.rt-poll .rt-pollbuttons {padding: 15px 0;margin-top: 5px;}
.pollstableborder td div {border: 0;height: 20px !important;min-width: 2px !important;}
#rt-main-surround .rt-joomla .inputbox.invalid {color: #c00;}
#rt-mainbody .rt-joomla-table {padding-bottom: 16px;}
#rt-mainbody .rt-joomla-table td {border: 0;padding: 8px;}
#rt-mainbody .rt-joomla-table th {border: 0;}
#rt-mainbody .contact .rt-joomla-table, #rt-mainbody .contact .rt-joomla-table th, #rt-mainbody .contact .rt-joomla-table tbody, #rt-mainbody .contact .rt-joomla-table td {background: none;}

/* RokAjaxSearch */
#rokajaxsearch {overflow: hidden;}
#rokajaxsearch .inputbox {float: left;width: 245px;height: 17px;line-height: 12px;padding: 4px 5px 3px 5px;border: 0;font-size: 13px;outline: none;background: none;}
#rokajaxsearch .roksearch-wrapper {height: 24px;display: inline-block;float: left;margin-top: 10px;margin-bottom: 10px;}
.search_options {float: left;margin:12px 10px;}
.search_options label {margin-right:8px;}
#roksearch_results {border-bottom: 0;}
#roksearch_results.roksearch_results {margin-left: 0;}
#roksearch_search_str {width: auto;padding: 4px;}
#roksearch_search_str.loading {background: transparent url(../images/spinner.gif) no-repeat scroll 97% 50% !important}
#roksearch_results {z-index: 10000;position: absolute;width: 400px;float: right;margin-top: -1px;text-align: left;visibility: hidden;}
#roksearch_results a#roksearch_link {float: right;padding-right: 5px;margin-top: 10px;display: block;height: 12px;width: 12px;background-position: 0 -50px;}
#roksearch_results h3 {margin-top: 0;margin-bottom: 0;line-height: 110%;font-size: 120%;padding-bottom: 0;}
#roksearch_results span {display: block;line-height: 130%;font-size: 90%;}
#roksearch_results .container-wrapper {overflow: hidden;}
#roksearch_results .page {float: left;}
#roksearch_results .roksearch_header, #roksearch_results .roksearch_row_btm {padding: 10px;line-height: 100%;text-transform: uppercase;font-weight: normal;font-size: 100%;}
#roksearch_results .roksearch_row_btm {overflow: hidden;}
#roksearch_results .roksearch_row_btm span {line-height: 140%;}
#roksearch_results span.small {display: inline-block;margin-top: 2px;margin-bottom: 7px;font-size: 10px;bottom:13px !important;left:10px;right: inherit !important;}
#roksearch_results span.highlight {display: inline;}
#roksearch_results a.clr {font-size: 100%;}
#roksearch_results a:hover {text-decoration: none;}
#roksearch_results .roksearch_odd {padding: 15px;position: relative;}
#roksearch_results .roksearch_even {padding: 15px;position: relative;}
#roksearch_results .container-arrows {height: 12px;width: 30px;float: left;margin-right: 5px;position: relative;}
#roksearch_results .arrow-left, #roksearch_results .arrow-left-disabled, #roksearch_results .arrow-right, #roksearch_results .arrow-right-disabled {width: 12px;height: 12px;position: absolute;top: 0;}
#roksearch_results .arrow-left {left: 0;cursor: pointer;background-position: 0 2px;}
#roksearch_results .arrow-left-disabled {left: 0;background-position: 0 -33px;}
#roksearch_results .arrow-right {left: 18px;cursor: pointer;background-position: 0 -15px;}
#roksearch_results .arrow-right-disabled {left: 18px;background-position: 0 -33px;}
#roksearch_results .viewall span {line-height: 100%;}
#roksearch_results a.viewall {float: left;margin: 0 5px 0 10px;}
#roksearch_results .estimated_res, #roksearch_results .pagination_res {font-size: 9px;font-style: italic;text-transform: none;float:left;}
#roksearch_results .pagination_res {font-style: normal;float: right;font-size: 11px;margin-top: -1px;}
#roksearch_results .powered-by-google {text-transform: lowercase;font-style: italic;font-size: 9px;}
#roksearch_results .google-search a#roksearch_link {margin-top: 5px;}
#roksearch_results .readon {display: inline-block;margin-left: 10px;height: 34px;margin-top: 15px;}
#roksearch_results .readon span, #roksearch_results .readon .button {display: block;margin-left: -10px;padding: 0 15px 3px 15px;border: 0;font-size: 13px;cursor: pointer;height: 34px;line-height: 32px;float: left;font-weight: bold;}
#roksearch_results .google-thumb-image {margin: 0 auto;}
.searchintro {overflow: hidden;}
#roksearch_results a#roksearch_link {background: url(../images/typography/search-controls.png) 0 -50px no-repeat;}
#roksearch_results .arrow-left {background: url(../images/typography/search-controls.png) 0 2px no-repeat;}
#roksearch_results .arrow-left-disabled, #roksearch_results .arrow-right-disabled {background: url(../images/typography/search-controls.png) 0 -33px no-repeat;}
#roksearch_results .arrow-right {background: url(../images/typography/search-controls.png) 0 -15px no-repeat;}

/* RokNewsPager */
body ul.roknewspager {border: 0;padding: 0;}
body ul.roknewspager li .roknewspager-title {line-height: 125%;}
body .roknewspager-pages {background: none;padding: 5px 0;}
body .roknewspager-pages2 {height: 24px;margin-left: 20px;padding-bottom: 5px;}
body .roknewspager-spinner {height: 24px;}
body ul.roknewspager-numbers {height: 24px;display: block;padding: 0 12px;background: none;}
body ul.roknewspager-numbers li {line-height: 25px;}
body ul.roknewspager-numbers li.active {font-weight: normal;}
body .roknewspager-next-disabled, body .roknewspager-next, body .roknewspager-prev-disabled, body .roknewspager-prev {height: 24px;width: 16px;background-repeat: no-repeat;}
body .roknewspager-div a img {float: left;margin-right: 15px;}
body .roknewspager-pages2 .roknewspager-next {background-position: 100% 4px;}
body .roknewspager-pages2 .roknewspager-prev {background-position: 0 4px;}
body .roknewspager-pages2 .roknewspager-next-disabled {background-position: 100% -18px;}
body .roknewspager-pages2 .roknewspager-prev-disabled {background-position: 0 -18px;}
body .roknewspager-div .author, body .roknewspager-div .commentcount, body .roknewspager-div .published-date {font-style: italic;}
body .roknewspager-div .article-rating {float: none;}
body .roknewspager-div .article-rating .rating-bar {background: url(../images/ratingbar.png) repeat 0 0;height: 14px;width: 82px;float: none;}
body .roknewspager-div .article-rating .rating-bar div {background: url(../images/ratingbar.png) repeat 0 -15px;}
body ul.roknewspager li a {line-height: 120%;font-size: 100%;}
body ul.roknewspager .roknewspager-div {padding: 12px 0;}
body ul.roknewspager li {background: none;}
body .roknewspager-h3 {border: 0;padding: 10px 20px 10px 5px;}
body .roknewspager-toggle {top: 10px;}

/* RokStories */
body .feature-block .readon1-r {margin-right: 0;padding-right: 12px;}
body .feature-block .readon1-m {margin-left: 0;padding-left: 12px;text-transform: uppercase;}
.feature-block .feature-title {font-size: 150%;letter-spacing: -2px;}
.feature-block .feature-title span {display: block;letter-spacing: normal;font-size: 150%;font-weight: bold;margin-top: 5px;}
.rokstories-tip {z-index:300;}

/* RokTabs */
.roktabs-wrapper {margin: 0;padding: 0;position: relative;}
.roktabs {position: relative;z-index: 3;}
.roktabs-wrapper .roktabs-container-inner {position:relative;overflow: hidden;}
.roktabs-wrapper .rt-module-inner {position: relative;}
.roktabs-wrapper .roktabs-container-wrapper {clear: both;position: relative;overflow:hidden;width:50000px;}
.roktabs-wrapper .roktabs-container-wrapper div {float: left;}
.roktabs-wrapper .roktabs-container-wrapper div.wrapper {padding: 15px 0 0 0;width: auto;float: none;}
.roktabs-wrapper .roktabs-links {margin: 0;padding: 0;overflow:hidden;}
.roktabs-wrapper .active-arrows .roktabs-links {margin: 0 20px;padding: 0;}
.roktabs-wrapper .roktabs-links ul {text-align: left;list-style-type: none;overflow: hidden;margin: 0;padding: 0;}
.roktabs-wrapper .roktabs-links ul li {float: left;padding: 0;margin: 0;text-decoration: none;position: relative;}
.roktabs-wrapper .roktabs-links ul li span {display: block;padding: 0 15px;font-size: 14px;font-weight: bold;height: 60px;line-height: 60px;}
.roktabs-wrapper .roktabs-scroller {position: absolute;bottom: 0;right: 0;}
.roktabs-wrapper .arrow-next, .roktabs-wrapper .arrow-prev {text-align: center;cursor: pointer;z-index: 2;position: absolute;top: 22px;height:17px;width: 15px;}
.roktabs-wrapper .arrow-prev span, .roktabs-wrapper .arrow-next span {display: none;}
.roktabs-wrapper .arrow-next {background-position: 100% 0;background-repeat: no-repeat;right: 0;}
.roktabs-wrapper .arrow-next:hover {background-position: 100% -22px;background-repeat: no-repeat;}
.roktabs-wrapper .arrow-prev {background-position: 0 0;background-repeat: no-repeat;left: 0;}
.roktabs-wrapper .arrow-prev:hover {background-position: 0 -22px;background-repeat: no-repeat;}
.roktabs-wrapper .tab-icon {margin-right: 8px;vertical-align: middle;}
.roktabs-wrapper .roktabs-container-tr {margin: -59px 85px 0 85px;}
.roktabs-wrapper .roktabs-container-tl {margin-left: -85px;}
.roktabs-wrapper .roktabs-container-br {margin-right: -85px;padding-top: 60px;}

/* Editing */
.rt-joomla .edit-article fieldset legend {text-transform: uppercase;font-weight: bold;font-size: 260%;}
.rt-joomla .edit-article fieldset div {overflow: visible;margin-bottom: 8px;}
.rt-joomla .edit-article fieldset #editor-xtd-buttons div {clear: none;}
#system-message dd.notice {border: 0;background: none;}

/* Buttons */
#editor-xtd-buttons {padding: 5px 0;}
.button2-left, .button2-right, .button2-left div, .button2-right div {float: left;}
.rt-joomla  .button2-left .linkmacro, .rt-joomla  .button2-left .image {background: none;}
.button2-left a, .button2-right a, .button2-left span, .button2-right span {display: block;height: 22px;float: left;line-height: 22px;font-size: 11px;cursor: pointer;margin-bottom: 5px;}
.button2-left span, .button2-right span {cursor: default;}
.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span {padding: 0 6px;}
.button2-left a:hover, .button2-right a:hover {text-decoration: none;}
.button2-left a, .button2-left span {padding: 0 24px 0 6px;}
.button2-right a, .button2-right span {padding: 0 6px 0 24px;}
.button2-left .blank a {padding-right: 6px;}
.img_caption.left {float: left;margin-right: 1em;}
.img_caption.right {float: right;margin-left: 1em;}
.img_caption.left p {clear: left;text-align: center;}
.img_caption.right p {clear: right;text-align: center;}
.img_caption {text-align: center !important;}
.edit-article fieldset div input, .edit-article fieldset textarea {padding: 4px;}
.edit-article fieldset div .label-left {padding: 0;}
.edit-article fieldset div img.calendar {vertical-align: middle;margin-left: 5px;}