/**
 * @package   Juxta Template - RocketTheme
 * @version   1.5.0 May 1, 2010
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2010 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
/* Global */
.menutop li {height: auto;margin: 0;padding: 0;position: relative;list-style: none;}
.menutop em {font-size:80%;font-weight:normal;display:block;font-style:normal;}
.menutop li .item .menutop li.active .item {display: block;margin: 0;text-decoration: none;float: none;width: auto;}

/* Root Items */
.menutop {list-style: none;margin: 0;padding: 0 4px;position: relative;line-height: 1.0;}
.menutop li {float: left;margin: 0 32px;height: 45px;}
.menutop li .item {white-space: nowrap;display: block;font-weight: bold;padding: 0;font-size: 15px;z-index: 100;cursor: pointer;position:relative;margin: 0 0 0 -37px;outline: none;text-align: center;line-height: 32px;height: 45px;}
.menutop li .item span {display: block;margin: 0 -37px 0 0;outline: none;padding: 6px 21px 0 21px;width: auto;height: 45px;}
.cssstyle-style5 .menutop li .item span, .cssstyle-style6 .menutop li .item span {padding: 6px 25px 0 25px;}
.menutop li .item em {font-size:12px;font-weight:normal;display:block;font-style:normal;text-transform: lowercase;line-height: 9px;}
.menutop li.parent.active .item span {padding-right: 28px;}
.menutop .subtext span {line-height: 18px;}
.menutop .subtext em {line-height:13px;}