/**
 * @package   Juxta Template - RocketTheme
 * @version   1.5.0 May 1, 2010
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2010 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* Root Items */
#rt-navigation ul {margin:0;z-index: 200;position: relative;margin-top:3px;}
#rt-navigation li {list-style:none;float:left;height:28px;position:relative;}
#rt-navigation li .item {white-space: nowrap;display: block;float: left;font-weight: bold;padding: 0 18px;font-size: 12px;z-index: 100;cursor: pointer;position:relative;margin: 0;outline: none;text-transform: uppercase;line-height: 31px;}
#rt-navigation li .item span {display: block;margin: 0;outline: none;padding: 7px 0;}
#rt-navigation li a:hover, #rt-navigation li:hover a, #rt-navigation li.sfHover a {text-decoration:none;}

/* Dropdowns */
#rt-navigation li ul {position:absolute;width:180px;left:-999em;margin:0;}
#rt-navigation li ul ul {margin:-50px 0 0 180px;}
#rt-navigation li:hover ul ul, #rt-navigation li:hover ul ul ul, #rt-navigation li:hover ul ul ul ul, #rt-navigation li.sfHover ul ul, #rt-navigation li.sfHover ul ul ul, #rt-navigation li.sfHover ul ul ul ul {left:-999em;}
#rt-navigation li li {margin: 0;padding:0;height:auto;width:180px;}
#rt-navigation li li .item, #rt-navigation li li.active .item, #rt-navigation li li .item:hover {margin:0;padding: 0 0 0 15px;height: auto;float: none;width: auto;line-height:20px;display: block;}
#rt-navigation li li .item span, #rt-navigation li li.active .item span, #rt-navigation li li .item:hover span {width: auto;display: block;line-height: 20px;text-transform: none;}
#rt-navigation li li a, #rt-navigation li.active li a {font-weight:normal;}
#rt-navigation li:hover ul, #rt-navigation li.sfHover ul {left:0;top: 45px;}
#rt-navigation li li:hover ul, #rt-navigation li li li:hover ul, #rt-navigation li li li li:hover ul, #rt-navigation li li.sfHover ul, #rt-navigation li li li.sfHover ul, #rt-navigation li li li li.sfHover ul {left:0;}