/**
 * @package   Juxta Template - RocketTheme
 * @version   1.5.0 May 1, 2010
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2010 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
 
.module-title .title br {display: none;}
body.rtl .rokradios, body.rtl .rokradios-active, body.rtl .rokchecks, body.rtl .rokchecks-active {display: inline-block;}
body.rtl .rt-pollrow .rokradios, body.rtl .rt-pollrow .rokradios-active, body.rtl .rt-pollrow .rokchecks, body.rtl .rt-pollrow .rokchecks-active {margin-right: 2px;}
body.rtl .rt-footer-bottom-wrap {left: 0;}
body.rtl #rt-main-background .readon {display: inline-block;margin-left: 9px;height: 21px;}
body.rtl #rt-main-background .readon span, body.rtl #rt-main-background .readon .button {display: block;margin-left: -9px;padding: 1px 12px 0 24px;border: 0;font-size: 12px;cursor: pointer;height: 21px;line-height: 21px;float: left;font-weight: normal;overflow:visible;text-transform: uppercase;}
body.rtl #form-login ul, body.rtl #com-form-login ul, body.rtl ul.rt-more-articles, body.rtl .rt-section-list ul {direction: ltr;text-align: right;}