/** 
 *	Application Groups CSS 
 **/

div#application-group .application-info {
    font-size: 90%;
    line-height:1.2;
    padding:0 0 5px;
}
div#application-group ul,
div#application-group li {
    padding: 0;
    margin: 0;
    list-style: none;
    background: none;
    border: none;
    }
div#application-group li {
    display:inline-block;
    float:left;
    padding: 1px 1px 2px;
    }
div#application-group li img {
    border: 1px solid #ccc;
    display:inline-block;
    float:left;
    }

div#application-group .nopost {
	position: relative;
	min-height: 16px;
	padding: 0 0 5px;
    }

div#application-group .icon-nopost {
	position: absolute;
	top: 0;
	left: 0;
    }

div#application-group .content-nopost {
	display: block;
	margin: 0 0 0 24px;
}