/**
 * @version   2.5.6 April 29, 2010
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2010 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Headings */
.rt-joomla h1 {letter-spacing: -2px;}
.rt-joomla h2, .rt-joomla h3, .rt-joomla h4, .rt-joomla h5 {letter-spacing: -1px;}
.componentheading {font-weight: bold;display: block;margin-bottom: 15px;}
.contentheading {font-size: 140%;font-weight: bold;margin-bottom: 15px;display: block;}

/* Section Tables */
.sectiontableheader {font-weight: bold;padding: 3px;line-height: 25px;text-align: left;}
.sectiontablefooter {padding-bottom: 8px;}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {text-align: left;padding: 6px 5px;vertical-align: middle;}
tr.sectiontableentry0 td, td.sectiontableentry0, tr.sectiontableentry1 td, td.sectiontableentry1, tr.sectiontableentry2 td, td.sectiontableentry2 {height: 30px;}
.contentpane, .contentpaneopen {width: 100%;}

/* Column Layout */
.rt-joomla .float-left {float: left;}
.rt-joomla .float-right {float: right;}
.rt-joomla .width25 {width: 24.999%;}
.rt-joomla .width33 {width: 33.333%;}
.rt-joomla .width50 {width: 49.999%;}
.rt-joomla .width100 {width: 100%;}

/* Blog Layout */
.rt-joomla .rt-blog .rt-description {  margin: 10px 0px 15px 0px;padding-bottom: 20px;border-bottom: 1px #c8c8c8 dotted;}
.rt-joomla .rt-article {margin-bottom: 35px;}
.rt-joomla .rt-article-bg {padding-bottom: 5px;border-bottom: 1px #c8c8c8 dotted;}
.rt-joomla .multicolumns .rt-article {margin: 0px 15px 15px 15px;}
.rt-joomla .multicolumns .first .rt-article {margin-left: 0px;}
.rt-joomla .multicolumns .last .rt-article {margin-right: 0px;}
.rt-joomla .rt-article-links {margin: 10px 0px 10px 0px;}

/* Article Layout */
.rt-joomla h1.rt-article-title {width: auto;}
.rt-joomla span.edit {margin-left: 10px;float: left;}
.rt-joomla .rt-articleinfo {margin-bottom: 15px;}
.rt-joomla .rt-articleinfo span.modified, .rt-joomla .rt-articleinfo span.author, .rt-joomla .rt-articleinfo span.created, .rt-joomla .rt-articleinfo span.url {display: block;font-size: 95%;}
.rt-joomla .rt-articleinfo span.author {color: #969696;font-style: italic;}
.rt-joomla .rt-articleinfo span.created {font-weight: bold;}
.rt-joomla .rt-description {margin: 10px 0px 10px 0px;overflow: hidden;}
.rt-description img.left {margin-right: 15px;float: left;}
.rt-description img.right {margin-left: 15px;float: right;}
.rt-joomla .filter {margin: 10px 0px;}
.rt-joomla span.number {color: #969696;font-style: italic;}
.rt-joomla .rt-article-icons {width: 65px;overflow: hidden;float: right;}
.rt-joomla .icon {display:block;width:16px;height:16px;float: right;margin-left:3px;background-image: url(../images/typography.png);background-repeat: no-repeat;}
.rt-joomla .printscreen {display: none;}
.rt-joomla .print {background-position: 0 0;}
.rt-joomla .email {background-position: -16px 0;}
.rt-joomla .pdf {background-position: -32px 0;}
.rt-joomla .edit {background-position: -48px 0;margin-left: 0 !important;margin-right:5px;}
.rt-joomla .edit img {opacity: 0;}
.rt-joomla .rt-article-cat {font-weight: bold;margin-top: 15px;margin-bottom: 0;}
.rt-pagination {text-align: center;}
.rt-pagination .tab {display: inline-block;margin-right: 8px;}
.rt-pagination .tab .page-active {background: none;}
.rt-pagination .page-block {display: inline-block;margin-right: 4px;font-weight: bold;}
.rt-pagination .page-active, .rt-pagination .page-inactive {padding: 0 4px;}
.rt-pagination .page-inactive:hover {cursor: pointer;}
.rt-pagination .rt-results {margin-bottom: 5px;}

/* Editing */
.rt-joomla .edit-article fieldset {margin-bottom: 30px;}
.rt-joomla .edit-article fieldset div {overflow: hidden;margin-bottom: 5px;}
.rt-joomla .edit-article label.label-left {display: block;width: 150px;float: left;}
.rt-joomla .edit-article .save {margin: 0px;float: right;}
.rt-joomla .edit-article #editor-xtd-buttons {margin-bottom: 0px;overflow: hidden;}
.rt-joomla .edit-article #editor-xtd-buttons div {margin: 0px;}
.rt-joomla .edit-article #editor-xtd-buttons .button2-left {margin-right: 5px;}
.rt-joomla .edit-article #editor-xtd-buttons a:link, .rt-joomla .edit-article #editor-xtd-buttons a:visited, .rt-joomla .edit-article #editor-xtd-buttons a:hover {color: #323232;}
.rt-joomla .edit-article .inputbox, .rt-joomla .edit-article textarea {border: 1px solid #ddd;}

/* User */
#form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox {border: 1px solid #ddd;font-size: 1.2em;padding: 2px;margin: 0;}
#com-form-login fieldset div, #josForm fieldset div {margin-bottom: 10px;}
#form-login ul {margin-top: 10px;}
#form-login p {margin-bottom: 10px;}
#form-login .user-greeting {font-weight: bold;font-size: 120%;margin-bottom: 15px;}
.rt-joomla .user label.label-left, .rt-joomla .user span.label-left {display: block;width: 130px;float: left;font-weight: bold;font-size: 120%;}
.col12 .rt-grid-2 #form-login .inputbox {width: 104px;}
.col12 .rt-grid-3 #form-login .inputbox {width: 184px;}
.col12 .rt-grid-4 #form-login .inputbox {width: 264px;}
.col12 .rt-grid-5 #form-login .inputbox {width: 344px;}
.col12 .rt-grid-6 #form-login .inputbox {width: 424px;}
.col12 .rt-grid-7 #form-login .inputbox {width: 504px;}
.col12 .rt-grid-8 #form-login .inputbox {width: 584px;}
.col12 .rt-grid-9 #form-login .inputbox {width: 664px;}
.col12 .rt-grid-10 #form-login .inputbox {width: 744px;}
.col12 .rt-grid-12 #form-login .inputbox {width: 904px;}
.col16 .rt-grid-2 #form-login .inputbox {width: 64px;}
.col16 .rt-grid-3 #form-login .inputbox {width: 124px;}
.col16 .rt-grid-4 #form-login .inputbox {width: 184px;}
.col16 .rt-grid-5 #form-login .inputbox {width: 244px;}
.col16 .rt-grid-6 #form-login .inputbox {width: 304px;}
.col16 .rt-grid-7 #form-login .inputbox {width: 364px;}
.col16 .rt-grid-8 #form-login .inputbox {width: 424px;}
.col16 .rt-grid-9 #form-login .inputbox {width: 484px;}
.col16 .rt-grid-10 #form-login .inputbox {width: 544px;}
.col16 .rt-grid-11 #form-login .inputbox {width: 604px;}
.col16 .rt-grid-12 #form-login .inputbox {width: 664px;}
.col16 .rt-grid-13 #form-login .inputbox {width: 724px;}
.col16 .rt-grid-14 #form-login .inputbox {width: 784px;}
.col16 .rt-grid-15 #form-login .inputbox {width: 844px;}

/* Contact */
.rt-joomla .contact h1 {margin-bottom: 0px;font-size: 250%;font-weight: normal;letter-spacing: -1px;}
.rt-joomla .contact h2 {margin-bottom: 10px;font-size: 120%;font-weight: normal;text-transform: uppercase;letter-spacing: 0px;}
.rt-joomla .contact .image {float: right;}
.rt-joomla .contact table {margin-bottom: 10px;}
.rt-joomla .contact label.label-top {display: block;}
.contact .icon {float: left; width: 40px;}
.contact .misc, .contact .webpage, .contact .mobile, .contact .email, .contact .telephone, .contact .fax, .contact .country, .contact .state, .contact .postcode, .contact .suburb, .contact .street-address {overflow: hidden;}
.contact .other .surround {margin-top: 5px;}
.contact .vcard {margin-top: 15px;}
.rt-joomla .contact .inputbox {border: 1px solid #ddd;font-size: 1.2em;padding: 2px;margin: 0;}
.rt-joomla .contact .label-top {display: block;font-weight: bold;font-size: 120%;}
.rt-joomla .contact fieldset div {margin-bottom: 10px;}

/* Weblinks */
.rt-joomla .weblinks fieldset div {overflow: hidden;}
.rt-joomla .weblinks label.label-left {display: block;width: 150px;float: left;}

/* Search */
.rt-joomla .search p.info {margin: 0px;color: #969696;font-style: italic;}
.rt-joomla .search span.highlight {background: #ffffaa;}
.rt-joomla .search_result {margin-top: 15px;}
.rt-joomla .search_result .inputbox {border: 1px solid #ddd;font-size: 1.2em;padding: 2px;margin: 0;}
.rt-joomla .search_result fieldset.word label {display: block;width: 130px;float: left;font-weight: bold;font-size: 120%;}
.rt-joomla .search_result fieldset {margin-bottom: 15px;}
.rt-joomla .search_result .phrase legend, .rt-joomla .search_result .only legend {line-height: 30px;font-weight: bold;}

/* Polls */
dl.poll dt {padding-top: 8px;text-transform: uppercase;font-size: 90%;}
dl.poll dd {font-weight: bold;padding-bottom: 8px;border-bottom: 1px solid #eaeaea;font-size: 120%;}
poll .polls_color_1,.poll .polls_color_2,.poll .polls_color_3,.poll .polls_color_4,.poll .polls_color_5 {border: solid 1px;position: relative;}
.rt-poll h3 {border: solid 0;margin: 20px 0;}
.rt-poll .td_2 {width: 100px;}
.rt-poll .td_3 {width: 300px;}
.rt-poll form {margin: 20px 0;}
.rt-poll table {font-size: 1em;width: 100%;border: solid 0;position: relative;}
.rt-poll table .td_1 {width: 30px;}
.rt-poll table caption {color: #93246F;font-size: 1em;font-weight: bold;margin: 10px 0;text-align:left;}
.rt-poll td {border: solid 1px #eaeaea;padding: 2px 5px;}
.rt-poll td.line {width: 300px;}
.rt-poll th {background: #eee;border: solid 1px #ddd;text-transform: uppercase;}
.rt-poll .question {font-weight: bold;font-size: 110%;}
.rt-poll .rt-pollrow {padding: 6px 0 8px 0;font-size: 110%;}
.rt-poll .rt-pollbuttons {padding: 0;overflow: hidden;margin-top: 20px;}
.rt-poll .readon {float: left;margin-right: 5px;}

/* Newsflash */
.module-newsflash {overflow: hidden;}
.module-newsflash .rt-article {padding-bottom: 15px;overflow: hidden;}
.module-newsflash .last {padding-bottom: 0px;}

/* Accessibility */
#rt-accessibility .rt-desc {float: left;padding-right: 5px;}
#rt-accessibility #rt-buttons {float: left;}
#rt-accessibility .button {display: block;width:14px;height:14px;float: left;background: url(../images/typography.png);margin: 2px;}
#rt-accessibility .large .button {background-position: 0 -17px;}
#rt-accessibility .small .button {background-position: -15px -17px;}

/* Other */
.rt-joomla .categorylist input {border: 1px solid #ddd;font-size: 1.2em;padding: 2px;margin: 0;}
.rt-joomla th {padding: 5px;background: #ebebeb;border-bottom: 2px solid #ddd;font-weight : bold;}
.rt-joomla tr.even td {padding: 5px;background: #f0f0f0;border-bottom: 1px solid #ddd;}
.rt-joomla tr.odd td {padding: 5px;background: #fafafa;border-bottom: 1px solid #ddd;}
.rt-breadcrumb-surround {margin: 0;display: block;position:relative;overflow: hidden;height: 20px;padding: 15px 25px;}

/* Tooltips */
.tool-tip {float: left;background: #ffc;border: 1px solid #D4D5AA;padding: 5px;max-width: 200px;color: #323232;}
.tool-title {padding: 0;margin: 0;font-size: 100%;font-weight: bold;margin-top: -15px;padding-top: 15px;padding-bottom: 5px;background: url(../../system/images/selector-arrow.png) no-repeat;}
.tool-text {font-size: 100%;margin: 0;}

/* System Messages */
/* OpenID icon style */
input.system-openid, input.com-system-openid { background: url(http://openid.net/images/login-bg.gif) no-repeat;background-color: #fff;background-position: 0 50%;color: #000;padding-left: 18px;}


/* Unpublished */
.system-unpublished {background: #e8edf1;border-top: 4px solid #c4d3df;border-bottom: 4px solid #c4d3df;
}

/* System Messages */
#system-message { margin-bottom: 10px; padding: 0;}
#system-message dt { font-weight: bold; }
#system-message dd { margin: 0; font-weight: bold; }
#system-message dd ul { background: #BFD3E6; color: #0055BB; margin: 10px 0 10px 0; list-style: none; padding: 10px; border: 2px solid #84A7DB;}

/* System Standard Messages */
#system-message dt.message { display: none; }

/* System Error Messages */
#system-message dt.error { display: none; }
#system-message dd.error ul { color: #c00; background-color: #EBC8C9; border: 2px solid #DE7A7B;}

/* System Notice Messages */
#system-message dt.notice { display: none; }
#system-message dd.notice ul { color: #A08B4C; background: #F5ECC1; border: 2px solid #F0DC7E;}

/* Debug */
#system-debug { color: #ccc; background-color: #fff; padding: 10px; margin: 10px; }
#system-debug div { font-size: 11px;}