/**
 * @version   2.5.6 April 29, 2010
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2010 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

.rt-joomla .rt-headline, .rt-joomla .rt-article-content, .rt-joomla .rt-article, .rt-joomla .rt-article-bg {zoom: 1;}

/* Side Menus */
#rt-main ul.menu li, #rt-main ul.menu li a {zoom: 1;}

/* Typography */
.rt-pagination .tab {display: inline;}
.rt-pagination .page-block {display: inline;}

/* edit button */
.rt-joomla .edit img {filter: alpha(opacity = 0);}