/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* Frontpage Content */
body .floatleft {float: left;margin-right: 15px;margin-left: 0;}
body .floatright {float: right;margin-left: 15px;margin-right: 0;}
body .nomarginbottom, body .nomarginbottom .rt-block, body ul.nomarginbottom {margin-bottom: 0;}
body .nomargintop, body .nomargintop .rt-block, body ul.nomargintop {margin-top: 0;}
body .nomarginbottom, body .nomarginbottom .rt-block, body ul.nomarginbottom {margin-bottom: 0;}
body .nomarginleft, body .nomarginleft .rt-block, body ul.nomarginleft {margin-left: 0;}
body .nomarginright, body .nomarginright .rt-block, body ul.nomarginright {margin-right: 0;}
body .nopaddingleft {padding-left: 0 !important;}
body .nopaddingright {padding-right: 0 !important;}
body .nopaddingbottom {padding-bottom: 0 !important;}
body .nopaddingtop {padding-top: 0 !important;}
.floatnone {float: none !important;}
.clearnone {clear: none !important;}
.floatleftlast {float: left;margin-right: 0;}
.floatrightlast {float: right;margin-left: 0;}
body .smallmarginbottom {margin-bottom: 5px;}
body .smallmargintop {margin-top: 5px;}
body .medmarginbottom {margin-bottom: 10px;}
body .medmargintop {margin-top: 10px;}

.compact-article .rt-joomla .rt-article {margin-bottom: 0;}
.readonstyle-button .rt-block .fp-readon {margin: 0 auto;display: block !important;width: 95px;}
.jan11-home .flushbottom .bottom-highlight {display: none;}
.jan11-home #rt-utility .flushbottom .rt-module-inner {display: none;}
.jan11-home #rt-utility .flushbottom .title-highlight {display: none;}
.jan11-home #rt-utility .title6 .module-title {margin: -15px -5px 0;}
.jan11-home #rt-utility .title6 .module-title .title {margin-left: -10px;}
.jan11-home .rt-main-inner .rt-grid-8 .rt-block {margin-bottom: 0;padding-bottom: 0;}

body .rt-grid-4 #rokajaxsearch .inputbox {width: 244px;}
body .rt-grid-4 .roksearch-wrapper {width: 268px;}

.client-img {background: url(../images/demo/client.png) no-repeat 0 0;height: 120px;width: 250px;}
.cssstyle-style3 .client-img {background: url(../images/demo/client2.png) no-repeat 0 0;height: 120px;width: 250px;}
.cssstyle-style4 .client-img, .cssstyle-style5 .client-img {background: url(../images/demo/client3.png) no-repeat 0 0;height: 120px;width: 250px;}

.img-frontpage {display: none;}

/* Custom Grid */
.rt-demo-grid-2, .rt-demo-grid-3, .rt-demo-grid-3a, .rt-demo-grid-4, .rt-demo-grid-5, .rt-demo-grid-6, .rt-demo-grid-7 {float: left;margin-left: 10px;margin-right: 10px;}
.rt-demo-grid-2 {width: 140px;}
.rt-demo-grid-3 {width: 200px;}
.rt-demo-grid-4 {width: 310px;}
.rt-demo-grid-5 {width: 400px;}
.rt-demo-grid-6 {width: 500px;}
.rt-demo-grid-7 {width: 560px;}
.rt-demo-grid-alpha {margin-left: 0;}
.rt-demo-grid-omega {margin-right: 0;margin-left: 0;}

/* Tutorials */
.mod-var-link {text-transform: uppercase;}
.readonstyle-button .readon.rt-demo-readon {display: block;text-align: center;}

/* RTL Stuff */
body.rtl .floatleft {float: right;margin-right: 0;margin-left: 8px;}
body.rtl .floatright {float: left;margin-left: 0;margin-right: 8px;}
body.rtl .demo-tut-video-img {margin-right: 0;margin-left: 15px;float: right;}
body.rtl .nopaddingleft {padding-right: 0 !important;}
body.rtl .nopaddingright {padding-left: 0 !important;}
body.rtl .rt-demo-grid-2, body.rtl .rt-demo-grid-3, body.rtl .rt-demo-grid-3a, body.rtl .rt-demo-grid-4, body.rtl .rt-demo-grid-5, body.rtl .rt-demo-grid-6, body.rtl .rt-demo-grid-7 {float: right;}