/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* RokAjaxSearch */
body.rtl .rokajaxsearch {direction: ltr;text-align: right;}
body.rtl #rokajaxsearch .inputbox {padding: 5px 4px 5px 20px;}
body.rtl .roksearch_option {float: right !important;}
body.rtl .search_options {float: right;}
body.rtl .search_options label {margin-right: 0 !important;margin-left: 15px !important;}
body.rtl #rokajaxsearch #roksearch_search_str.loading {background-position: 0 50% !important;}
body.rtl #roksearch_results {direction: ltr;text-align: right;}
body.rtl #roksearch_results .viewall {float: right;}
body.rtl #roksearch_results .estimated_res, body.rtl #roksearch_results .pagination_res {float: right;}
body.rtl #roksearch_results a#roksearch_link {float: left;padding-right: 0;margin-left: 5px;}
body.rtl #roksearch_results .container-arrows {float: right;margin-right: 0;margin-left: 5px;}
body.rtl #roksearch_results span.small {direction: rtl;}

/* RokTabs */
body.rtl .roktabs-wrapper {direction: ltr;text-align: right;}
body.rtl .roktabs-wrapper .roktabs-links ul li {float: right;background-position: 100% 50%;}
body.rtl .roktabs-wrapper .roktabs-links ul li span {padding: 0 14px 0 12px;}
body.rtl .roktabs-wrapper .tab-icon {margin-right: 0;margin-left: 8px;float: right;margin-top: 0px;}
body.rtl .roktabs-wrapper .roktabs-links ul {text-align: right;}

/* RokStories Gallery */
body.rtl .rt-gallery-container {direction: ltr;}
body.rtl .rt-gallery-container .rt-gallery-controls3 {direction: rtl;}
body.rtl .rt-gallery-container .rt-gallery-title {margin-right: 0;margin-left: 10px;}
body.rtl .rt-gallery-container .layout7-title {left:auto;right: 0;}
body.rtl .rt-gallery-container .layout7-title-1 {left:auto;right: 0;}