/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* RokAjaxSearch */
#rokajaxsearch {overflow: hidden;}
body #rokajaxsearch .inputbox {padding: 6px 20px 6px 4px;outline: none;width: 164px;}
body .roksearch-wrapper {width: 188px;}
body #roksearch_results span.small {display: inline;position: relative;text-align: inherit;bottom: 0;right: 0;font-size: 11px;font-style: italic;}
body #roksearch_results a.clr {font-size: 100%;}
body .search_options {float: left;margin: 5px 10px 0 10px;}
body .search_options label {margin-right: 15px !important;padding-bottom: 2px;text-transform: lowercase;}
body #roksearch_results {z-index: 10000;position: absolute;width: 400px;float: right;margin-top: -1px;text-align: left;visibility: hidden;}
body #roksearch_results h3 {margin-top: 0;margin-bottom: 2px;line-height: 110%;font-size: 120%;padding-bottom: 0;}
body #roksearch_results .container-wrapper {overflow: hidden;}
body #roksearch_results .page {float: left;}
body #roksearch_results .roksearch_header, body #roksearch_results .roksearch_row_btm {padding: 5px 10px;line-height: 130%;text-transform: none;font-weight: normal;font-size: 15px;}
body #roksearch_results .roksearch_row_btm {border-bottom: none;}
body #roksearch_results .roksearch_even, body #roksearch_results .roksearch_odd {padding: 10px;border-bottom: none;}
body #roksearch_results .roksearch_even span, body #roksearch_results .roksearch_odd span {margin-top: 15px;line-height: 140%;}
body #roksearch_results .roksearch_even span.highlight, body #roksearch_results .roksearch_odd span.highlight {margin-top: 0;}
body #roksearch_results .roksearch_row_btm {overflow: hidden;}
body #roksearch_results .roksearch_row_btm span {line-height: 140%;}
body #roksearch_results .viewall span {line-height: 130%;text-transform: none;}
body #roksearch_results .viewall {float: left;margin: 0 5px;}
body #roksearch_results .estimated_res, body #roksearch_results .pagination_res {font-size: 9px;font-style: italic;text-transform: none;float:left;}
body #roksearch_results .pagination_res {font-style: normal;float: right;font-size: 11px;margin-top: -1px;}
body #roksearch_results .powered-by-google {text-transform: lowercase;font-style: italic;font-size: 9px;}
body #roksearch_results .google-search a#roksearch_link {margin-top: 5px;}
body #roksearch_results .readon {margin-top: 15px;}
body #roksearch_results .readon span, body #roksearch_results .readon .button {font-size: 13px;line-height: 22px;}
body #roksearch_results .google-thumb-image {margin: 0 auto;}
body .searchintro {overflow: hidden;}
body #roksearch_results .container-arrows {margin-top: 2px;}
body #roksearch_search_str, body #roksearch_search_str.loading {background-color: transparent;border: 0;}
body .roksearch-wrapper {border-radius: 6px;}

/* RokTabs */
.roktabs-wrapper {margin: 0;padding: 0;position: relative;}
.roktabs {position: relative;z-index: 3;}
.roktabs-wrapper p {clear: both;}
.roktabs-wrapper .roktabs-container-inner {position: relative;overflow: hidden;}
.roktabs-wrapper .rt-module-inner {position: relative;}
.roktabs-wrapper .roktabs-container-wrapper {clear: both;position: relative;overflow: hidden;width: 50000px;}
.roktabs-tab1, .roktabs-tab2, .roktabs-tab3, .roktabs-tab4, .roktabs-tab5, .roktabs-tab6, .roktabs-tab7, .roktabs-tab8, .roktabs-tab9, .roktabs-tab10, .roktabs-tab11, .roktabs-tab12, .roktabs-tab13, .roktabs-tab14, .roktabs-tab15, .roktabs-tab16, .roktabs-tab17, .roktabs-tab18, .roktabs-tab19, .roktabs-tab20 {float: left;}
.roktabs-container-wrapper .wrapper {padding: 10px;width: auto;float: none;}
.roktabs-wrapper .roktabs-links {margin: 0;padding: 0 8px;overflow: hidden;height: 46px;position: relative;z-index: 1;}
.roktabs-wrapper .active-arrows .roktabs-links {margin: 0 20px;padding: 0;}
.roktabs-wrapper .roktabs-links ul {text-align: left;list-style-type: none;overflow: hidden;margin: 0;padding: 0;}
.roktabs-wrapper .roktabs-links ul li {float: left;padding: 0;margin: 0;text-decoration: none;position: relative;height: 40px;}
.roktabs-wrapper .roktabs-links ul li.first {background: none;}
.roktabs-wrapper .roktabs-links ul li span {display: block;padding: 0 12px 0 14px;font-size: 20px;height: 40px;line-height: 40px;}
.roktabs-wrapper .roktabs-scroller {position: absolute;bottom: 0;right: 0;}
.roktabs-wrapper .arrow-next, .roktabs-wrapper .arrow-prev {text-align: center;cursor: pointer;z-index: 2;position: absolute;top: 15px;height: 8px;width: 20px;}
.roktabs-wrapper .arrow-prev span, .roktabs-wrapper .arrow-next span {display: none;}
.roktabs-wrapper .arrow-next {background-position: 0 0;background-repeat: no-repeat;right: 0;}
.roktabs-wrapper .arrow-next:hover {background-position: 0 -500px;background-repeat: no-repeat;}
.roktabs-wrapper .arrow-prev {background-position: 0 0;background-repeat: no-repeat;left: 0;}
.roktabs-wrapper .arrow-prev:hover {background-position: 0 -500px;background-repeat: no-repeat;}
.roktabs-wrapper .tab-icon {margin-right: 8px;vertical-align: middle;}
.roktabs-wrapper .top .roktabs-links, .roktabs-wrapper .bottom .roktabs-links {background: none;}
.roktabs-wrapper .top .active-arrows {background-position: 50% 100%;background-repeat: repeat-x;}
.roktabs-wrapper .bottom .active-arrows {background-position: 50% 0;background-repeat: repeat-x;}

/* RokDownloads */
#rokdownloads .rd_pagination .tab, #rokdownloads .rd_pagination .page-block {display: inline-block;margin: 0px 10px;}

/* RokStories Gallery */
.rt-gallery-container {position: relative;height: 325px;}
.rt-gallery {width: 960px;height: 325px;margin: 0 auto;position: relative;z-index: 10;}
.rt-gallery-items {list-style: none;position: relative;left: 0;width: 30000px;margin: 0;padding: 0;}
.rt-gallery-items li {list-style: none;display: inline;float: left;margin: 0;padding: 0;}
.rt-gallery-items li img {width: 960px;height: 325px;}
.rt-gallery-overlay {height: 325px;width: 100%;position: absolute;z-index: 100;}
.rt-gallery-overlay2 {height: 325px;width: 100%;position: absolute;top: 0;}
.rt-gallery-overlay3 {height: 265px;width: 100%;position: absolute;bottom: -30px;padding: 30px 0;}
.rt-gallery-overlay4 {height: 325px;width: 100%;}
.rt-gallery-container .rt-gallery-controls-container {position: absolute;width: 100%;bottom: -6px;z-index: 300;}
.rt-gallery-container .rt-gallery-controls {text-align: center;position: relative;z-index:300;}
.rt-gallery-container .rt-gallery-controls2 {display: inline-block;margin-left: 50px;}
.rt-gallery-container .rt-gallery-controls3 {margin-left: -50px;padding: 18px 18px 12px 18px;height: 24px;}
.rt-gallery-container .rt-gallery-controls ul {margin: 0 auto;display: inline-block;list-style: none;padding: 0;}
.rt-gallery-container .rt-gallery-controls ul li {display: inline-block;float: left;margin: 0 2px;width: 15px;height: 15px;cursor: pointer;background-position: 0 -23px;background-repeat: no-repeat;}
.rt-gallery-container .rt-gallery-controls ul .previous {margin: 0 10px 0 0;width: 10px;background-position: -22px -23px;}
.rt-gallery-container .rt-gallery-controls ul .previous:hover {background-position: -22px -0;}
.rt-gallery-container .rt-gallery-controls ul .next {margin: 0 0 0 10px;width: 10px;background-position: -43px -23px;}
.rt-gallery-container .rt-gallery-controls ul .next:hover {background-position: -43px 0;}
.rt-gallery-container .rt-gallery-controls ul li.active {background-position: 0 0;}
.rt-gallery-container .rt-gallery-title {font-size: 26px;font-weight: bold;line-height: 26px;display: inline-block;margin-right: 10px;height: 22px;position:relative;}
.rt-gallery-container .layout7-title {position:absolute;top: 0;left:0;visibility:hidden;display:block;white-space:nowrap;}
.rt-gallery-container .layout7-title-1 {position:relative;top: 0;left:0;visibility:visible;}

/* Elijah's Toggle Description */

.toggleDescription {display:none;}
.toggleDescription.ativa {
    display: block;
    margin: 0 10px 20px;
}