/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

body {word-wrap: break-word;}
body .rt-wrapper {overflow: hidden;}
body .rt-container {background: transparent;}

#rt-page-background2 {padding-bottom:0;}

#rt-header #rt-logo {margin:2px auto 50px;}
body.cssstyle-style4 #rt-header #rt-logo, body.cssstyle-style5 #rt-header #rt-logo, body.cssstyle-style6 #rt-header #rt-logo, body.cssstyle-style7 #rt-header #rt-logo, body.cssstyle-style8 #rt-header #rt-logo {margin:20px auto 40px;}

body.cssstyle-style1 #rt-logo {background: url(../images/logo/style1/logo.png) 0 0 no-repeat;}
body.cssstyle-style2 #rt-logo {background: url(../images/logo/style2/logo.png) 0 0 no-repeat;}
body.cssstyle-style3 #rt-logo {background: url(../images/logo/style3/logo.png) 0 0 no-repeat;}
body.cssstyle-style4 #rt-logo {background: url(../images/logo/style4/logo.png) 0 0 no-repeat;}
body.cssstyle-style5 #rt-logo {background: url(../images/logo/style5/logo.png) 0 0 no-repeat;}
body.cssstyle-style6 #rt-logo {background: url(../images/logo/style6/logo.png) 0 0 no-repeat;}
body.cssstyle-style7 #rt-logo {background: url(../images/logo/style7/logo.png) 0 0 no-repeat;}
body.cssstyle-style8 #rt-logo {background: url(../images/logo/style8/logo.png) 0 0 no-repeat;}

body #rt-body-background {margin: 0;}
body #rt-menu {margin-top: -20px;}
body.cssstyle-style6 #rt-menu, body.cssstyle-style8 #rt-menu {margin-top:-24px;}
body.cssstyle-style7 #rt-menu {margin-top:-32px;}

body.cssstyle-style3 #rt-header-content {margin-bottom: -100px;}
body.cssstyle-style4 #rt-header-content, body.cssstyle-style5 #rt-header-content, body.cssstyle-style6 #rt-header-content, body.cssstyle-style7 #rt-header-content, body.cssstyle-style8 #rt-header-content {margin-bottom: -45px;}

body.cssstyle-style2 #rt-header-background2 {margin-top:-165px !important;}

body #rt-header .rt-block {padding: 0 10px 10px !important;}
body #rt-header {padding: 0 !important;}
body #rt-showcase, body #rt-main {background: none;padding: 0;}
#rt-body-surround {margin-top:  15px !important;background: none !important;}
body #rt-copyright {padding: 0;}
body #rt-footer {color: inherit !important;text-align:center;}
body #rt-body-bg2 {margin: 0;}
body #more-articles {margin: 0px;}
body .rt-articleinfo {position: relative;background: transparent;border:none;}
body h1 {border-bottom:0;}
body .component-content .rt-author {margin-bottom: 10px;}
body .rt-articleinfo .rt-article-icons {float:none; position: absolute; top: -1px;right: 10px;}
body .rt-date-posted, body .rt-author, body .rt-date-modified {display: block;}
.module-title .title {font-size: 180%;}
body #rocket {background-position: 0 0;background-repeat: no-repeat;}
body #gantry-logo {background-position: 0 -36px;}
body #developed-by, body #powered-by {font-size: 100%;}
body #developed-by a {background-position-y: 8px;}
body #powered-by {width: 102px;}
body #developed-by a, body #powered-by a {margin: 0 auto;height: 26px;vertical-align: middle;}
body #rt-showcase .rt-container .rt-block {background: none;border-radius: 0;-webkit-border-radius: 0;border: 0;-webkit-box-shadow: none;text-shadow: none;}
body #rt-showcase a.readon {text-shadow: none;}
body .readon .button {text-indent: 10px;}
body.rtl #rt-menu ul, body.rtl #rt-menu ul li {direction: ltr;float: left !important;}
body span.inset-left, body span.inset-right {width: 45%;}
body #rt-bottom .rt-block, body #rt-main .rt-block {padding: 0px;}


/* Joomla */
body .weblinks .rt-joomla-table img {width: 16px;height: 16px;}
.rt-joomla .edit img {display: none;}
body .rt-joomla .rt-article-bg {margin: 0 !important;padding: 0 !important;}
.rt-joomla .rt-article {margin: 0 10px !important;padding: 0 !important;}

/* K2 */
body span.catItemImage img {padding: 0;border: 0;}
body div.catItemImageBlock {padding: 0;}

/* RokQuickCart */
body .cart_quickcart h2 {width: auto;margin-right: 0;}
body .cart_cartstatus {float: none;}
body .cart_yourcart {margin-right: 0;}

/* Demo Content */
body img[src$="iphone.jpg"], body .fp-jomsocial img {-webkit-background-size: 100% 100%;}
body #rt-logo {margin: 0 auto;}