/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* Article */
.component-content .rt-article {margin-bottom: 35px;}
.component-content .rt-article-cat {margin-top: 10px;margin-bottom: 15px;}
.component-content .rt-article-bg {border-bottom: none;margin: 0;padding: 0;}
.component-content .rt-pagetitle {margin-top: 0;margin-bottom: 30px;font-weight: normal;letter-spacing: normal;font-size: 170%;}
.component-content .rt-blog .rt-description {border-bottom: none;}
.component-content  ol {margin-left: 5px;}
.component-content .rt-teaser-articles {display: inline-block;margin-top: 20px;}
.component-content .rt-more-articles {padding-top: 15px;}
.component-content #more-articles {display: block;margin: 0;padding: 0;position: relative;height: 24px;}
.component-content #more-articles span {display: inline-block;margin: 0;padding: 0 20px 0 0;line-height: 24px;font-size: 15px;float: right;background-position: 100% 6px;background-repeat: no-repeat}
.component-content #more-articles.spinner {background-image:url(../images/spinner.gif);background-position: 0 50%;background-repeat: no-repeat;}
.component-content #more-articles.disabled {cursor: default;}
.component-content .multicolumns .rt-article {clear: both;margin-bottom: 35px;}
.component-content .rt-author, .component-content .rt-date-posted, .component-content .rt-date-modified {line-height: 140%;margin-right: 15px;}
.component-content .rt-articleinfo {margin: -4px 0 0 0;}
.component-content .rt-articleinfo2 {margin: 0;}
.component-content .rt-articleinfo-text {float: left;padding-top: 8px;}
.component-content .article-header {padding: 8px 0;margin: 0 0 15px 0;}
.component-content .article-date-box {width: 50px;height: 50px;display: block;float: left;border-radius: 6px;margin-top: -4px;margin-bottom: 5px;}
.component-content .article-date-box2 {padding: 10px 10px 0 10px;}
.component-content .date-item {display: block;text-align: center;font-size: 16px;line-height: 16px;}
.component-content .month-item {display: block;text-align: center;font-size: 12px;}
.component-content .article-title-box {margin-left: 60px;}

/* Column Layout */
.component-content .float-left {float: left;margin-left: 15px;}
.component-content .first.float-left, .component-content .float-left.width100 {margin-left: 0;}
.component-content .float-right {float: right;}
.component-content .multicolumns {width: 100%;}
.component-content .width25 {width: 22.7%;}
.component-content .width33 {width: 31.333%;}
.component-content .width50 {width: 48.5%;}
.component-content .width100 {width: 100%;}

/* Typography */
.component-content .rt-article-icons {width: auto;white-space: nowrap;float: right;}
.component-content .icon {display: block;width: 17px;height: 17px;float: left;margin-left: 5px;}
.component-content .print {background-position: 0 0;background-repeat: no-repeat;}
.component-content .email {background-position: -34px 0;background-repeat: no-repeat;}
.component-content .pdf {background-position: -68px 0;background-repeat: no-repeat;}
.component-content .edit {background-position: -98px 0;}
.component-content a:hover .print {background-position: 0 -36px;}
.component-content a:hover .email {background-position: -34px -36px;}
.component-content a:hover .pdf {background-position: -68px -36px;}
.component-content .edit:hover {background-position: -98px -36px;}
.component-content .edit {margin-left: 4px !important;}
.component-content .edit img {opacity: 0 !important;}
.tool-tip {z-index: 1000 !important;}
#form-login ul, #com-form-login ul, ul.rt-more-articles, .rt-section-list ul, ul.mostread, ul.latestnews, .weblinks ul, #rt-popuplogin ul {padding: 0 0 15px 0;}
#rt-popuplogin ul {margin-top: 10px;}
#form-login ul li, #com-form-login ul li, ul.rt-more-articles li, .rt-section-list ul li, ul.mostread li, ul.latestnews li, .weblinks ul li, #rt-popuplogin ul li {list-style: none;}
#form-login ul li a, #com-form-login ul li a, ul.rt-more-articles li a, .rt-section-list ul li a, ul.mostread li a, ul.latestnews li a, .weblinks ul li a, #rt-popuplogin ul li a {padding: 0 0 0 18px;background-position: 0 9px;background-repeat: no-repeat;display: block;line-height: 160%;font-size: 110%;font-weight: normal;}
#form-login ul li a:hover, #com-form-login ul li a:hover, ul.rt-more-articles li a:hover, .rt-section-list ul li a:hover, ul.mostread li a:hover, ul.latestnews li a:hover, .weblinks ul li a:hover, #rt-popuplogin ul li a:hover {background-position: 0 -491px;}
#form-login .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2 {width: 178px !important;padding: 6px 4px;outline: none;}
#rt-popuplogin .inputbox {width: 164px;padding: 6px 4px;outline: none;font-size: 14px;}
#com-form-login .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#password2 {width: 260px;}
#com-form-login #remember.inputbox {width: auto;}
#com-form-login .inputbox {padding: 5px 10px;outline: none;}
.rt-pagination {margin-top: 15px;}
ul.pagination {list-style-type: none;margin: 0;padding: 0;text-align: left;}
ul.pagination li {display: inline;padding: 2px 5px 0;text-align: left;}
ul.pagination li a {padding: 2px;}
#com-form-login ul {margin-top: 15px;}
#form-login ul {padding-left: 0;}
#form-login {overflow: hidden;}
.component-content .results ol.list {margin-top: 0;}
.component-content .results ol.list h4 {border: 0;margin-top: 0;margin-bottom: 0;display: inline;}
.component-content .results ol.list li {padding: 10px 5px;margin-bottom: 5px;}
.component-content .results ol.list li p {margin-top: 0;font-size: 90%;}
.component-content .results ol.list .description {margin-bottom: 15px;}
.component-content .results ol.list li span.small {font-size: 90%;}
.component-content .rt-article-links h3, .component-content .user legend, .component-content .contact legend {font-weight: normal;font-size: 170%;line-height: 120%;letter-spacing: normal;}
.component-content .user {margin-top: 15px;}
.component-content .user legend {margin-top: 15px;}
.component-content .user .label-left {padding: 4px 0;}
.component-content .user fieldset div {overflow: visible;clear: both;margin-bottom: 8px;}
.component-content .user td.paramlist_key {width: 180px;}
.component-content .search_result select#ordering.inputbox {margin-right: 10px;}
#rt-main-surround .component-content .inputbox.invalid {color: #c00;}
.rt-joomla-table {padding-bottom: 20px;}
.component-content .rt-joomla-table td {border: 0;padding: 8px;}
.component-content .rt-joomla-table th {border: 0;}
.component-content tr.odd td, .component-content tr.even td {border: 0;}
.contact .rt-joomla-table, .contact .rt-joomla-table th, .contact .rt-joomla-table tbody, .contact .rt-joomla-table td, .rt-joomla-table .odd, .rt-joomla-table .even {background: none;border: 0;}
.component-content .rt-description img {margin-right: 15px;}
#rt-mainbody .my-pagenav {float: left;margin-left: 10px;}
.tab {display: inline-block;margin-right: 10px;text-align: center;}
.page-block {display: inline-block;margin-right: 4px;font-weight: bold;text-align: center;}
.page-active, .page-inactive {padding: 0 4px;}
.page-inactive:hover {cursor: pointer;}
.search_result label {margin-right: 10px;}
.search_result legend {font-size: 14px;padding-bottom: 5px;}

/* Polls */
.fusion-submenu-wrapper .rt-pollrow {font-size: 100%;}
.rt-poll .rt-pollrow {padding: 8px 0 10px 0;}
.rt-poll .readon {float: none;margin-right: 5px;}
.rt-poll .rt-pollbuttons {margin: 10px 0 0 0;}
.readonstyle-link .rt-poll .readon {float: left;margin-right: 20px;}
.pollstableborder td div {border: 0;height: 10px !important;min-width: 2px;}
.rt-poll .pollstableborder th, .rt-poll .pollstableborder td, .rt-poll .poll dd {border: 0;}

/* SmartLoad */
img.spinner {background: url(../images/spinner.gif) center center no-repeat;}
.weblinks td img {width:16px;height:16px;}

/* Editing */
.component-content .edit-article fieldset legend {font-size: 230%;}
.component-content .edit-article fieldset div {overflow: visible;margin-bottom: 8px;}
.component-content .edit-article fieldset #editor-xtd-buttons div {clear: none;}
#system-message dd.notice {border: 0;background: none;}
.component-content .save .readon {margin-left: 10px;}
div.calendar {z-index: 9999;}
.button2-left {background: url(../images/system/j_button2_left.png) no-repeat !important;color: #666;}
.button2-left .image {background: url(../images/system/j_button2_image.png) 100% 0 no-repeat !important;}
.button2-left .readmore {background: url(../images/system/j_button2_readmore.png) 100% 0 no-repeat !important;}
.button2-left .pagebreak {background: url(../images/system/j_button2_pagebreak.png) 100% 0 no-repeat !important;}
.button2-left .blank {background: url(../images/system/j_button2_blank.png) 100% 0 no-repeat !important;}
.button2-left .linkmacro {background: url(../images/system/j_button2_rokcandy.png) 100% 0 no-repeat !important;}

/* Buttons */
#editor-xtd-buttons {padding: 5px 0;}
.button2-left {margin-top: 5px;margin-right: 5px;}
.button2-left, .button2-right, .button2-left div, .button2-right div {float: left;}
.component-content  .button2-left .linkmacro, .component-content  .button2-left .image {background: none;}
.button2-left a, .button2-right a, .button2-left span, .button2-right span {display: block;height: 22px;float: left;line-height: 22px;font-size: 11px;cursor: pointer;margin-bottom: 5px;}
.button2-left span, .button2-right span {cursor: default;}
.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span {padding: 0 6px;}
.button2-left a:hover, .button2-right a:hover {text-decoration: none;}
.button2-left a, .button2-left span {padding: 0 24px 0 6px;}
.button2-right a, .button2-right span {padding: 0 6px 0 24px;}
.button2-left .blank a {padding-right: 6px;}
.img_caption.left {float: left;margin-right: 1em;}
.img_caption.right {float: right;margin-left: 1em;}
.img_caption.left p {clear: left;text-align: center;}
.img_caption.right p {clear: right;text-align: center;}
.img_caption {text-align: center !important;}
.edit-article fieldset div input, .edit-article fieldset textarea {padding: 4px;}
.edit-article fieldset div .label-left {padding: 0;}
.edit-article fieldset div img.calendar {vertical-align: middle;margin-left: 5px;}

/* System Messages */
#system-message dd ul, #system-message dd.error ul, #system-message dd.notice ul {border: 0;font-size: 1.2em;text-align: center;}

/* Compatibility */
#recaptcha_widget_div {position: absolute;top: -140px;}
#emailForm fieldset div.readon {position: relative;margin-top: 140px;}
#emailForm fieldset div.readon br {display: none;}