/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* Article */
body.rtl .component-content ol {margin-left: 0;margin-right: 5px;}
body.rtl #more-articles {float: left;}
body.rtl #more-articles span {float: none;padding: 0 0 0 20px;background-position: 0 6px;}
body.rtl #more-articles.spinner {background-position: 100% 50%;background-repeat: no-repeat;}
body.rtl .component-content .rt-author, body.rtl .component-content .rt-date-posted, body.rtl .component-content .rt-date-modified {margin-right: 0;margin-left: 15px;}
body.rtl .component-content .rt-articleinfo-text {float: right;}
body.rtl .component-content .article-date-box {float: right;}
body.rtl .component-content .article-title-box {margin-left: 0;margin-right: 60px;}

/* Column Layout */
body.rtl .component-content .float-left {float: right;margin-left: 0;margin-right: 15px;}
body.rtl .component-content .first.float-left, body.rtl .component-content .float-left.width100 {margin-left: inherit;margin-right: 0;}
body.rtl .component-content .float-right {float: left;}

/* Typography */
body.rtl .component-content .rt-article-icons {float: left;}
body.rtl .component-content .icon {float: right;margin-right: 5px;margin-left: 0;}
body.rtl #form-login ul li a, body.rtl #com-form-login ul li a, body.rtl ul.rt-more-articles li a, body.rtl .rt-section-list ul li a, body.rtl ul.mostread li a, body.rtl ul.latestnews li a, body.rtl .weblinks ul li a {padding-left: 0;padding-right: 24px;background-position: 100% 5px;}
body.rtl .rt-pollbuttons {overflow: visible;}
body.rtl .rt-pollbuttons .readon {float: right !important;margin: 0 0 0 10px;}
body.rtl .readonstyle-link .module-content .rt-poll .readon {float: right !important;margin-right: 0;margin-left: 20px;}
body.rtl .rt-pollrow {direction: ltr;text-align: right;}
body.rtl .rt-comment-block {float: left;}
body.rtl .component-content .search_result fieldset.word label {float: right;}
body.rtl .component-content .label-left {float: right;}
body.rtl .rt-date-posted span {line-height: 24px;}
body.rtl .component-content .contact .image {float:left;}
body.rtl pre {direction: ltr;text-align: right;}
body.rtl ul.pagination {text-align: right;}
body.rtl ul.pagination li {text-align: right;}
body.rtl .component-content .search_result select#ordering.inputbox {margin-right: 0;margin-left: 10px;}
body.rtl #rt-main-surround ul, body.rtl #rt-main-surround ol {padding-left: 0;padding-right: 25px;}

/* Editing */
body.rtl .button2-left, body.rtl .button2-right, body.rtl .button2-left div, body.rtl .button2-right div {float: right;}
body.rtl #editor-xtd-buttons {float: right;}
body.rtl .edit-article fieldset table {float: right;}
body.rtl .component-content .save .readon {margin-left: 0;margin-right: 5px;}
body.rtl .component-content .save {margin-left: 25px;}