/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
/* Global */
.menutop li {height: auto;margin: 0;padding: 0;position: relative;list-style: none;}
.menutop em {font-size: 80%;font-weight: normal;display: block;font-style: normal;}
.menutop li .item .menutop li.active .item {display: block;margin: 0;text-decoration: none;float: none;width: auto;}

/* Root Items */
.menutop {list-style: none;margin: 0;padding: 0 5px;position: relative;line-height: 1em;}
.menutop li {float: left;margin: 0;padding: 0 10px;background-position: 0 50%;background-repeat: no-repeat;}
.menutop li .item {white-space: nowrap;display: block;font-size: 18px;z-index: 100;cursor: pointer;position: relative;padding: 0;margin: 0 -3px;outline: none;font-weight: normal;height: 40px;line-height: 40px;}
.menutop li .item span {display: block;outline: none;padding: 0 13px;width: auto;position: relative;}
.menutop li .item em {font-size: 12px;display: block;font-style: normal;line-height: 100%;text-align: left;margin-top: -5px;}
.menutop li .subtext {line-height: 32px;}

/* RTL */
body.rtl .menutop li {float: right;}