/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Core - Text Colors */
a:hover {color: #000;}

/* Header - Text Colors */
#rt-top a:hover, #rt-header a:hover {color: #fff;}

/* Top Menu - Text Colors */
.menutop li > .item {color: #333;}

/* Module Varations - Text Colors */
.title {color: #333;text-shadow: 1px 1px 2px #fff;}
#rt-header-surround .title, #rt-footer-surround .title {color: #fff;text-shadow: -1px -1px 2px #000;}
.title1 .title, #rt-header-surround .title1 .title, #rt-footer-surround .title1 .title, #rt-header-surround .box2.title1 .title, #rt-footer-surround .box2.title1 .title, .box4.title1 .title, .box5.title1 .title {color: #fff;text-shadow: -1px -1px 2px #444;}
.title2 .title, #rt-header-surround .title2 .title, #rt-footer-surround .title2 .title, .box4.title2 .title, .box5.title2 .title {color: #333;text-shadow: 1px 1px 2px #fff;}
.title3 .title, #rt-header-surround .title3 .title, #rt-footer-surround .title3 .title, .box4.title3 .title, .box5.title3 .title {color: #fff;text-shadow: -1px -1px 2px #721A1A;}
.title3 a:hover {color: #fff;}
.title4 .title, .title5 .title {color: #333;text-shadow: 1px 1px 2px #fff;}
.icon1 .title, .icon2 .title, .icon3 .title, .icon4 .title, .icon5 .title {background-image: url(../images/style8/title-icons.png);}
.icon6 .title, .icon7 .title, .icon8 .title, .icon9 .title, .icon10 .title {background-image: url(../images/style8/title-icons2.png);}
.box1 .rt-module-surround {color: #fff;}
.box1 .title, #rt-header-surround .box1 .title, #rt-footer-surround .box1 .title {color: #fff;text-shadow: -1px -1px 2px #444;}
.box1 a:hover, #rt-header-surround .box1 a:hover, #rt-footer-surround .box1 a:hover {color: #fff;}
.box2 .rt-module-surround {color: #fff;}
.box2 .title, #rt-header-surround .box2 .title, #rt-footer-surround .box2 .title {color: #333;text-shadow: 1px 1px 2px #fff;}
.box2 a, #rt-header-surround .box2 a, #rt-footer-surround .box2 a {color: #ddd;}
.box2 a:hover, #rt-header-surround .box2 a:hover, #rt-footer-surround .box2 a:hover {color: #fff;}
.box3 .rt-module-surround {color: #fff;}
.box3 .title, #rt-header-surround .box3 .title, #rt-footer-surround .box3 .title {color: #fff;text-shadow: -1px -1px 2px #721A1A;}
.box3 a, #rt-header-surround .box3 a, #rt-footer-surround .box3 a {color: #EAD7D7;}
.box3 a:hover, #rt-header-surround .box3 a:hover, #rt-footer-surround .box3 a:hover {color: #fff;}
.box4 .title, #rt-header-surround .box4 .title, #rt-footer-surround .box4 .title {color: #333;text-shadow: 1px 1px 2px #fff;}
.box4 a:hover, #rt-header-surround .box4 a:hover, #rt-footer-surround .box4 a:hover {color: #000;}
.box5 .title, #rt-header-surround .box5 .title, #rt-footer-surround .box5 .title {color: #333;text-shadow: 1px 1px 2px #fff;}
.box5 a:hover, #rt-header-surround .box5 a:hover, #rt-footer-surround .box5 a:hover {color: #000;}

/* Side Menu - Text Colors */
.module-content ul.menu li a:hover, .module-content ul.menu li .separator:hover, .module-content ul.menu li .item:hover, .module-content ul.menu li.active > a, .module-content ul.menu li.active > .separator, .module-content ul.menu li.active > .item {color: #333;}

/* Footer - Text Colors */
#rt-footer-surround a:hover {color: #fff;}

/* Typography - Text Colors */
.readon span, .readon .button {color: #fff;text-shadow: -1px -1px 2px #444;}
.button2 .readon span, .button2 .readon .button {color: #333;text-shadow: 1px 1px 2px #fff;}
.button3 .readon span, .button3 .readon .button {color: #fff;text-shadow: -1px -1px 2px #721A1A;}
.readonstyle-link .readon:hover span, .readonstyle-link .readon .button:hover {color: #fff;}
.readonstyle-link #rt-header-surround .readon:hover span, .readonstyle-link #rt-header-surround .readon .button:hover, .readonstyle-link #rt-footer-surround .readon:hover span, .readonstyle-link #rt-footer-surround .readon .button:hover {color: #000;}
.rt-author, .rt-date-posted, .rt-date-modified {color: #777;}
.article-date-box {background: #ddd;}
.date-item {color: #000;}
.month-item {color: #777;}

/* Background */
body.backgroundlevel-high {background: #333 url(../images/style8/backgrounds/scrolling-bg.jpg) 50px 0 repeat;}
body {background: #333;}

/* Logo */
#rt-logo {background: url(../images/logo/style8/logo.png);}

/* Header */
#rt-header-surround2 {padding-bottom: 25px;}
.backgroundlevel-high #rt-header-background, .backgroundlevel-med #rt-header-background {height: 25px;}
.backgroundlevel-high #rt-header-content, .backgroundlevel-med #rt-header-content {margin-bottom: 0;}
#rt-top .rt-container {position: relative;}
#rt-header .rt-block, #rt-top .rt-block {position: relative;z-index: 1000;}
.fixedheader-1 #rt-header-surround {position: fixed;top: 0;width: 100%;z-index: 10000;}
#rt-header-surround {background: url(../images/style8/header-gradient.png) 50% 100% repeat-x;}
#rt-header-surround2 {background: url(../images/style8/shadow-divider.png) 50% 100% no-repeat;}
.backgroundlevel-high #rt-header-surround3 {background: url(../images/style8/backgrounds/scrolling-bg.jpg) 0 -800px repeat;}
.backgroundlevel-med #rt-header-surround3, .backgroundlevel-low #rt-header-surround3 {background: #333;}
.backgroundlevel-high #rt-header-background, .backgroundlevel-med #rt-header-background {background: url(../images/style8/backgrounds/header-bg.png) 50% 100% repeat-x;}
#rt-body-background {background: #eee;}

/* Top Menu */
#rt-navigation {background: #eee;}
#rt-navigation {padding-top: 5px;}
.menutop .fusion-submenu-wrapper {background: url(../images/style8/black-overlay.png);}
.menutop ul li {background: url(../images/style8/divider-line2.png) 50% 100% repeat-x;}
.menutop ul li > .daddy span {background-image: url(../images/style8/arrows-right.png);}
.menutop li.parent.root .item span .daddyicon, .menutop li.root .daddy.item .daddyicon {background-image: url(../images/style8/topdaddy.png);}

/* Showcase */
#rt-showcase {background: url(../images/style8/shadow-divider.png) 50% 100% no-repeat;}

/* Main Body */
#rt-mainbody .rt-module-surround3 {background: #eee;}
.main-shadow {background: url(../images/style8/main-shadow-r.png) 100% 0 no-repeat;}
.main-shadow2 {background: url(../images/style8/main-shadow-l.png) 0 0 no-repeat;}
.main-fade {background: url(../images/style8/footer-gradient.png) 50% 0 repeat-x;}
.main-fade2 {background: url(../images/style8/header-gradient.png) 50% 100% repeat-x;}
.main-fade3 {background: #eee;}
.component-content .article-header {background: url(../images/style8/divider-line.png) 50% 100% repeat-x;}

/* Module Variations */
.title1 .module-title {background: #000 url(../images/style8/title1-bg.png) 50% 0 repeat-x;}
.title2 .module-title {background: #999 url(../images/style8/title2-bg.png) 50% 0 repeat-x;}
.title3 .module-title {background: #9B0303 url(../images/style8/title3-bg.png) 50% 0 repeat-x;}
.title4 .module-title {background: #ddd;}
.title5 .module-title {background: #fff;}
.title6 .module-title {background: url(../images/style8/divider-line.png) 50% 100% repeat-x;}
.box1 .rt-module-surround {border: 1px solid #fff;}
#rt-header-surround .box1 .rt-module-surround, #rt-footer-surround .box1 .rt-module-surround {border: 1px solid #000;}
.box1 .rt-module-surround2 {border: 1px solid #333;}
.box1 .rt-module-surround3 {background: #000 url(../images/style8/title1-bg.png) 50% 0 repeat-x;}
.box2 .rt-module-surround {border: 1px solid #fff;}
#rt-header-surround .box2 .rt-module-surround, #rt-footer-surround .box2 .rt-module-surround {border: 1px solid #000;}
.box2 .rt-module-surround2 {border: 1px solid #999;}
.box2 .rt-module-surround3 {background: #999 url(../images/style8/title2-bg.png) 50% 0 repeat-x;}
.box3 .rt-module-surround {border: 1px solid #fff;}
#rt-header-surround .box3 .rt-module-surround, #rt-footer-surround .box3 .rt-module-surround {border: 1px solid #000;}
.box3 .rt-module-surround2 {border: 1px solid #B43B3B;}
.box3 .rt-module-surround3 {background: #9B0303 url(../images/style8/title3-bg.png) 50% 0 repeat-x;}
.box4 .rt-module-surround {border: 1px solid #fff;}
#rt-header-surround .box4 .rt-module-surround, #rt-footer-surround .box4 .rt-module-surround {border: 1px solid #000;}
.box4 .rt-module-surround2 {border: 1px solid #ccc;}
.box4 .rt-module-surround3 {background: #ddd;}
.box5 .rt-module-surround {border: 1px solid #fff;}
#rt-header-surround .box5 .rt-module-surround, #rt-footer-surround .box5 .rt-module-surround {border: 1px solid #000;}
.box5 .rt-module-surround2 {border: 1px solid #ddd;}
.box5 .rt-module-surround3 {background: #fff;}
.box1 .top-highlight, .box2 .top-highlight, .box3 .top-highlight, .box4 .top-highlight, .box5 .top-highlight, .title7 .top-highlight {background: url(../images/style8/top-highlight-r.png) 100% 0 no-repeat;}
.box1 .top-highlight2, .box2 .top-highlight2, .box3 .top-highlight2, .box4 .top-highlight2, .box5 .top-highlight2, .title7 .top-highlight2 {background: url(../images/style8/top-highlight-l.png) 0 0 no-repeat;}
.box1.title1 .title-highlight, .box1.title2 .title-highlight, .box1.title3 .title-highlight, .box1.title4 .title-highlight, .box1.title5 .title-highlight, .box2.title1 .title-highlight, .box2.title2 .title-highlight, .box2.title3 .title-highlight, .box2.title4 .title-highlight, .box2.title5 .title-highlight, .box3.title1 .title-highlight, .box3.title2 .title-highlight, .box3.title3 .title-highlight, .box3.title4 .title-highlight, .box3.title5 .title-highlight, .box4.title1 .title-highlight, .box4.title2 .title-highlight, .box4.title3 .title-highlight, .box4.title4 .title-highlight, .box4.title5 .title-highlight, .box5.title1 .title-highlight, .box5.title2 .title-highlight, .box5.title3 .title-highlight, .box5.title4 .title-highlight, .box5.title5 .title-highlight, .title8 .title-highlight {background: url(../images/style8/top-highlight-r.png) 100% 0 no-repeat;}
.box1.title1 .title-highlight2, .box1.title2 .title-highlight2, .box1.title3 .title-highlight2, .box1.title4 .title-highlight2, .box1.title5 .title-highlight2, .box2.title1 .title-highlight2, .box2.title2 .title-highlight2, .box2.title3 .title-highlight2, .box2.title4 .title-highlight2, .box2.title5 .title-highlight2, .box3.title1 .title-highlight2, .box3.title2 .title-highlight2, .box3.title3 .title-highlight2, .box3.title4 .title-highlight2, .box3.title5 .title-highlight2, .box4.title1 .title-highlight2, .box4.title2 .title-highlight2, .box4.title3 .title-highlight2, .box4.title4 .title-highlight2, .box4.title5 .title-highlight2, .box5.title1 .title-highlight2, .box5.title2 .title-highlight2, .box5.title3 .title-highlight2, .box5.title4 .title-highlight2, .box5.title5 .title-highlight2, .title8 .title-highlight2 {background: url(../images/style8/top-highlight-l.png) 0 0 no-repeat;}
.box1 .bottom-highlight, .box2 .bottom-highlight, .box3 .bottom-highlight, .box4 .bottom-highlight, .box5 .bottom-highlight {background: url(../images/style8/bottom-highlight-r.png) 100% 0 no-repeat;}
.box1 .bottom-highlight2, .box2 .bottom-highlight2, .box3 .bottom-highlight2, .box4 .bottom-highlight2, .box5 .bottom-highlight2 {background: url(../images/style8/bottom-highlight-l.png) 0 0 no-repeat;}
.box1 .bottom-shadow, .box2 .bottom-shadow, .box3 .bottom-shadow, .box4 .bottom-shadow, .box5 .bottom-shadow {background: url(../images/style8/bottom-shadow-r.png) 100% 0 no-repeat;}
.box1 .bottom-shadow2, .box2 .bottom-shadow2, .box3 .bottom-shadow2, .box4 .bottom-shadow2, .box5 .bottom-shadow2 {background: url(../images/style8/bottom-shadow-l.png) 0 0 no-repeat;}

/* Side Menu */
.module-content ul.menu li {background: url(../images/style8/divider-line.png) 50% 100% repeat-x;}
.module-content ul.menu li > a, .module-content ul.menu li > .separator, .module-content ul.menu li > .item {background-image: url(../images/style8/arrows-right.png);}

/* Footer */
.backgroundlevel-high #rt-footer-surround, .backgroundlevel-med #rt-footer-surround {padding-top: 25px;background: url(../images/style8/backgrounds/header-bg.png) 50% 0 repeat-x;}
#rocket {background-image: url(../images/style8/branding.png);}

/* Typography */
.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .search_result .inputbox, .component-content .contact .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2 {background: url(../images/style8/input-bg.png);border: 1px solid #fff;}
.component-content .icon, #breadcrumbs-home {background-image: url(../images/style8/utility-icons.png);}
.component-content .rt-joomla-table tr.even td, .component-content .rt-joomla-table th {background: #f7f7f7 url(../images/style8/divider-line.png) 50% 100% repeat-x;}
.component-content .rt-joomla-table tr.odd td {background: url(../images/style8/divider-line.png) 50% 100% repeat-x;}
.rokradios, .rokchecks, .rokradios-active, .rokchecks-active {background-image: url(../images/style8/rokinputs.png);}
#more-articles span, #form-login ul li a, #com-form-login ul li a, ul.rt-more-articles li a, .rt-section-list ul li a, ul.mostread li a, ul.latestnews li a, .weblinks ul li a, #rt-popuplogin ul li a {background-image: url(../images/style8/arrows-right.png);}
.readon {background-image: url(../images/style8/readon-r.png);}
.readon span, .readon .button {background-image: url(../images/style8/readon-l.png);}
.controls .up, .controls .down {background-image: url(../images/style8/scroll-arrows.png);}
span.breadcrumbs img {background: url(../images/style8/arrows-right.png) 0 7px no-repeat;}
.rt-pollrow {background: url(../images/style8/divider-line.png) 50% 100% repeat-x;}

/* RokAjaxSearch */
.roksearch-wrapper {background: url(../images/style8/input-bg.png) 50% 0 repeat-x;border: 1px solid #fff;}
body #roksearch_search_str {background-image: url(../images/style8/search-icon.png);}
body #roksearch_results {background: #999;border: 1px solid #fff;}
body #roksearch_results span {color: #666;}
body #roksearch_results .roksearch_header, body #roksearch_results .roksearch_row_btm {background: url(../images/style8/input-bg.png);border-bottom: 1px solid #fff;}
body #roksearch_results span.small {color: #777;}
body #roksearch_results span.highlight {background: #fff;color: #333;}
body #roksearch_results a:hover {color: #000;}
body #roksearch_results .roksearch_odd {background: url(../images/style8/divider-line2.png) 50% 100% repeat-x;}
body #roksearch_results .roksearch_even {background: url(../images/style8/divider-line2.png) 50% 100% repeat-x;}
body #roksearch_results .container-wrapper {background: url(../images/style8/input-bg.png);}
body #roksearch_results .roksearch_odd-hover, body #roksearch_results .roksearch_even-hover {background-color: #eee;}
body #roksearch_results .rokajaxsearch-overlay {background-color: #eee;}

/* RokStories */
.rt-gallery-overlay2 {background: url(../images/style8/rokstories-overlay.png) 50% 0 no-repeat;}
.rt-gallery-overlay3 {background: url(../images/style8/rokstories-overlay2.png) 50% 100% no-repeat;}
.rt-gallery-overlay4 {background: url(../images/style8/rokstories-overlay3.png) 50% 0 repeat-y;}
.rt-gallery-controls2 {background: url(../images/style8/rokstories-tab-r.png) 100% 0 no-repeat;}
.rt-gallery-controls3 {background: url(../images/style8/rokstories-tab-l.png) 0 0 no-repeat;}
.rt-gallery-controls ul li {background-image: url(../images/style8/rokstories-controls.png);}
.rt-gallery-title, .rt-gallery-title a {color: #555;text-shadow: 1px 1px 2px #eee;}
.rt-gallery-title a:hover {color: #000;}

/* RokTabs */
.roktabs-links ul li {background: url(../images/style8/vertical-divider.png) 0 50% no-repeat;}
.roktabs-wrapper .arrow-next {background-image: url(../images/style8/arrows-right.png);}
.roktabs-wrapper .arrow-prev {background-image: url(../images/style8/arrows-left.png);}
.roktabs-wrapper .active-arrows {background-image: url(../images/style8/divider-line.png);}

/* RTL */
body.rtl .menutop ul li > .daddy span {background-image: url(../images/style8/arrows-left.png);}
body.rtl .module-content ul.menu li > a, body.rtl .module-content ul.menu li > .separator, body.rtl .module-content ul.menu li > .item {background-image: url(../images/style8/arrows-left.png);}
body.rtl #more-articles span, body.rtl #form-login ul li a, body.rtl #com-form-login ul li a, body.rtl ul.rt-more-articles li a, body.rtl .rt-section-list ul li a, body.rtl ul.mostread li a, body.rtl ul.latestnews li a, body.rtl .weblinks ul li a, body.rtl #rt-body.rtl popuplogin ul li a {background-image: url(../images/style8/arrows-left.png);}
body.rtl span.breadcrumbs img {background: url(../images/style8/arrows-left.png) 0 7px no-repeat;}