/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Core - Text Colors */
a:hover {color: #fff;}

/* Header - Text Colors */
#rt-top a:hover, #rt-header a:hover {color: #000;}

/* Top Menu - Text Colors */
.menutop li > .item {color: #ddd;}

/* Module Varations - Text Colors */
.title {color: #CACBCB;text-shadow: -1px -1px 2px #151515;}
#rt-header-surround .title, #rt-footer-surround .title {color: #000;text-shadow: 1px 1px 2px #fff;}
.title1 .title, #rt-header-surround .title1 .title, #rt-footer-surround .title1 .title, .box4.title1 .title, .box5.title1 .title {color: #fff;text-shadow: -1px -1px 2px #444;}
.title2 .title, #rt-header-surround .title2 .title, #rt-footer-surround .title2 .title, .box4.title2 .title, .box5.title2 .title {color: #fff;text-shadow: -1px -1px 2px #444;}
.title3 .title, #rt-header-surround .title3 .title, #rt-footer-surround .title3 .title, .box4.title3 .title, .box5.title3 .title {color: #fff;text-shadow: -1px -1px 2px #444;}
.title3 a {color: #C57800;}
.title3 a:hover {color: #fff;}
.title4 .title, .title5 .title {color: #CACBCB;text-shadow: -1px -1px 2px #000;}
.icon1 .title, .icon2 .title, .icon3 .title, .icon4 .title, .icon5 .title {background-image: url(../images/style1/title-icons.png);}
.icon6 .title, .icon7 .title, .icon8 .title, .icon9 .title, .icon10 .title {background-image: url(../images/style1/title-icons2.png);}
.box1 .rt-module-surround {color: #fff;}
.box1 .title, #rt-header-surround .box1 .title, #rt-footer-surround .box1 .title {color: #fff;text-shadow: -1px -1px 2px #444;}
.box1 a:hover, #rt-header-surround .box1 a:hover, #rt-footer-surround .box1 a:hover {color: #fff;}
.box2 .rt-module-surround {color: #fff;}
.box2 .title, #rt-header-surround .box2 .title, #rt-footer-surround .box2 .title {color: #fff;text-shadow: -1px -1px 2px #444;}
.box2 a, #rt-header-surround .box2 a, #rt-footer-surround .box2 a {color: #F0FFB4;}
.box2 a:hover, #rt-header-surround .box2 a:hover, #rt-footer-surround .box2 a:hover {color: #fff;}
.box3 .rt-module-surround {color: #fff;}
.box3 .title, #rt-header-surround .box3 .title, #rt-footer-surround .box3 .title {color: #fff;text-shadow: -1px -1px 2px #444;}
.box3 a, #rt-header-surround .box3 a, #rt-footer-surround .box3 a {color: #FFE4AC;}
.box3 a:hover, #rt-header-surround .box3 a:hover, #rt-footer-surround .box3 a:hover {color: #fff;}
.box4 .title, #rt-header-surround .box4 .title, #rt-footer-surround .box4 .title {color: #CACBCB;text-shadow: -1px -1px 2px #151515;}
.box4 a:hover, #rt-header-surround .box4 a:hover, #rt-footer-surround .box4 a:hover {color: #fff;}
.box5 .title, #rt-header-surround .box5 .title, #rt-footer-surround .box5 .title {color: #CACBCB;text-shadow: -1px -1px 2px #000;}
.box5 a:hover, #rt-header-surround .box5 a:hover, #rt-footer-surround .box5 a:hover {color: #fff;}

/* Side Menu - Text Colors */
.module-content ul.menu li a:hover, .module-content ul.menu li .separator:hover, .module-content ul.menu li .item:hover, .module-content ul.menu li.active > a, .module-content ul.menu li.active > .separator, .module-content ul.menu li.active > .item {color: #fff;}

/* Footer - Text Colors */
#rt-footer-surround a:hover {color: #000;}

/* Typography - Text Colors */
.readon span, .readon .button {color: #fff;text-shadow: -1px -1px 2px #333;}
.readonstyle-link .readon:hover span, .readonstyle-link .readon .button:hover {color: #fff;}
.readonstyle-link #rt-header-surround .readon:hover span, .readonstyle-link #rt-header-surround .readon .button:hover, .readonstyle-link #rt-footer-surround .readon:hover span, .readonstyle-link #rt-footer-surround .readon .button:hover {color: #000;}
.rt-author, .rt-date-posted, .rt-date-modified {color: #696D70;}
.article-date-box {background: #151515;}
.date-item {color: #fff;}
.month-item {color: #696D70;}

/* Background */
body {background: #EDF5F8;}

/* Logo */
#rt-logo {background: url(../images/logo/style1/logo.png);}

/* Header */
#rt-header-surround2 {padding-bottom: 25px;}
.backgroundlevel-high #rt-header-background, .backgroundlevel-med #rt-header-background {height: 140px;}
.backgroundlevel-high #rt-header-background2 {height: 140px;margin-top: -140px;visibility: hidden;}
.backgroundlevel-high #rt-header-background3 {height: 140px;margin-top: -140px;visibility: hidden;}
.backgroundlevel-high #rt-header-content, .backgroundlevel-med #rt-header-content {margin-bottom: -90px;}
#rt-top .rt-container {position: relative;}
#rt-header .rt-block, #rt-top .rt-block {position: relative;z-index: 1000;}
.fixedheader-1 #rt-header-surround {position: fixed;top: 0;width: 100%;z-index: 10000;}
#rt-top, #rt-header, .backgroundlevel-low #rt-header-background {background: #EDF5F8;}
#rt-header {background: #EDF5F8;}
#rt-header-surround {background: url(../images/style1/header-gradient.png) 50% 100% repeat-x;}
#rt-header-surround2 {background: url(../images/style1/shadow-divider.png) 50% 100% no-repeat;}
.backgroundlevel-high #rt-header-background, .backgroundlevel-med #rt-header-background {background: url(../images/style1/backgrounds/header-bg.jpg) 50% 100% repeat-x;}
.backgroundlevel-high #rt-header-background2 {background: url(../images/style1/backgrounds/header-bg2.jpg) 50% 100% repeat-x;}
.backgroundlevel-high #rt-header-background3 {background: url(../images/style1/backgrounds/header-bg3.jpg) 50% 100% repeat-x;}
#rt-body-background {background: #2D3235;}

/* Top Menu */
#rt-navigation {background: #2D3235;}
.backgroundlevel-low #rt-navigation {padding-top: 5px;}
.menutop .fusion-submenu-wrapper {background: url(../images/style1/black-overlay.png);}
.menutop ul li {background: url(../images/style1/divider-line2.png) 50% 100% repeat-x;}
.menutop ul li > .daddy span {background-image: url(../images/style1/arrows-right.png);}
.menutop li.parent.root .item span .daddyicon, .menutop li.root .daddy.item .daddyicon {background-image: url(../images/style1/topdaddy.png);}

/* Showcase */
#rt-showcase {background: url(../images/style1/shadow-divider.png) 50% 100% no-repeat;}

/* Main Body */
#rt-mainbody .rt-module-surround3 {background: #2D3235;}
.main-shadow {background: url(../images/style1/main-shadow-r.png) 100% 0 no-repeat;}
.main-shadow2 {background: url(../images/style1/main-shadow-l.png) 0 0 no-repeat;}
.main-fade {background: url(../images/style1/footer-gradient.png) 50% 0 repeat-x;}
.main-fade2 {background: url(../images/style1/header-gradient.png) 50% 100% repeat-x;}
.main-fade3 {background: #2D3235;}
.component-content .article-header {background: url(../images/style1/divider-line.png) 50% 100% repeat-x;}

/* Module Variations */
.title1 .module-title {background: #53585F url(../images/style1/title1-bg.png) 50% 0 repeat-x;}
.title2 .module-title {background: #77B21D url(../images/style1/title2-bg.png) 50% 0 repeat-x;}
.title3 .module-title {background: #C57800 url(../images/style1/title3-bg.png) 50% 0 repeat-x;}
.title4 .module-title {background: #272C2E;}
.title5 .module-title {background: #151515;}
.title6 .module-title {background: url(../images/style1/divider-line.png) 50% 100% repeat-x;}
.box1 .rt-module-surround {border: 1px solid #212427;}
#rt-header-surround .box1 .rt-module-surround, #rt-footer-surround .box1 .rt-module-surround {border: 1px solid #fff;}
.box1 .rt-module-surround2 {border: 1px solid #727780;}
.box1 .rt-module-surround3 {background: #53585F url(../images/style1/title1-bg.png) 50% 0 repeat-x;}
.box2 .rt-module-surround {border: 1px solid #212427;}
#rt-header-surround .box2 .rt-module-surround, #rt-footer-surround .box2 .rt-module-surround {border: 1px solid #fff;}
.box2 .rt-module-surround2 {border: 1px solid #A3C723;}
.box2 .rt-module-surround3 {background: #77B21D url(../images/style1/title2-bg.png) 50% 0 repeat-x;}
.box3 .rt-module-surround {border: 1px solid #212427;}
#rt-header-surround .box3 .rt-module-surround, #rt-footer-surround .box3 .rt-module-surround {border: 1px solid #fff;}
.box3 .rt-module-surround2 {border: 1px solid #D98900;}
.box3 .rt-module-surround3 {background: #C57800 url(../images/style1/title3-bg.png) 50% 0 repeat-x;}
.box4 .rt-module-surround {border: 1px solid #212427;}
#rt-header-surround .box4 .rt-module-surround, #rt-footer-surround .box4 .rt-module-surround {border: 1px solid #fff;}
.box4 .rt-module-surround2 {border: 1px solid #363B3E;}
.box4 .rt-module-surround3 {background: #272C2E;}
.box5 .rt-module-surround {border: 1px solid #191919;}
#rt-header-surround .box5 .rt-module-surround, #rt-footer-surround .box5 .rt-module-surround {border: 1px solid #fff;}
.box5 .rt-module-surround2 {border: 1px solid #333;}
.box5 .rt-module-surround3 {background: #151515;}
.box1 .top-highlight, .box2 .top-highlight, .box3 .top-highlight, .box4 .top-highlight, .box5 .top-highlight, .title7 .top-highlight {background: url(../images/style1/top-highlight-r.png) 100% 0 no-repeat;}
.box1 .top-highlight2, .box2 .top-highlight2, .box3 .top-highlight2, .box4 .top-highlight2, .box5 .top-highlight2, .title7 .top-highlight2 {background: url(../images/style1/top-highlight-l.png) 0 0 no-repeat;}
.box1.title1 .title-highlight, .box1.title2 .title-highlight, .box1.title3 .title-highlight, .box1.title4 .title-highlight, .box1.title5 .title-highlight, .box2.title1 .title-highlight, .box2.title2 .title-highlight, .box2.title3 .title-highlight, .box2.title4 .title-highlight, .box2.title5 .title-highlight, .box3.title1 .title-highlight, .box3.title2 .title-highlight, .box3.title3 .title-highlight, .box3.title4 .title-highlight, .box3.title5 .title-highlight, .box4.title1 .title-highlight, .box4.title2 .title-highlight, .box4.title3 .title-highlight, .box4.title4 .title-highlight, .box4.title5 .title-highlight, .box5.title1 .title-highlight, .box5.title2 .title-highlight, .box5.title3 .title-highlight, .box5.title4 .title-highlight, .box5.title5 .title-highlight, .title8 .title-highlight {background: url(../images/style1/top-highlight-r.png) 100% 0 no-repeat;}
.box1.title1 .title-highlight2, .box1.title2 .title-highlight2, .box1.title3 .title-highlight2, .box1.title4 .title-highlight2, .box1.title5 .title-highlight2, .box2.title1 .title-highlight2, .box2.title2 .title-highlight2, .box2.title3 .title-highlight2, .box2.title4 .title-highlight2, .box2.title5 .title-highlight2, .box3.title1 .title-highlight2, .box3.title2 .title-highlight2, .box3.title3 .title-highlight2, .box3.title4 .title-highlight2, .box3.title5 .title-highlight2, .box4.title1 .title-highlight2, .box4.title2 .title-highlight2, .box4.title3 .title-highlight2, .box4.title4 .title-highlight2, .box4.title5 .title-highlight2, .box5.title1 .title-highlight2, .box5.title2 .title-highlight2, .box5.title3 .title-highlight2, .box5.title4 .title-highlight2, .box5.title5 .title-highlight2, .title8 .title-highlight2 {background: url(../images/style1/top-highlight-l.png) 0 0 no-repeat;}
.box1 .bottom-highlight, .box2 .bottom-highlight, .box3 .bottom-highlight, .box4 .bottom-highlight, .box5 .bottom-highlight {background: url(../images/style1/bottom-highlight-r.png) 100% 0 no-repeat;}
.box1 .bottom-highlight2, .box2 .bottom-highlight2, .box3 .bottom-highlight2, .box4 .bottom-highlight2, .box5 .bottom-highlight2 {background: url(../images/style1/bottom-highlight-l.png) 0 0 no-repeat;}
.box1 .bottom-shadow, .box2 .bottom-shadow, .box3 .bottom-shadow, .box4 .bottom-shadow, .box5 .bottom-shadow {background: url(../images/style1/bottom-shadow-r.png) 100% 0 no-repeat;}
.box1 .bottom-shadow2, .box2 .bottom-shadow2, .box3 .bottom-shadow2, .box4 .bottom-shadow2, .box5 .bottom-shadow2 {background: url(../images/style1/bottom-shadow-l.png) 0 0 no-repeat;}

/* Side Menu */
.module-content ul.menu li {background: url(../images/style1/divider-line.png) 50% 100% repeat-x;}
.module-content ul.menu li > a, .module-content ul.menu li > .separator, .module-content ul.menu li > .item {background-image: url(../images/style1/arrows-right.png);}

/* Footer */
.backgroundlevel-high #rt-footer-surround, .backgroundlevel-med #rt-footer-surround {padding-top: 95px;background: #EDF5F8 url(../images/style1/backgrounds/footer-bg.jpg) 50% 0 repeat-x;}
#rocket {background-image: url(../images/style1/branding.png);}

/* Typography */
.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .search_result .inputbox, .component-content .contact .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2 {background: url(../images/style1/input-bg.png);border: 1px solid #363B3E;color: #CACBCB;}
.component-content .icon, #breadcrumbs-home {background-image: url(../images/style1/utility-icons.png);}
.component-content .rt-joomla-table tr.even td, .component-content .rt-joomla-table th {background: #323A3E url(../images/style1/divider-line.png) 50% 100% repeat-x;}
.component-content .rt-joomla-table tr.odd td {background: url(../images/style1/divider-line.png) 50% 100% repeat-x;}
.rokradios, .rokchecks, .rokradios-active, .rokchecks-active {background-image: url(../images/style1/rokinputs.png);}
#more-articles span, #form-login ul li a, #com-form-login ul li a, ul.rt-more-articles li a, .rt-section-list ul li a, ul.mostread li a, ul.latestnews li a, .weblinks ul li a, #rt-popuplogin ul li a {background-image: url(../images/style1/arrows-right.png);}
.readon {background-image: url(../images/style1/readon-r.png);}
.readon span, .readon .button {background-image: url(../images/style1/readon-l.png);}
.controls .up, .controls .down {background-image: url(../images/style1/scroll-arrows.png);}
span.breadcrumbs img {background: url(../images/style1/arrows-right.png) 0 7px no-repeat;}
.rt-pollrow {background: url(../images/style1/divider-line.png) 50% 100% repeat-x;}

/* RokAjaxSearch */
.roksearch-wrapper {background: url(../images/style1/input-bg.png) 50% 0 repeat-x;border: 1px solid #363B3E;}
body #roksearch_search_str {background-image: url(../images/style1/search-icon.png);}
body #roksearch_results {background: #2D3235;border: 1px solid #363B3E;}
#roksearch_results span {color: #696D70;}
body #roksearch_results .roksearch_header, body #roksearch_results .roksearch_row_btm {background: url(../images/style1/input-bg.png);border-bottom: 1px solid #363B3E;}
body #roksearch_results span.small {color: #696D70;}
body #roksearch_results span.highlight {background: #23272A;color: #fff;}
body #roksearch_results a:hover {color: #fff;}
body #roksearch_results .roksearch_odd {background: url(../images/style1/divider-line2.png) 50% 100% repeat-x;}
body #roksearch_results .roksearch_even {background: url(../images/style1/divider-line2.png) 50% 100% repeat-x;}
body #roksearch_results .container-wrapper {background: url(../images/style1/input-bg.png);}
body #roksearch_results .roksearch_odd-hover, body #roksearch_results .roksearch_even-hover {background-color: #23272A;}
body #roksearch_results .rokajaxsearch-overlay {background-color: #23272A;}

/* RokStories */
.rt-gallery-overlay2 {background: url(../images/style1/rokstories-overlay.png) 50% 0 no-repeat;}
.rt-gallery-overlay3 {background: url(../images/style1/rokstories-overlay2.png) 50% 100% no-repeat;}
.rt-gallery-overlay4 {background: url(../images/style1/rokstories-overlay3.png) 50% 0 repeat-y;}
.rt-gallery-controls2 {background: url(../images/style1/rokstories-tab-r.png) 100% 0 no-repeat;}
.rt-gallery-controls3 {background: url(../images/style1/rokstories-tab-l.png) 0 0 no-repeat;}
.rt-gallery-controls ul li {background-image: url(../images/style1/rokstories-controls.png);}
.rt-gallery-title, .rt-gallery-title a {color: #536E02;text-shadow: 1px 1px 2px #B1CB5F;}
.rt-gallery-title a:hover {color: #333;}

/* RokTabs */
.roktabs-links ul li {background: url(../images/style1/vertical-divider.png) 0 50% no-repeat;}
.roktabs-wrapper .arrow-next {background-image: url(../images/style1/arrows-right.png);}
.roktabs-wrapper .arrow-prev {background-image: url(../images/style1/arrows-left.png);}
.roktabs-wrapper .active-arrows {background-image: url(../images/style1/divider-line.png);}

/* RTL */
body.rtl .menutop ul li > .daddy span {background-image: url(../images/style1/arrows-left.png);}
body.rtl .module-content ul.menu li > a, body.rtl .module-content ul.menu li > .separator, body.rtl .module-content ul.menu li > .item {background-image: url(../images/style1/arrows-left.png);}
body.rtl #more-articles span, body.rtl #form-login ul li a, body.rtl #com-form-login ul li a, body.rtl ul.rt-more-articles li a, body.rtl .rt-section-list ul li a, body.rtl ul.mostread li a, body.rtl ul.latestnews li a, body.rtl .weblinks ul li a, body.rtl #rt-body.rtl popuplogin ul li a {background-image: url(../images/style1/arrows-left.png);}
body.rtl span.breadcrumbs img {background: url(../images/style1/arrows-left.png) 0 7px no-repeat;}