/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* Root Items */
#rt-header ul {margin:0;z-index: 999;position: relative;margin-top:3px;}
#rt-header li {list-style:none;float:left;height:28px;position:relative;}
#rt-header li .item {white-space: nowrap;display: block;float: left;font-weight: bold;padding: 0 15px;font-size: 12px;z-index: 100;cursor: pointer;position:relative;margin: 0;outline: none;text-transform: uppercase;line-height: 31px;}
#rt-header li .item span {display: block;margin: 0;outline: none;padding: 7px 0;}
#rt-header li a:hover, #rt-header li:hover a, #rt-header li.sfHover a {text-decoration:none;}

/* Dropdowns */
#rt-header li ul {position:absolute;width:180px;left:-999em;margin:0;z-index:999;background-image:none !important;}
#rt-header li ul ul {margin:-50px 0 0 180px;z-index:999;zoom: 1;}
#rt-header li:hover ul ul, #rt-header li:hover ul ul ul, #rt-header li:hover ul ul ul ul, #rt-header li.sfHover ul ul, #rt-header li.sfHover ul ul ul, #rt-header li.sfHover ul ul ul ul {left:-999em;}
#rt-header li li {margin: 0;padding:0;height:auto;width:180px;}
#rt-header li li .item, #rt-header li li.active .item, #rt-header li li .item:hover {margin:0;padding: 0 0 0 15px;height: auto;float: none;width: auto;line-height:20px;display: block;}
#rt-header li li .item span, #rt-header li li.active .item span, #rt-header li li .item:hover span {width: auto;display: block;line-height: 20px;text-transform: none;}
#rt-header li li a, #rt-header li.active li a {font-weight:normal;}
#rt-header li:hover ul, #rt-header li.sfHover ul {left:0;top: 45px;}
#rt-header li li:hover ul, #rt-header li li li:hover ul, #rt-header li li li li:hover ul, #rt-header li li.sfHover ul, #rt-header li li li.sfHover ul, #rt-header li li li li.sfHover ul {left:0;}