/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
 
/* Core */
body {text-rendering: optimizeSpeed;}

/* Menus */
.menutop .fusion-submenu-wrapper {-moz-box-shadow: 0 0 8px rgba(255,255,255,0.2);-moz-border-radius: 5px;}
.cssstyle-style6 .menutop .fusion-submenu-wrapper, .cssstyle-style7 .menutop .fusion-submenu-wrapper, .cssstyle-style8 .menutop .fusion-submenu-wrapper {-moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);}

/* Typography */
.rokradios, .rokchecks {line-height: 140%;}
#more-articles span {line-height: 24px;}
.rt-image {-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);}
.readonstyle-button button.readon span {margin: -2px 0 0 -8px;}
.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .search_result .inputbox, .component-content .contact .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2, #roksearch_search_str {-moz-border-radius: 6px;-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.7);}
.cssstyle-style6 .inputbox, .cssstyle-style6 #roksearch_search_str, .cssstyle-style7 .inputbox, .cssstyle-style7 #roksearch_search_str, .cssstyle-style8 .inputbox, .cssstyle-style8 #roksearch_search_str {-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);}
body .roksearch-wrapper {-moz-border-radius: 6px;}
.component-content .article-date-box {-moz-border-radius: 6px;}

/* Module Variations */
.title1 .module-title, .title2 .module-title, .title3 .module-title, .title4 .module-title, .title5 .module-title {-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;}
.box1 .rt-module-surround, .box2 .rt-module-surround, .box3 .rt-module-surround, .box4 .rt-module-surround, .box5 .rt-module-surround {-moz-border-radius: 6px;}
.box1 .rt-module-surround2, .box2 .rt-module-surround2, .box3 .rt-module-surround2, .box4 .rt-module-surround2, .box5 .rt-module-surround2 {-moz-border-radius: 6px;}
.box1 .rt-module-surround3, .box2 .rt-module-surround3, .box3 .rt-module-surround3, .box4 .rt-module-surround3, .box5 .rt-module-surround3 {-moz-border-radius: 5px;}
.top-highlight {-moz-border-radius-topright: 6px;}
.top-highlight2 {-moz-border-radius-topleft: 6px;}

/* Transitions */
a {-moz-transition: color .3s ease-out;}
.readon:hover span, .readon:hover .button {-moz-transition: color .3s ease-out;}
.roksearch_odd:hover, .roksearch_even:hover {-moz-transition: background 0.3s ease-out;}
.menutop li.active.root > .item, .menutop li.active.root.f-mainparent-itemfocus > .item,
.menutop li.root:hover > .item, .menutop li.root.f-mainparent-itemfocus > .item, .menu-type-splitmenu .menutop li.active > .item, .menu-type-splitmenu .menutop li:hover > .item, .menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item, .menutop li.active > .item {-moz-transition: background 0.2s ease-out;}