/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */
 
/* Core */
body {text-rendering: optimizeSpeed;}
h1, h2, h3, h4, h5 {text-rendering: optimizeLegibility;}

/* Shadows */
.menutop .fusion-submenu-wrapper {-webkit-box-shadow: 0 0 8px rgba(255,255,255,0.2);}
.cssstyle-style6 .menutop .fusion-submenu-wrapper, .cssstyle-style7 .menutop .fusion-submenu-wrapper, .cssstyle-style8 .menutop .fusion-submenu-wrapper {-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);}

/* Typography */
.rt-image {-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);}
.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .search_result .inputbox, .component-content .contact .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2, #roksearch_search_str {-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.7);}
.cssstyle-style6 .inputbox, .cssstyle-style6 #roksearch_search_str, .cssstyle-style7 .inputbox, .cssstyle-style7 #roksearch_search_str, .cssstyle-style8 .inputbox, .cssstyle-style8 #roksearch_search_str {-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);}

/* Transitions */
a {-webkit-transition: color .3s ease-out;}
.readon:hover span, .readon:hover .button {-webkit-transition: color .3s ease-out;}
.roksearch_odd:hover, .roksearch_even:hover {-webkit-transition: background 0.3s ease-out;}
.menutop li.active.root > .item, .menutop li.active.root.f-mainparent-itemfocus > .item,
.menutop li.root:hover > .item, .menutop li.root.f-mainparent-itemfocus > .item, .menu-type-splitmenu .menutop li.active > .item, .menu-type-splitmenu .menutop li:hover > .item, .menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item, .menutop li.active > .item {-webkit-transition: background 0.2s ease-out;}