/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* Zooms */
#rt-debug, #rt-bottom-surround, #rt-feature, #rt-feature-wrapper, #rt-utility, #rt-shadowbar, #rt-copyright, #rt-header, #rt-showcase, #rt-maintop, #rt-mainbottom, #rt-bottom, .rt-module-inner, .module-title, .module-inner, .module-content, ul.menutop, #rt-navigation, #rt-subnavigation, #rt-logo, #rt-bottom, #rt-footer, #rt-footerbar, #form-login, .module-content, .rt-article-bg, #rt-page-background, #rt-header-overlay, .rt-main-inner, #rt-body-surround, #rt-body-surround2, #rt-body-surround3, #developed-by, #gantry-totop, #rt-bottom-overlay, .controls, #rt-footer, #rt-footer-surround, .rt-main-inner, #rt-body-overlay, #rt-body-background, #rt-top .controls, #rt-top .rt-container, #k2Container, .itemListCategoriesBlock, .itemList, .k2Pagination, #itemListPrimary, #itemListLeading, .itemContainer, .itemListView, .catItemRatingBlock, .catItemView, .k2TagCloudBlock, #rt-feature .controls, #rt-bottom .controls, .rt-module-surround3, .controls .up, .controls .down, #rt-header-surround2, #rt-header-surround3 {zoom: 1;}
.rt-ie-zindex-body {position: relative;z-index: 2;}
.rt-ie-zindex {position: relative;z-index: 1;}
#rt-page-surround {position: relative;}
.rt-module-surround3 {padding-top:1px;}
/* Menus */
#rt-navigation {z-index:300;position:relative;}
.module-content ul.menu a, .module-content ul.menu .separator, .module-content ul.menu .item {text-indent: 0 !important;display: inline-block;}
.menutop ul li:hover, .menutop li.f-menuparent-itemfocus, .menutop .fusion-grouped ol li:hover, .menutop .fusion-grouped ol li.f-menuparent-itemfocus {zoom: 1;}
.menutop li.parent.root .item span .daddyicon, .menutop li.root .daddy.item .daddyicon {zoom: 1;width: 22px !important;}
.menutop .fusion-submenu-wrapper {zoom: 1;}
.fusion-grouped ol li .item {zoom: 1;}
.menutop ul li, .fusion-grouped ol {zoom: 1;}
.menutop ul li:hover, .menutop li.f-menuparent-itemfocus, .menutop .fusion-grouped ol li:hover, .menutop .fusion-grouped ol li.f-menuparent-itemfocus {zoom: 1;}
.menutop ul li > .daddy span {zoom: 1;}
body .menutop li > .item {zoom: 1;}
.fusion-submenu-wrapper li > .item span {line-height:120%;}
.fusion-submenu-wrapper .columns2 .item:hover {zoom: 1;}
body .menutop ul.columns2 li {margin-left: 0;}
.menutop .level3 {zoom: 1;padding-bottom: 8px;margin-left: 0px;}
.module-content ul.menu .subtext em {padding-left: 0px;}
.menutop li.root > .item em {bottom: 4px !important;}
.menutop li > .item span {width:auto !important;}
.menutop .item, .menutop .item span, .menutop li {zoom:1;}

/* Breadcrumb */
.rt-breadcrumb-surround {display: inline;zoom: 1;position: relative;}
.rt-breadcrumb-surround .pathway img, .rt-breadcrumb-surround #breadcrumbs-home  {margin-top: 3px;}
.rt-breadcrumb-surround .no-link, .rt-breadcrumb-surround .pathway{line-height: 16px;zoom: 1;position: relative;}

/* Main Body */
.rt-joomla .rt-articleinfo {zoom: 1;z-index: 10;position: relative;}
.rt-article-icons {padding: 10px 75px !important;}
fieldset legend {color: #666;}

/* Fix for overflow on the collapsing pannel */
#rt-showcase .rt-grid-12 .rt-block {padding-bottom: 0;}

/* Typography */
.readon {display: inline !important;zoom:1;}
.readon span {display: inline-block;}
.readon .button {background-color: transparent !important;}
.rt-pollbuttons .readon {float: left !important;margin-right: 5px;}
.bullet-c, .bullet-c li {list-style-type: decimal !important;}
#rt-header #form-login-remember, #rt-top #form-login-remember {padding-top: 4px;}
#rt-header #form-login-remember .rokchecks, #rt-top #form-login-remember .rokchecks {padding-top: 1px;}
.dropcap {vertical-align:top;}

/* RokStories */
.rt-gallery-overlay, .rt-gallery-overlay2, .rt-gallery-overlay3, .rt-gallery-overlay4 {zoom: 1;left:0 !important;}
.rt-gallery-title {zoom: 1;display: inline !important;float: left;}
.rt-gallery-controls {width: 480px;zoom: 1;margin: 0 auto;}
.rt-gallery-controls ul {float: right;padding-top:8px !important;}

/* RokNavMenu Login Module */
.menutop #form-login .input .inputbox {width: 100%;}

/* RokTwittie */
.roktwittie li, .roktwittie .roktwittie-text {zoom: 1;}
.roktwittie li, .roktwittie-text .roktwittie-date {display: inline;}

/* RokTabs */
.roktabs-wrapper .roktabs-links ul.roktabs-top li.active span {zoom: 1;}
.roktabs-wrapper .roktabs-links li span {white-space: nowrap !important;}
.roktabs-wrapper .roktabs .active-arrows {z-index: 2;}
.roktabs-wrapper .roktabs .roktabs-container-inner {z-index: 1;}

/* RokAjaxSearch */
.rokajaxsearchbox1 {zoom: 1;position: relative;}
#roksearch_results .container-wrapper {position: relative;zoom: 1;}
#roksearch_results .container-scroller {position: relative;zoom: 1;}
#roksearch_results span.small span {display: inline-block;margin-top: 0;margin-bottom: 0;font-size: 10px;}
.search_result .display {clear: both;}
.rokajaxsearch {zoom: 1;position: relative;display: inline-block;padding-bottom: 10px;}
body .roksearch_header {zoom: 1;}
.roksearch_wrapper1, .roksearch_wrapper2, .roksearch_wrapper3, .roksearch_wrapper4 {zoom: 1;}
#roksearch_search_str {zoom: 1;}
.roksearch_results .png {zoom: 1;}

/* RokQuickCart */
.cart_quickcart {overflow:hidden;}
.cart_quickcart .cart_buttons {position:relative;display:inline-block;float:right;margin-right:0;overflow:hidden;}
.readonstyle-button .simpleCart_checkout:link, .readonstyle-button .simpleCart_checkout .simpleCart_empty:link {float:right;}
.cart_quickcart .cart_buttons, .cart_product_add, .cart_product_content {zoom: 1;}
.cart_quickcart .cart_yourcart_items .simpleCart_items {padding-bottom: 15px;}

/* Search Fields */
.phrase .inputbox {vertical-align: middle;}

/* Popup */
#rt-popupmodule-button .buttontext, #rt-login-button .buttontext {width: 120px;display: block;}
#rt-popupmodule-button .buttontext .desc, #rt-login-button .buttontext .desc {float: right;}

/* Joomla */
.rt-joomla .rt-article-icons {margin: 0px !important;display: inline-block;zoom: 1;width: auto;padding: 0px !important;}
.rt-joomla ol {margin-left: 10px;}
.rt-joomla .user legend {margin-left: -9px;}
.rt-joomla .rt-blog .module-content {display: inline;zoom: 1;position: relative;}
#system-message dd ul {zoom: 1;}
body.rtl #com-form-login label {float: right;}

.title8 {}
.title-highlight {height:auto;position:relative;}
.title-highlight2 {height:auto;padding-top:14px;}
.module-content p {zoom:1;}

/* Joomla Form */
#rt-mainbody .rt-joomla-table {margin-top: 40px;display: block;background: none;}

/* K2 */
.k2CategoriesListBlock ul {margin-left: 8px !important;}
.k2Pagination .tab, .k2Pagination .page-block {position: relative;display: inline;margin: 0 10px;zoom: 1;}
body #k2Container .catItemCommentsLink {margin-left: 10px;float: left;}
body #itemListLeading {position: relative;zoom: 1;}
body .itemContainer {margin: 0;width: 100%;}
body .k2TagCloudBlock a,body .k2TagCloudBlock a:hover {display: inline;float: none;line-height: 120%;}

/* RTL */
/* RokNavMenu */
body.rtl .menutop li.root .item span img {zoom: 1;float: none !important;}
body.rtl .fusion-grouped ol li .item {background-position: 97% 50% !important;padding-right: 15px !important;}
body.rtl .menutop li.root:hover > .fusion-submenu-wrapper {left: auto;right: 0;}
body.rtl .menutop .fusion-submenu-wrapper {zoom: 1;}
body.rtl .menutop li.root {zoom: 1;}
body.rtl .menutop li.root .item span {zoom: 1;}
body.rtl .menutop li.root .item {zoom: 1;}
body.rtl .menutop {direction: ltr;}
body.rtl #rt-subnavigation .menu {direction: ltr;}
body.rtl .menutop ul li, body.rtl ul.columns2 li {text-align: right;}
body.menu-type-splitmenu.rtl .menutop li, body.rtl #rt-subnavigation .menu li {zoom: 1;}
body.menu-type-splitmenu.rtl .menutop li .item span, body.rtl #rt-subnavigation .menu li .item span {zoom: 1;}
body.menu-type-splitmenu.rtl .menutop li .item, body.rtl #rt-subnavigation .menu li .item {zoom: 1;}

/* General */
body.rtl .rt-fusion-readon span {float: left;}
body.rtl .module-content ul.menu .item.image  {direction: ltr;text-align:right;}
body.rtl .rt-joomla .search_result .phrase {direction: ltr;text-align: right;}
body.rtl .rt-joomla .search_result .phrase legend {float: right;}
body.rtl ul.bullet-add li, body.rtl ul.bullet-arrow li, body.rtl ul.bullet-briefcase li, body.rtl ul.bullet-calendar li, body.rtl ul.bullet-check li, body.rtl ul.bullet-crank li, body.rtl ul.bullet-delete li, body.rtl ul.bullet-docs li, body.rtl ul.bullet-email li, body.rtl ul.bullet-home li, body.rtl ul.bullet-key li, body.rtl ul.bullet-lock li, body.rtl ul.bullet-minus li, body.rtl ul.bullet-monitor li, body.rtl ul.bullet-notes li, body.rtl ul.bullet-post li, body.rtl ul.bullet-printer li, body.rtl ul.bullet-rss li, body.rtl ul.bullet-star li, body.rtl ul.bullet-star2 li, body.rtl ul.bullet-unlock li, body.rtl ul.bullet-warning li, body.rtl ul.bullet-write li {direction: ltr;text-align: right;zoom: 1;display: inline;}
body.rtl .module-content .rt-tab-image {float: right !important;zoom: 1;display: inline-block;}
body.rtl ul.bullet-a li, body.rtl ul.bullet-d li {zoom: 1;}
body.rtl .rt-articleinfo {clear: both;}
body.rtl #form-login ul li a, body.rtl #com-form-login ul li a, body.rtl ul.rt-more-articles li a, body.rtl .rt-section-list ul li a, body.rtl ul.mostread li a, body.rtl ul.latestnews li a, body.rtl .weblinks ul li a {zoom: 1;}
body.rtl .rokchecks {zoom: 1;position: relative;}
body.rtl .module-content .readon {zoom: 1;}
body.rtl .module-content #emailForm .readon {width: 60px;zoom: 1;}
body.rtl .module-content .readon span, body.rtl .module-content input.button {zoom:1;}
body.rtl .typo-icon  {zoom: 1;padding-bottom: 8px !important;}
body.rtl span.inset-right-title, body.rtl span.inset-left-title {zoom: 1;position: relative;}
body.rtl .rt-joomla .icon {position: relative;float: left;}
body.rtl #rt-breadcrumbs {direction: ltr;text-align: right;}
body.rtl ul li a.category, body.rtl ul li span.number {zoom: 1;}
body.rtl ul.bullet-a, body.rtl ul.bullet-b, body.rtl ul.bullet-c, body.rtl ul.bullet-d, body.rtl ul.bullet-e, body.rtl ul.bullet-1, body.rtl ul.bullet-2, body.rtl ul.bullet-3, body.rtl ul.bullet-4, body.rtl ul.bullet-5, body.rtl ul.bullet-6, body.rtl ul.bullet-7, body.rtl ul.bullet-8, body.rtl ul.bullet-9, body.rtl ul.bullet-10 {zoom: 1;}
body.rtl .roktabs-wrapper .roktabs-links ul.roktabs-top li.active span {zoom: 1;}
body.rtl .title {position: relative;direction: ltr;text-align: right;}
body.rtl #rt-header #form-login .readon, body.rtl #rt-top #form-login .readon {margin-left: 4px !important;right: auto;}
body.rtl #rt-header #form-login .readon .button, body.rtl #rt-top #form-login .readon .button {float: left;}
body.rtl #rt-header #form-login-remember {right: auto;}
body.rtl #rt-showcase .controls, body.rtl #rt-feature .controls {margin-left: 0;margin-right: -10px;}