/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

.module-title .title br {display: none;}
.menutop .fusion-submenu-wrapper {box-shadow: 0 0 8px rgba(255,255,255,0.2);}
.cssstyle-style6 .menutop .fusion-submenu-wrapper, .cssstyle-style7 .menutop .fusion-submenu-wrapper, .cssstyle-style8 .menutop .fusion-submenu-wrapper {box-shadow: 0 0 8px rgba(0,0,0,0.2);}
#rt-page-surround {position: relative;}
.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .search_result .inputbox, .component-content .contact .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2, #roksearch_search_str {box-shadow: inset 0 0 4px rgba(0,0,0,0.7);}
.cssstyle-style6 .inputbox, .cssstyle-style6 #roksearch_search_str, .cssstyle-style7 .inputbox, .cssstyle-style7 #roksearch_search_str, .cssstyle-style8 .inputbox, .cssstyle-style8 #roksearch_search_str {box-shadow: inset 0 0 4px rgba(0,0,0,0.3);}

/* Side Menu */
.module-content ul.menu a, .module-content ul.menu .separator, .module-content ul.menu .item {display: inline-block;vertical-align: middle;text-indent: 0;}
.module-content ul.menu .image img {margin-left: -10px;margin-right: 6px;}
.module-content ul.menu .subtext em {padding-left: 0;}
.module-content ul.menu .image em {padding-left: 14px;}

/* Transitions */
a {-o-transition: color .3s ease-out;}
.readon:hover span, .readon:hover .button {-o-transition: color .3s ease-out;}
.roksearch_odd:hover, .roksearch_even:hover {-o-transition: background 0.3s ease-out;}
.menutop li.active.root > .item, .menutop li.active.root.f-mainparent-itemfocus > .item,
.menutop li.root:hover > .item, .menutop li.root.f-mainparent-itemfocus > .item, .menu-type-splitmenu .menutop li.active > .item, .menu-type-splitmenu .menutop li:hover > .item, .menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item, .menutop li.active > .item {-o-transition: background 0.2s ease-out;}

/* RTL */
body.rtl .rokradios, body.rtl .rokradios-active, body.rtl .rokchecks, body.rtl .rokchecks-active {display: inline-block;}
body.rtl .rt-pollrow .rokradios, body.rtl .rt-pollrow .rokradios-active, body.rtl .rt-pollrow .rokchecks, body.rtl .rt-pollrow .rokchecks-active {margin-right: 2px;}
body.rtl #form-login ul, body.rtl #com-form-login ul, body.rtl ul.rt-more-articles, body.rtl .rt-section-list ul, body.rtl .k2CategoriesListBlock ul {direction: ltr;text-align: right;}
body.rtl #form-login ul li a, body.rtl #com-form-login ul li a, body.rtl ul.rt-more-articles li a, body.rtl .rt-section-list ul li a, body.rtl ul.mostread li a, body.rtl ul.latestnews li a, body.rtl .weblinks ul li a {display: block;}