/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Module Variations */
body.rtl .icon1 .title, body.rtl .icon2 .title, body.rtl .icon3 .title, body.rtl .icon4 .title, body.rtl .icon5 .title, body.rtl .icon6 .title, body.rtl .icon7 .title, body.rtl .icon8 .title, body.rtl .icon9 .title, body.rtl .icon10 .title {padding-left: inherit;padding-right: 30px;}
body.rtl .icon1 .title {background-position: 100% 0;}
body.rtl .icon2 .title {background-position: 100% -230px;}
body.rtl .icon3 .title {background-position: 100% -453px;}
body.rtl .icon4 .title {background-position: 100% -673px;}
body.rtl .icon5 .title {background-position: 100% -883px;}
body.rtl .icon6 .title {background-position: 100% 0;}
body.rtl .icon7 .title {background-position: 100% -229px;}
body.rtl .icon8 .title {background-position: 100% -453px;}
body.rtl .icon9 .title {background-position: 100% -674px;}
body.rtl .icon10 .title {background-position: 100% -884px;}

/* Side Menus */
body.rtl .module-content ul.menu a, body.rtl .module-content ul.menu .separator, body.rtl .module-content ul.menu .item {padding: 3px 15px 3px 5px;background-position: 100% 13px;}
body.rtl .module-content ul.menu li li a, body.rtl .module-content ul.menu li li .separator, body.rtl .module-content ul.menu li li .item {padding-left: inherit;padding-right: 15px;}
body.rtl .module-content ul.menu li a:hover, body.rtl .module-content ul.menu li .separator:hover, body.rtl .module-content ul.menu li .item:hover, body.rtl .module-content ul.menu li.active > a, body.rtl .module-content ul.menu li.active > .separator, body.rtl .module-content ul.menu li.active > .item {background-position: 100% -487px;}
body.rtl .module-content ul.menu li li > a, body.rtl .module-content ul.menu li li > .item, body.rtl .module-content ul.menu li li > .separator {background-position: 100% 10px;}
body.rtl .module-content ul.menu li li > a:hover, body.rtl .module-content ul.menu li li > .item:hover, body.rtl .module-content ul.menu li li > .separator:hover, body.rtl .module-content ul.menu li li.active > a, body.rtl .module-content ul.menu li li.active > .item, body.rtl .module-content ul.menu li li.active > .separator {background-position: 100% -490px;}
body.rtl .module-content ul.menu .subtext em {padding-left: inherit;padding-right: 20px;}
body.rtl .module-content ul.menu .image img {float: right;}
body.rtl .module-content ul.menu .item.image {padding-left: inherit;padding-right: 8px;}
body.rtl #rt-main .module-content ul.menu .subtext em {padding-left: inherit;padding-right: 0;}
body.rtl .module-content ul.menu ul {margin-left: 0;margin-right: 15px;}

/* Typography */
body.rtl .rokchecks, body.rtl .rokradios {padding: 0 18px 0 0;}
body.rtl .rokradios {background-position: 100% 0;}
body.rtl .rokradios-active {background-position: 100% -180px;}
body.rtl .rokchecks {background-position: 100% -365px;}
body.rtl .rokchecks-active {background-position: 100% -549px;}

/* Breadcrumbs */
body.rtl #breadcrumbs-home {float: right;}
body.rtl span.breadcrumbs a, body.rtl span.no-link {float: right;}
body.rtl span.breadcrumbs img {float: right;}

/* Scrolling Modules */
.controls {left: auto;right: -10px;}

/* Popup Module Feature */
body.rtl #rt-login-button .buttontext span.icon, body.rtl #rt-popupmodule-button .buttontext span.icon {float: right;margin-right: 0;margin-left: 5px;}

/* Custom Content */
body.rtl .image-block-surround {float: right;margin-right: 0;margin-left: 15px;}
body.rtl .number-image {float: right;margin-right: 0;margin-left: 15px;}
body.rtl .number-image-text {;margin: 0 -5px -8px 0;}