/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

#rt-navigation, .rt-menubar, #rt-copyright, .rt-block, #rt-main-surround, #rt-header, #rt-showcase, #rt-mainbody, #rt-header-surround, #rt-header-surround2, #rt-header-surround3, #rt-bottom, .module-surround, .module-title, .rt-surround-top, .rt-surround, .rt-surround-bottom, .module-inner, .rt-main-inner, .rt-content-top, .rt-content-bottom, #rt-mainbottom, .module-content, ul.menutop, .feature-block, #rt-feature, #rt-utility, #rt-footer-surround, #rt-footer, #rt-copyright, .rt-pollbuttons, .readon, p.dropcap, .rt-article, #rt-showcase, #rt-top, #rt-feature, #rt-bottom, #rt-logo, .rt-container, .controls {zoom: 1;}

/* K2 clr fix */
.clr {background:none repeat scroll 0 0 transparent;border:0 none;clear:both;display:block;float:none;font-size:0;height:0;list-style:none outside none;margin:0;overflow:hidden;padding:0;visibility:hidden;width:0;}

#rt-body-background, #rt-body-overlay {position:relative;zoom:1;}

/* cludge for fixed width empty div */
#rt-drawer .rt-grid-12 {float: none;}

/* cludge for mainbody jumping */
#rt-main, body .controls {zoom:1;position: relative;}
body .controls {position:absolute;}
body #rt-top .rt-container .controls {position:relative;}

/* Header */
#rt-header, .header-full {zoom:1;position:relative;}
#rt-header-surround, #rt-header-surround2 {zoom: 1;position:relative;}
#rt-header {position:relative;z-index:999;}
#rt-showcase {position:relative;z-index:10;}
#rt-header-surround {z-index:999;}
#rt-main-background {z-index:10;}
.feature-wrapper {z-index:10;}

/* Utility */
#rt-utility .rt-block {margin-left: -5px;margin-right: -5px;}

/* Content */
.pollstableborder {zoom: 1;}
.article-rating {position: relative !important;}
.rt-joomla .rt-articleinfo {zoom: 1;width: 120px;height: 70px;}
.rt-headline, .module-title {position: relative;zoom: 1;}
.module-content .menu li a {}

/* Panel */
.rt-panel-wrapper {overflow: hidden;zoom: 1;position: relative;}
#rt-showcase .rt-grid-12 .rt-block {padding-bottom: 0;margin-bottom: 0;}

/* Main Body */
#rt-mainbody {margin: 0 !important;}
.rt-articleinfo, .rt-articleinfo2, .rt-articleinfo3, .rt-article-icons, .rt-date-posted {zoom: 1;}
body .rt-article-icons {width: 100px !important;}
body h1.title, body h2.title {padding-right:0;position:relative;}
body .module-title-surround {margin: 0;}
.content-block {zoom: 1;}
.rt-ie-zindex-body {position:relative;z-index:1;}
.rt-ie-zindex {position:relative;z-index:1;}
#rt-main .rt-grid-1, #rt-main .rt-grid-2, #rt-main .rt-grid-3, #rt-main .rt-grid-4, #rt-main .rt-grid-5, #rt-main .rt-grid-6, #rt-main .rt-grid-7, #rt-main .rt-grid-8, #rt-main .rt-grid-9, #rt-main .rt-grid-10, #rt-main .rt-grid-11 {display: inline !important;float: left;margin: -2px;}
#rt-footer .rt-grid-1, #rt-footer .rt-grid-2, #rt-footer .rt-grid-3, #rt-footer .rt-grid-4, #rt-footer .rt-grid-5, #rt-footer .rt-grid-6, #rt-footer .rt-grid-7, #rt-footer .rt-grid-8, #rt-footer .rt-grid-9, #rt-footer .rt-grid-10, #rt-footer .rt-grid-11 {display: inline !important;margin: 0 !important;float: left;}
fieldset legend {color: #666;}

/* Top Menus */
.menu-type-splitmenu .menutop li, .menu-type-suckerfishmenu .menutop li {zoom:1;display:inline-block;}
.menu-type-splitmenu .menutop li a, .menu-type-suckerfishmenu .menutop li a {zoom:1;display:inline-block;}
.menu-type-suckerfishmenu .menutop li {border: 0;}
.menu-type-suckerfishmenu .menutop .orphan .nolink {font-style:italic;}
.menu-type-splitmenu #rt-navigation li span {width: auto;display:inline-block;}
.menu-type-splitmenu #rt-navigation li .item {display:inline-block;}
.menu-type-splitmenu #rt-submenu ul.menu li .item span{display:inline-block;width:auto;zoom:1;background:none;}
.menu-type-splitmenu #rt-submenu ul.menu li a{zoom:1;display:inline-block;background:none;margin-left:5px;}
.menu-type-splitmenu #rt-submenu ul.menu li {zoom:1;display:inline-block;float:left;}

.rt-menubar ul li a {float:left;}

/* Top Menu Style */
#rt-header .menutop li a, #rt-header .menutop li span {background-color: transparent;}
#rt-header .menutop li ul li a span {background: none !important;}
.menutop li .item, #rt-subnavigation .menu li .item {color:#444;}
#rt-navigation .menu li .item {font-size:16px;}

/* Side Menus */
#rt-main-surround ul.menu li a:hover,
#rt-main-surround ul.menu li.active li a:hover,
#rt-main-surround ul.menu li.active li.active li a:hover,
#rt-main-surround ul.menu li.active a,
#rt-main-surround ul.menu li.active li.active a,
#rt-main-surround ul.menu li.active li.active li.active a,
#rt-main-surround ul.menu li.active li.active li.active li.active a {background:none !important;}
#rt-main-surround ul.menu li.active li a,
#rt-main-surround ul.menu li.active li.active li a,
#rt-main-surround ul.menu li.active li.active li.active li a,
#rt-main-surround ul.menu li.active li.active li.active li.active a {background:none !important;}
#rt-main-surround ul.menu li a,
#rt-main-surround ul.menu li li a,
#rt-main-surround ul.menu li li li a,
#rt-main-surround ul.menu li a,
#rt-main-surround ul.menu li li a,
#rt-main-surround ul.menu li li li a,
#rt-main-surround ul.menu li li li li a {background:none !important;}
#rt-main-surround ul.menu li li a,
#rt-main-surround ul.menu li li li a,
#rt-main-surround ul.menu li li li li a,
#rt-main-surround ul.menu li li li li a {background:none !important;}
#rt-main-surround ul.menu, #rt-main-surround ul.menu ul {zoom: 1;}
#rt-main-surround ul.menu {list-style-type:disc !important;}

/* Breadcrumb */
.rt-breadcrumb-surround {display: inline;}

/* Modules */
.box1, .box2, .box3 {zoom:1;position:relative;}
.rt-module-surround, .rt-module-inner, .module-content {zoom: 1;}
.module-title, .module-title2, .module-title3 {zoom: 1;}
.module-title .title {zoom: 1;}

/* Footer */
#gantry-resetsettings {display:inline;}

/* RokTabs */
.roktabs-links ul.roktabs-top, .roktabs-links ul.roktabs-bottom {zoom:1;position:relative;}
.roktabs, .roktabs-topbar, .roktabs-topbar2, .roktabs-topbar3, .roktabs-links, ul.roktabs-top {zoom:1;position: relative;}
.roktabs-wrapper .roktabs-top .tab1, .roktabs-wrapper .roktabs-top .tab2 {float:left;zoom:1;}
.roktabs-wrapper .roktabs-links ul li {white-space: nowrap;}
.roktabs-wrapper .roktabs-links ul li span {display: inline-block;margin-left:0;}
.roktabs-wrapper .roktabs-links ul li {margin-left:0;}

/* RokStories */
.rt-gallery-overlay, .rt-gallery-overlay2, .rt-gallery-overlay3, .rt-gallery-overlay4 {zoom: 1;left:0 !important;}
.rt-gallery-title {zoom: 1;display: inline !important;float: left;}
.rt-gallery-controls {width: 480px;zoom: 1;margin: 0 auto;}
.rt-gallery-controls ul {float: right;padding-top:8px !important;}

/* RokTwittie */
.roktwittie {width:100%;}
.roktwittie li, .roktwittie .roktwittie-text, .roktwittie-text {zoom:1;}
.roktwittie li, .roktwittie-text .roktwittie-date {display:inline;}

/* RokAjaxSearch */
#roksearch_results .roksearch_even {zoom:1;}
#roksearch_results .container-wrapper {position:relative;zoom:1;width:400px;}
#roksearch_results .container-scroller {position:relative;zoom:1;}
#roksearch_results .container-scroller .page .roksearch_odd, #roksearch_results .container-scroller .page .roksearch_even {zoom:1;z-index:1000;}
#roksearch_results span.small {display: block !important;}
#roksearch_results .container-scroller span.small { bottom:6px;right:10px}

/* Login Form */
.login {background:none !important;}
#rt-popupmodule-button .buttontext span.icon {float: left;}
#rt-popupmodule-button .buttontext span.desc {float: right;}

/* Joomla */
.rt-joomla ol {margin-left: 10px;}
.rt-joomla .rt-article-title, h2.title{letter-spacing:1px;}
#rt-main-surround .rt-joomla #remember{border:none;width:25px;}
.rt-joomla .rt-articleinfo, .rt-joomla .rt-articleinfo2, .rt-joomla .rt-articleinfo3 {margin-right: 0;margin-left: 0;position: relative;}
ul.bullet-a li, ul.bullet-a li em {zoom: 1;}
.bullet-c, .bullet-c li {list-style-type:decimal !important;}

/* K2 */
#k2Container .itemContainer {width:99%;zoom:1;}
body .subCategory, body .itemListCategory, body .catItemView {zoom:1;}
body div.k2LoginBlock fieldset.input p#form-login-remember input {width:auto !important;zoom:1;}
body .k2Pagination div {display:inline !important;}
body #k2Container .catItemCommentsLink {margin-left: 5px;float: left;}
body .catItemView {zoom:1;}
body .k2TagCloudBlock a,body .k2TagCloudBlock a:hover {display:inline;float:none;line-height:120%;}

/* Demo CSS */
.extended-pre {width: 480px;}
.rt-demo-grid-2, .rt-demo-grid-3, .rt-demo-grid-3a, .rt-demo-grid-4, .rt-demo-grid-5, .rt-demo-grid-6, .rt-demo-grid-7 {margin: 0 8px;}