/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.2 June 14, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

body.backgroundlevel-high #rt-header-surround3 {position:relative;}
body.backgroundlevel-high #rt-header-content {padding-bottom:45px;margin-bottom:0;}
body.backgroundlevel-high #rt-header-background,
body.backgroundlevel-high #rt-header-background2,
body.backgroundlevel-high #rt-header-background3
 {position:absolute;bottom:40px;width:100%;zoom: 1;}
body.backgroundlevel-high.cssstyle-style2 #rt-header-content {padding-bottom:90px;margin-bottom:0;}

/* Shadows */
.menutop .fusion-submenu-wrapper {box-shadow: 3px 3px 1px rgba(0,0,0,0.4);}

/* Typography */
.rt-image {box-shadow: 0 0 5px rgba(0,0,0,0.5);}

/* Transitions */
a {transition: color .3s ease-out;}
.readon:hover span, .readon:hover .button {transition: color .3s ease-out;}
.roksearch_odd:hover, .roksearch_even:hover {transition: background 0.3s ease-out;}
.menutop li.active.root > .item, .menutop li.active.root.f-mainparent-itemfocus > .item,
.menutop li.root:hover > .item, .menutop li.root.f-mainparent-itemfocus > .item, .menu-type-splitmenu .menutop li.active > .item, .menu-type-splitmenu .menutop li:hover > .item, .menutop ul li > .item:hover, .menutop li.f-menuparent-itemfocus > .item, .menutop li.active > .item {transition: background 0.2s ease-out;}

/* RTL */
body.rtl .menutop .fusion-submenu-wrapper {box-shadow: -3px 3px 1px rgba(0,0,0,0.4);}
