/**
 * @package   Maelstrom Template - RocketTheme
 * @version   1.5.1 April 20, 2011
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2011 RocketTheme, LLC
 * @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
 */

/* Core Styles */
/*.rt-image {border-style: solid;border-width: 3px;}*/

/* Bullet Styles */
ul.bullet-add, ul.bullet-arrow, ul.bullet-arrow2, ul.bullet-briefcase, ul.bullet-calendar, ul.bullet-check, ul.bullet-crank, ul.bullet-delete, ul.bullet-docs, ul.bullet-email, ul.bullet-home, ul.bullet-key, ul.bullet-lock, ul.bullet-minus, ul.bullet-monitor, ul.bullet-notes, ul.bullet-post, ul.bullet-printer, ul.bullet-rss, ul.bullet-star, ul.bullet-star2, ul.bullet-unlock, ul.bullet-warning, ul.bullet-write, ul.bullet-1, ul.bullet-2, ul.bullet-3, ul.bullet-4, ul.bullet-5, ul.bullet-6, ul.bullet-7, ul.bullet-8, ul.bullet-9, ul.bullet-10 {padding: 0;margin: 0 0 15px;}
ul.bullet-add a, ul.bullet-arrow a, ul.bullet-arrow2 a, ul.bullet-briefcase a, ul.bullet-calendar a, ul.bullet-check a, ul.bullet-crank a, ul.bullet-delete a, ul.bullet-docs a, ul.bullet-email a, ul.bullet-home a, ul.bullet-key a, ul.bullet-lock a, ul.bullet-minus a, ul.bullet-monitor a, ul.bullet-notes a, ul.bullet-post a, ul.bullet-printer a, ul.bullet-rss a, ul.bullet-star a, ul.bullet-star2 a, ul.bullet-unlock a, ul.bullet-warning a, ul.bullet-write a, ul.bullet-1 li a, ul.bullet-2 li a, ul.bullet-3 li a, ul.bullet-4 li a, ul.bullet-5 li a, ul.bullet-6 li a, ul.bullet-7 li a, ul.bullet-8 li a, ul.bullet-9 li a, ul.bullet-10 li a {font-size: 100%;line-height: 1.7;}

ul.bullet-1 li, ul.bullet-2 li, ul.bullet-3 li, ul.bullet-4 li, ul.bullet-5 li, ul.bullet-6 li, ul.bullet-7 li, ul.bullet-8 li, ul.bullet-9 li, ul.bullet-10 li {list-style: none;padding: 0 0 0 15px;margin: 0 0 3px;background-repeat: no-repeat;background-position: 0 5px;}
ul.bullet-1 li {background-image: url(../images/typography/bullet1.png);}
ul.bullet-2 li {background-image: url(../images/typography/bullet2.png);}
.cssstyle-style1 ul.bullet-1 li {background-image: url(../images/typography/bullet2.png);}
.cssstyle-style1 ul.bullet-2 li {background-image: url(../images/typography/bullet1.png);}
ul.bullet-3 li {background-image: url(../images/typography/bullet3.png);}
ul.bullet-4 li {background-image: url(../images/typography/bullet4.png);}
ul.bullet-5 li {background-image: url(../images/typography/bullet5.png);}
ul.bullet-6 li {background-image: url(../images/typography/bullet6.png);}
ul.bullet-7 li {background-image: url(../images/typography/bullet7.png);}
ul.bullet-8 li {background-image: url(../images/typography/bullet8.png);}
ul.bullet-9 li {background-image: url(../images/typography/bullet9.png);}
ul.bullet-10 li {background-image: url(../images/typography/bullet10.png);}

ul.bullet-add li, ul.bullet-arrow li, ul.bullet-arrow2 li, ul.bullet-briefcase li, ul.bullet-calendar li, ul.bullet-check li, ul.bullet-crank li, ul.bullet-delete li, ul.bullet-docs li, ul.bullet-email li, ul.bullet-home li, ul.bullet-key li, ul.bullet-lock li, ul.bullet-minus li, ul.bullet-monitor li, ul.bullet-notes li, ul.bullet-post li, ul.bullet-printer li, ul.bullet-rss li, ul.bullet-star li, ul.bullet-star2 li, ul.bullet-unlock li, ul.bullet-warning li, ul.bullet-write li {background-position: 0 2px;padding: 0 0 0 26px;background-repeat: no-repeat;list-style: none;margin: 0 0 3px;}
ul.bullet-add li {background-image: url(../images/icons/icon-add.png);}
ul.bullet-arrow li {background-image: url(../images/icons/icon-arrow.png);}
ul.bullet-arrow2 li {background-image: url(../images/icons/icon-arrow2.png);}
ul.bullet-briefcase li {background-image: url(../images/icons/icon-briefcase.png);}
ul.bullet-calendar li {background-image: url(../images/icons/icon-calendar.png);}
ul.bullet-check li {background-image: url(../images/icons/icon-check.png);}
ul.bullet-crank li {background-image: url(../images/icons/icon-crank.png);}
ul.bullet-delete li {background-image: url(../images/icons/icon-delete.png);}
ul.bullet-docs li {background-image: url(../images/icons/icon-docs.png);}
ul.bullet-email li {background-image: url(../images/icons/icon-email.png);}
ul.bullet-home li {background-image: url(../images/icons/icon-home.png);}
ul.bullet-key li {background-image: url(../images/icons/icon-key.png);}
ul.bullet-lock li {background-image: url(../images/icons/icon-lock.png);}
ul.bullet-minus li {background-image: url(../images/icons/icon-minus.png);}
ul.bullet-monitor li {background-image: url(../images/icons/icon-monitor.png);}
ul.bullet-notes li {background-image: url(../images/icons/icon-notes.png);}
ul.bullet-post li {background-image: url(../images/icons/icon-post.png);}
ul.bullet-printer li {background-image: url(../images/icons/icon-printer.png);}
ul.bullet-rss li {background-image: url(../images/icons/icon-rss.png);}
ul.bullet-star li {background-image: url(../images/rating_star.png);}
ul.bullet-star2 li {background-image: url(../images/rating_star_blank.png);}
ul.bullet-unlock li {background-image: url(../images/icons/icon-unlock.png);}
ul.bullet-warning li {background-image: url(../images/icons/icon-warning.png);}
ul.bullet-write li {background-image: url(../images/icons/icon-write.png);}

/* Emphasis Styles*/
em.italic {font-style: italic;font-weight: bold;}
em.bold {font-size: 120%;font-weight: bold;line-height: 145%;font-style: normal;}
em.bold2 {font-size: 135%;font-weight: bold;line-height: 120%;font-style: normal;}
em.normal {font-style: normal;}
em.nobold {font-weight: normal;}
.rt-upper {text-transform: uppercase;}
.rt-center {text-align: center;}
.rt-justify {text-align: justify;}

/* Drop Cap */
p.dropcap {overflow: hidden;}
span.dropcap {font-size: 400%;margin: 0 5px 0 0;line-height: 110%;float: left;display: block;}

/* Notice Styles */
pre {font-style:italic;overflow: auto;padding: 10px;margin-bottom: 15px;}
pre {background: #333;border: 1px solid #353535;color: #bbb;}

.alert, .approved, .attention, .camera, .cart, .doc, .download, .media, .note, .notice, .quote {display: block;margin: 15px 0;background-repeat: repeat-x;background-position: 0 100%;clear: both;}
.alert a, .approved a, .attention a, .camera a, .cart a, .doc a, .download a, .media a, .note a, .notice a, .quote a {font-weight: bold;color: inherit;font-size: 110%;}
.typo-icon, .quote .quote-l {display: block;padding: 8px 10px 0px 36px;margin: 15px 0;background: no-repeat 10px 12px;}
.quote-l {padding: 8px 0 0 26px;margin: 15px 0;background: no-repeat 0px 12px;}
.quote .quote-r {display: block;padding: 0 25px 0 0;}
.quote-r {display: block;padding: 0 15px 0 0;}
.approved .typo-icon {background-image: url(../images/typography/approved-icon.png);}
.alert .typo-icon {background-image: url(../images/typography/alert-icon.png);}
.attention .typo-icon {background-image: url(../images/typography/attention-icon.png);}
.camera .typo-icon {background-image: url(../images/typography/camera-icon.png);}
.cart .typo-icon {background-image: url(../images/typography/cart-icon.png);}
.doc .typo-icon {background-image: url(../images/typography/doc-icon.png);}
.download .typo-icon {background-image: url(../images/typography/download-icon.png);}
.media .typo-icon {background-image: url(../images/typography/media-icon.png);}
.note .typo-icon {background-image: url(../images/typography/note-icon.png);}
.notice .typo-icon {background-image: url(../images/typography/notice-icon.png);}

.alert {color: #b74c34;background-image: url(../images/typography/dark/alert.png);background-color: #64403E;border-bottom: 1px solid #382121;border-right: 1px solid #382121;}
.approved {color: #6CB656;background-image: url(../images/typography/dark/approved.png);background-color: #436750;border-bottom: 1px solid #314C2D;border-right: 1px solid #314C2D;}
.attention {color: #a4966f;background-image: url(../images/typography/dark/attention.png);background-color: #675C3D;border-bottom: 1px solid #383221;border-right: 1px solid #383221;}
.camera {color: #55A0B4;background-image: url(../images/typography/dark/camera.png);background-color: #436668;border-bottom: 1px solid #213038;border-right: 1px solid #213038;}
.cart {color: #86977c;background-image: url(../images/typography/dark/cart.png);background-color: #58693C;border-bottom: 1px solid #303821;border-right: 1px solid #303821;}
.doc {color: #ccc;background-image: url(../images/typography/dark/doc.png);background-color: #7E7E7E;border-bottom: 1px solid #444;border-right: 1px solid #444;}
.download {color: #80AC75;background-image: url(../images/typography/dark/download.png);background-color: #47683F;border-bottom: 1px solid #253621;border-right: 1px solid #253621;}
.media {color: #8D79A9;background-image: url(../images/typography/dark/media.png);background-color: #5E3C69;border-bottom: 1px solid #322037;border-right: 1px solid #322037;}
.note {color: #B76F38;background-image: url(../images/typography/dark/note.png);background-color: #664B3F;border-bottom: 1px solid #382621;border-right: 1px solid #382621;}
.notice {color: #6087b3;background-image: url(../images/typography/dark/notice.png);background-color: #415167;border-bottom: 1px solid #212E38;border-right: 1px solid #212E38;}
.quote {color: #ccc;background-image: url(../images/typography/dark/quote.png);background-color: #878787;border-bottom: 1px solid #444;border-right: 1px solid #444;}
.quote-l {background-image: url(../images/typography/dark/quote-l.png);}
.quote-r {background: url(../images/typography/dark/quote-r.png) no-repeat 100% 100%;}


/* Light Notice Styles */
.cssstyle-style6 pre, .cssstyle-style7 pre, .cssstyle-style8 pre {background: #F9F1ED;border: 1px solid #DCD7D4;color: #AC3400;}
.cssstyle-style6 .quote-l, .cssstyle-style7 .quote-l, .cssstyle-style8 .quote-l {background-image: url(../images/typography/quote-l.png);}
.cssstyle-style6 .quote-r, .cssstyle-style7 .quote-r, .cssstyle-style8 .quote-r {background: url(../images/typography/quote-r.png) no-repeat 100% 100%;}
.cssstyle-style6 .alert, .cssstyle-style7 .alert, .cssstyle-style8 .alert {color: #D0583F;background-image: url(../images/typography/alert.png);background-color: #FFFBFB;border-bottom: 1px solid #F8C9BB;border-right: 1px solid #F8C9BB;}
.cssstyle-style6 .approved, .cssstyle-style7 .approved, .cssstyle-style8 .approved {color: #6CB656;background-image: url(../images/typography/approved.png);background-color: #FAFDF9;border-bottom: 1px solid #C1CEC1;border-right: 1px solid #C1CEC1;}
.cssstyle-style6 .attention, .cssstyle-style7 .attention, .cssstyle-style8 .attention {color: #E1B42F;background-image: url(../images/typography/attention.png);background-color: #FFFDF6;border-bottom: 1px solid #E4E4D5;border-right: 1px solid #E4E4D5;}
.cssstyle-style6 .camera, .cssstyle-style7 .camera, .cssstyle-style8 .camera {color: #55A0B4;background-image: url(../images/typography/camera.png);background-color: #F6FBFB;border-bottom: 1px solid #C9D5D8;border-right: 1px solid #C9D5D8;}
.cssstyle-style6 .cart, .cssstyle-style7 .cart, .cssstyle-style8 .cart {color: #559726;background-image: url(../images/typography/cart.png);background-color: #FCFCFC;border-bottom: 1px solid #D3D3D3;border-right: 1px solid #D3D3D3;}
.cssstyle-style6 .doc, .cssstyle-style7 .doc, .cssstyle-style8 .doc {color: #666666;background-image: url(../images/typography/doc.png);background-color: #FFFFFF;border-bottom: 1px solid #E5E5E5;border-right: 1px solid #E5E5E5;}
.cssstyle-style6 .download, .cssstyle-style7 .download, .cssstyle-style8 .download {color: #666666;background-image: url(../images/typography/download.png);background-color: #FCFCFC;border-bottom: 1px solid #D3D3D3;border-right: 1px solid #D3D3D3;}
.cssstyle-style6 .media, .cssstyle-style7 .media, .cssstyle-style8 .media {color: #8D79A9;background-image: url(../images/typography/media.png);background-color: #FBF9FD;border-bottom: 1px solid #DBE1E6;border-right: 1px solid #DBE1E6;}
.cssstyle-style6 .note, .cssstyle-style7 .note, .cssstyle-style8 .note {color: #B76F38;background-image: url(../images/typography/note.png);background-color: #FFFAF6;border-bottom: 1px solid #E6DAD2;border-right: 1px solid #E6DAD2;}
.cssstyle-style6 .notice, .cssstyle-style7 .notice, .cssstyle-style8 .notice {color: #6187B3;background-image: url(../images/typography/notice.png);background-color: #FAFCFD;border-bottom: 1px solid #C7CDDA;border-right: 1px solid #C7CDDA;}
.cssstyle-style6 .quote, .cssstyle-style7 .quote, .cssstyle-style8 .quote {color: #727272;background-image: url(../images/typography/quote.png);background-color: #F3F3F3;border-bottom: 1px solid #D4D4D4;border-right: 1px solid #D4D4D4;}

/* Inset Styles */
span.inset-left {float: left;margin-right: 20px;}
span.inset-right {float: right;margin-left: 20px;}
span.inset-right-title, span.inset-left-title {display: block;font-size: 100%;font-weight: bold;}
span.inset-left, span.inset-right {display: block;padding: 10px;width: 20%;font-size: 100%;font-style: italic;margin-top: 15px;position: relative;text-align: justify; margin-bottom: 15px;}

/* RTL Stuff */
body.rtl ul.bullet-add, body.rtl ul.bullet-arrow, body.rtl ul.bullet-arrow2, body.rtl ul.bullet-briefcase, body.rtl ul.bullet-calendar, body.rtl ul.bullet-check, body.rtl ul.bullet-crank, body.rtl ul.bullet-delete, body.rtl ul.bullet-docs, body.rtl ul.bullet-email, body.rtl ul.bullet-home, body.rtl ul.bullet-key, body.rtl ul.bullet-lock, body.rtl ul.bullet-minus, body.rtl ul.bullet-monitor, body.rtl ul.bullet-notes, body.rtl ul.bullet-post, body.rtl ul.bullet-printer, body.rtl ul.bullet-rss, body.rtl ul.bullet-star, body.rtl ul.bullet-star2, body.rtl ul.bullet-unlock, body.rtl ul.bullet-warning, body.rtl ul.bullet-write, body.rtl ul.bullet-1, body.rtl ul.bullet-2, body.rtl ul.bullet-3, body.rtl ul.bullet-4, body.rtl ul.bullet-5, body.rtl ul.bullet-6, body.rtl ul.bullet-7, body.rtl ul.bullet-8, body.rtl ul.bullet-9, body.rtl ul.bullet-10 {padding: 0 5px 0 0;}
body.rtl ul.bullet-1 li, body.rtl ul.bullet-2 li, body.rtl ul.bullet-3 li, body.rtl ul.bullet-4 li, body.rtl ul.bullet-5 li, body.rtl ul.bullet-6 li, body.rtl ul.bullet-7 li, body.rtl ul.bullet-8 li, body.rtl ul.bullet-9 li, body.rtl ul.bullet-10 li {padding: 0 15px 3px 0;background-position: 100% 4px;}
body.rtl ul.bullet-add li, body.rtl ul.bullet-arrow li, body.rtl ul.bullet-arrow2 li, body.rtl ul.bullet-briefcase li, body.rtl ul.bullet-calendar li, body.rtl ul.bullet-check li, body.rtl ul.bullet-crank li, body.rtl ul.bullet-delete li, body.rtl ul.bullet-docs li, body.rtl ul.bullet-email li, body.rtl ul.bullet-home li, body.rtl ul.bullet-key li, body.rtl ul.bullet-lock li, body.rtl ul.bullet-minus li, body.rtl ul.bullet-monitor li, body.rtl ul.bullet-notes li, body.rtl ul.bullet-post li, body.rtl ul.bullet-printer li, body.rtl ul.bullet-rss li, body.rtl ul.bullet-star li, body.rtl ul.bullet-star2 li, body.rtl ul.bullet-unlock li, body.rtl ul.bullet-warning li, body.rtl ul.bullet-write li {padding: 0 26px 0 0;background-position: 100% 2px;}
body.rtl ul.bullet-1 li {background-image: url(../images/typography/bullet1-rtl.png);}
body.rtl ul.bullet-2 li {background-image: url(../images/typography/bullet2-rtl.png);}
body.rtl ul.bullet-3 li {background-image: url(../images/typography/bullet3-rtl.png);}
body.rtl ul.bullet-4 li {background-image: url(../images/typography/bullet4-rtl.png);}
body.rtl ul.bullet-5 li {background-image: url(../images/typography/bullet5-rtl.png);}
body.rtl ul.bullet-6 li {background-image: url(../images/typography/bullet6-rtl.png);}
body.rtl ul.bullet-7 li {background-image: url(../images/typography/bullet7-rtl.png);}
body.rtl ul.bullet-8 li {background-image: url(../images/typography/bullet8-rtl.png);}
body.rtl ul.bullet-9 li {background-image: url(../images/typography/bullet9-rtl.png);}
body.rtl ul.bullet-10 li {background-image: url(../images/typography/bullet9-rtl.png);}
body.rtl ul.bullet-no1 li, body.rtl ul.bullet-no2 li, body.rtl ul.bullet-no3 li, body.rtl ul.bullet-no4 li, body.rtl ul.bullet-no5 li, body.rtl ul.bullet-no6 li, body.rtl ul.bullet-no7 li, body.rtl ul.bullet-no8 li, body.rtl ul.bullet-no9 li, body.rtl ul.bullet-no10 li {background-position: 100% 2px;padding: 0 35px 2px 0;}
body.rtl span.dropcap {margin: 0 0 0 5px;float: right;}
body.rtl .typo-icon {padding: 8px 36px 0px 10px;margin: 15px 0;background-position: 99% 12px;}
body.rtl span.important-title {right: 10px;left: inherit;}
body.rtl span.inset-left {float: right;margin-left: 20px;margin-right: 0;}
body.rtl span.inset-right {float: left;margin-right: 20px;margin-left: 0;}
body.rtl span.inset-right-title, body.rtl span.inset-left-title {right: 10px;left: inherit;}
body.rtl .quote-l {padding: 8px 36px 0px 10px;background: url(../images/typography/quote-r.png) no-repeat 99% 12px;}
body.rtl .quote-r {padding: 0 0 0 25px;background: url(../images/typography/quote-l.png) no-repeat 10px 100%;}

/* TABLE added by de elijah hatem */

table#programacao	{border-collapse:collapse;width:100%;}
table#programacao thead th {
	font:bold 13px/18px georgia;
	text-align:center;
	background:#fff4c6;
	color:#333;
	padding:8px 16px 8px 8px;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
table#programacao thead th.null {background:#333333;}
table#programacao tbody th {
	font:bold 12px/15px georgia;
	text-align:left;
	background:#fff9e1;
	color:#333;
	padding:8px;
	border-bottom:1px solid #f3f0e4;
	border-right:1px solid #fff;
}
table#programacao tbody td {
	padding:8px;
	border-right:1px solid #f3f0e4;
	border-bottom:1px solid #f3f0e4;
	line-height: 1.2;
}

table#programacao tbody td.on {background:#4d4d4d;}
table#programacao thead th.on {background:#87bde8;}
table#programacao tbody th.on {background:#87bde8;}