@charset "utf-8";
/* Techheads Social Media */
.googleclass {width: 100px; overflow: hidden; margin-top: 8px;}
div.iconclass {margin-left: 10px;}
div.linkclass a {width: 100%;}
div.linkclass a {font-size:8px; color:#999;}
.clr {clear:both;}
div.twitterfollow {margin-left:15px;width:100%;margin-bottom: 10px;} /*added by de elijah hatem /*
	
