
body{
	width: 100%;
	background: #fff;
	} 

#header{
	background: url(../images/header-bg.png) repeat-x bottom;
	height: 200px;
    padding-bottom: 10px;
    text-align: center;
	}

#footer{
	background: url(../images/footer-bg.png) repeat-x 0 0;
	height: 50px;
	padding-top: 30px;
	}

#player{
	position: fixed;
	bottom: 0px;
	height: 16px;
	width: 100%;
	padding-top: 30px;

}

#main{
	background: #353535;
	}

#content{
	width: 600px;
	margin: 0 auto;
	padding: 50px 0;
	}

h1{
	color: #FFFFFF;
    font-family: 'Zeyada',sans-serif;
    font-size: 150px;
    padding: 25px;
    text-align: center;
	}

p{
	color: #EEEEEE;
    font-family: Helvetica;
    font-size: 17px;
}