/*Styling manifest related output, like changelogs, etc*/

/* Changelog styling */
.changelog {
	font-size: x-small;
	padding: 20px 0px;
	border-top: 1px solid rgba(100,100,100,0.1);
	border-bottom: 1px solid rgba(100,100,100,0.1);
}

.changelog:first-child {
	padding-top: 0;
	border-top-width: 0;
}

.changelog:last-child {
	padding-bottom: 0;
	border-bottom-width: 0;
}

.changelog ul {
	position: relative;
}

.changelog ul [class] {
	text-indent:50px;
	list-style: none;
}

.changelog dl {
	display: inline-block;
}
/* clearfix*/
.changelog dl::after {
	content: '.';
	color: transparent;
	clear: both;
}

.changelog dt,
.changelog dd {
	float: left;
	display: inline-block;
}

.changelog dt {
	clear: both;
}
.changelog dd {
	padding-left: 0.6em !important;
}

.changelog {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

:hover > .changelog:not(:hover) {
	opacity: 0.5;
}

.changelog ul [rel]::before {
	-moz-border-radius: 3px;
	-moz-box-shadow: gray 0px 0px 5px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: lightgray 0px 0px 5px;
	background-color: rgba(20,20,20,0.5);
	background-image: -moz-linear-gradient(top, bottom, from(rgba(255,255,255,0.5)), to(rgba(90,90,90,0.0)));
	background-image: -webkit-gradient(
							linear, 
							left top, left bottom, 
							from(rgba(255,255,255,0.5)), 
							to(rgba(90,90,90,0.0)),
							color-stop(0.4, rgba(255,255,255,0.3)),
							color-stop(0.8, rgba(255,255,255,0.1)),
							color-stop(0.8, rgba(90,90,90,0.0)));
	border: 1px solid gray;
	color: rgba(255,255,255,0.65);
	content: attr(class);
	display: inline-block;
	font-size: xx-small;
	left: 20px;
	max-width: 50px;
	padding: 0.3em 0.5em 0.2em 0.5em;
	position: absolute;
	text-indent: 0px;
	text-shadow: rgba(0,0,0,0.2) 0px -1px 0px;
	text-transform: uppercase;
}

.changelog ul [rel][title]:hover::before {
	content: attr(title);
	max-width: 100%;
}

.changelog ul [rel]::after {
	content: '.';
	font-size: xx-small;
	color: transparent;
	display: block;
}
/* Colors */
/* We don't want to see the log type */
.changelog ul [rel="log"]::before {
	display: none;
}

:hover > .changelog ul [rel="locale"]::before {
	background-color: #FF7A23;
	border-color: #FF7A23;
}

:hover > .changelog ul [rel="new"]::before {
	background-color: #C30A4D;
	border-color: #C30A4D;
}

:hover > .changelog ul [rel="ui"]::before {
	background-color: #2C111D;
	border-color: #2C111D;
}

:hover > .changelog ul [rel="upgrade"]::before {
	background-color: #165B60;
	border-color: #165B60;
}

:hover > .changelog ul [rel="bugfix"]::before {
	background-color: #FFD351;
	border-color: #FFD351;
	color: rgba(100,0,0,0.65);
	text-shadow: rgba(255,255,255,0.9) 0px 1px 0px;
}

/* End Changelog styling */

/* Footer styling */
/*Footer ruler*/
.nf-footer-ruler {
	clear: both;
	width: 100%;
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin: 15px 0;
}


/*Footer logo*/
#nf-logo {
	display: inline-block;
	float: left;
	background:transparent url(../images/logo-small.png) no-repeat scroll 0%;
	background-color: rgba(255,255,255,0);
	position:absolute;
	height:48px;
	top: 50%;
	right: 0px;
	width:176px;
	opacity: 1;
	margin-top: -24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-transition-duration: 1s, 2s;
	-webkit-transition-property: background, -webkit-box-shadow;
	-webkit-box-shadow: rgba(0,0,0,0.0) 0 0 0px;
	-moz-box-shadow: rgba(0,0,0,0.0) 0 0 0px;
}

/*Logo clicked*/
.nf-footer:hover #nf-logo:hover:active {
	margin-top: -23px;
	outline: 0;
	-webkit-transition-duration: 0.9s, 0.1s;
	-webkit-box-shadow: rgba(0,0,0,0.5) 0 0 4px;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 0 4px;
}

.nf-footer:hover #nf-logo:hover {
	background-color: rgba(255,255,255,1);
	-webkit-box-shadow: rgba(0,0,0,0.5) 0 0 10px;
	-moz-box-shadow: rgba(0,0,0,0.5) 0 0 10px;
	-webkit-transition-duration: 0.9s, 1.8s;
	-webkit-transition-property: background, -webkit-box-shadow;
}

#nf-logo div {
	display: inline-block;
	background:transparent url(../images/logo-small.png) no-repeat scroll 0%;
	height:48px;
	position:relative;
	opacity: 1;
	width:176px;
	top: 0px;
	right: 0;
	-webkit-transition: 1s, 2s;
	-webkit-transition-property: opacity, -webkit-box-shadow;
}

/*Footer styling*/
.nf-footer {
	display: block;
	position: relative;
	padding-right: 176px;
	min-height: 48px;
}

.nf-footer::after {
	content: '.';
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
	display: block;
	clear: both;
}

.nf-footer .inner ul {
	display: inline-block;
	float:left;
	padding: 0 4% 0 4%;
	margin: 0 0 0 0;
	text-align: left;
	width: 25%;
	overflow: hidden;
	border-right: 2px groove rgba(70, 70, 70, 0.053125);
	white-space: nowrap;
	position: relative;
}

.nf-footer .inner ul:last-child {
	padding: 0 0 0 4%;
}

.nf-footer .inner:after {
/*	clear: both;
	content: '.';
	display: block;
	float: none;*/
}

.nf-footer .inner ul li:first-child *, .nf-footer .inner ul li:not(:first-child) {
	-webkit-transition:all 1s;
}

.nf-footer .inner ul li:first-child * {
	font-size: small;
	margin-top: 12px;
}

.nf-footer .inner ul li:not(:first-child) {
	margin-top: -1.6em;
	opacity: 0;
}

.nf-footer .inner:hover ul li:not(:first-child),
.nf-footer.open .inner ul li:not(:first-child), 
.nf-footer .inner:hover ul li:first-child *,
.nf-footer.open .inner ul li:first-child * {
	margin-top: 0;
	opacity: 1;
}

.nf-footer .inner ul li {
	list-style: none;
	padding: 2px 0;
}

.nf-footer .inner ul li h4 {
	padding: 0 0 5px 0;
	margin: 0;
}

.nf-footer .inner ul li * {
	font-size: 11px;
	-webkit-transition: color 0.2s;
}

.nf-footer:not(.open:hover) .inner ul li a, .nf-footer:not(:hover) .inner ul li a  {
	color: rgba(0,0,0,0.5);
	-webkit-transition: 1s;
}

/*.nf-footer .inner ul:hover li a {
	text-shadow: hsla(214, 41%, 59%, 1.0) 0px 0px 0px, rgba(0,0,0,0.5) 0px 0px 4px;
	color: transparent;
}
.nf-footer .inner:hover ul:hover li * {
	-webkit-transition: 0.4s;
}

.nf-footer .inner:hover ul li * {
	-webkit-transition: 4s;
}
.nf-footer .inner ul:hover li h4 {
	opacity: 1;
	text-shadow: rgba(0,0,0,0.0) 0 0 0;
}

.nf-footer .inner:hover ul:not(:hover) li a {
	text-shadow: hsla(214, 41%, 59%, 0.9) 0px 0px 4px, rgba(0,0,0,0.2) 0px 0px 4px;
	color: transparent;
}
.nf-footer .inner:hover ul:not(:hover) li h4 {
	opacity: 0.7;
	text-shadow: rgba(0,0,0,0.3) 0 0 1px;
}*/


/* Dashboard */
.nf-extension h1 {
	font-size: 20px;
}

.nf-extension h2 {
	font-size: 17px;
}