.handle, table.adminlist tbody.sortable tr td.handle, table.adminlist tbody tr td.handle {
	cursor: move;
	width: 20px;
	background-image: url(../images/drag.png);
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.ghost tr td.handle,
.sortable tr td.handle {
	padding: 4px 8px;
}

.ghost-shadow {
	-webkit-box-shadow: rgba(255,255,255,0) 0 0 0px;
	-moz-box-shadow: rgba(255,255,255,0) 0 0 0px;
	opacity: 1;
	-webkit-transition-property: opacity, -webkit-box-shadow, -webkit-transform;
  	-webkit-transition-duration: 0.5s;
}

.ghost-shadow.animate {
	opacity: 0.6;
	-webkit-box-shadow: rgba(0,0,0,0.6) 0 0 10px;
	-moz-box-shadow: rgba(0,0,0,0.6) 0 0 10px;
}

.ghost-shadow.animate.morph {
	background: transparent url(../images/errorMediumIcon.png) no-repeat center;
	-webkit-transition-property: opacity, -webkit-box-shadow, -webkit-transform, width, height;
	-webkit-box-shadow: rgba(0,0,0,0.6) 0 0 0px;
	-moz-box-shadow: rgba(0,0,0,0.6) 0 0 0px;
	width: 32px!important;
	height: 32px!important;
}

.ghost-shadow.animate.morph > * {
	-webkit-transition: all 0.5s;
	-webkit-transform: scaleX(0);
}

.ghost-shadow.animate.morphStart {
	
}

.sortable-spinner {
	background-image: url(../images/16/spinner.gif);
}