@-webkit-keyframes 'wobble' {
    0% { -webkit-transform: rotate(-2.5deg) translate(-1px, 0); }
   20% { -webkit-transform: rotate( 2.5deg) translate(-1px, 1px); }
   40% { -webkit-transform: rotate(-2.5deg) translate(0, 1px); }
   60% { -webkit-transform: rotate( 2.5deg) translate(-1px, 1); }
   80% { -webkit-transform: rotate(-2.5deg) translate(-1px, 0); }
  100% { -webkit-transform: rotate( 2.5deg) translate(0, 0); } 
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
/*#submenu li a,div.header,table.toolbar a,.roar h3,table.adminlist thead *,.tk-fertigo-pro{font-family:"fertigo-pro-1",sans-serif;}#cpanel a{font-family:"fertigo-pro-1",sans-serif;}.nf-extension h1,.nf-extension h2{font-family:"fertigo-pro-1",sans-serif;text-shadow: white 1px 1px 0, hsla(0, 0%, 50%, .3) 1px 1px 4px;}
@font-face {
font-family: "fertigo-pro-1";
src: url(../fonts/Fertigo_PRO.otf);
font-style: normal;
font-variant: normal;
font-weight: 400;
}

.tk-fertigo-pro{font-family:"fertigo-pro-1","fertigo-pro-2",sans-serif;}
#cpanel a{font-family:"fertigo-pro-1","fertigo-pro-2",sans-serif;}
#tkloadopo5fdx{color:red!important;}*/
#cpanel {
	/*background: darkGray;*/
	overflow: hidden;
}
#cpanel div.dashboard-button, #cpanel div.dashboard-button a {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#cpanel div.dashboard-button {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
	text-align: center;
	background-position: center center;
	background-image: none;
	position: relative;
	
}

#cpanel div.dashboard-button a {
	border: 1px solid #F0F0F0;
	color: #666;
	display: block;
	float: left;
	height: 97px;
	text-decoration: none;
	vertical-align: middle;
	width: 108px;
	
	border-color: transparent!important;
	/*background: transparent url(/ninaboard/media/com_ninja/images/48/settings.png) no-repeat center 10px;*/
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}
#cpanel div.dashboard-button span {
	display: block;
	text-align: center;
}
#cpanel div.dashboard-button img {
	margin: 0px auto;
	padding: 10px 0px;
}
/*#cpanel div.dashboard-button:hover {
	/*background-image: -webkit-gradient(radial, 54 48, 0, 54 48, 48, from(hsla(0, 0%, 100%, 1)), to(hsla(0, 0%, 100%, 0)), color-stop(.6,hsla(0, 0%, 100%, .5)));*!/
	background-position: center center;
}*/
#cpanel div.dashboard-button:hover a {
	/*-webkit-transform: scale(1.3);*/
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	background-color: transparent!important;
	
	color: #0B55C4
	/*-webkit-animation: wobble 0.5s infinite linear;*/
}

#submenu li:last-child a {
	border-right: none;
}
#submenu-box .t, #submenu-box .b {
	display: none;
}
#submenu-box .m {
	border: 1px solid #CCC;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#submenu li {
	position: relative;
	padding: 5px 0!important;
	padding-bottom: 0!important;
}
#ap-submenu #submenu li {
	padding-top: 10px!important;
	padding-left: 10px!important;
	padding-bottom: 10px!important;
	padding-right: 10px!important;
}

#submenu .disabled {
	background-color: transparent;
}
#submenu .disabled:hover {
	background-color: transparent;
}
#submenu .disabled a {
	cursor: default;
	color: black;
	padding-left: 4px;
}
#submenu .disabled:hover a, #submenu .disabled:hover a:hover, #submenu li:hover .disabled a {
	text-decoration: none!important;
}

#submenu li strong {
	line-height: 0px;
	color: gray;
}
#submenu li a {
	display: inline-block;
	margin-bottom: 5px;
}
#submenu li a:not(:only-child), #submenu li:hover a:not(:only-child) {
	text-decoration: none;
}
#submenu li:hover a {
	text-decoration: underline;
}
#submenu li:hover a strong {
	color: inherit;
}
#submenu li ul {
	opacity: 0;
	filter:alpha(opacity=0);
	position: absolute;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	z-index: 1;
	background: #F6F6F6;
	border: 1px solid #CCC;
	border-top-width: 0px;
	-webkit-transform-origin: center top;
	-webkit-transform: perspective(500) rotateX(-90deg);
	-webkit-transition-property: opacity, -webkit-transform; 
	-webkit-transition-duration: 300ms, 600ms;
	-webkit-transition-timing: linear, ease-in-out;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: hsla(0, 0%, 0%, 0.1) 0 2px 2px;
}
#submenu li:hover ul, #submenu li ul:hover {
	opacity: 1;
	filter:alpha(opacity=100);
	-webkit-transform: perspective(500) rotateX(0deg);
}
#submenu li:not(:hover) ul li * {
	color: hsla(0,0%,100%,0);
	text-shadow: hsla(0,0%,0%,0) 0 0 10px;
	-webkit-transition: all 600ms ease-in-out;
}
#submenu li:hover ul li * {
	text-shadow: transparent 0 0 0;
	-webkit-transition: all 600ms ease-in-out;
}
#submenu li ul li {
	float: none;
	display: block;
	padding: 0!important;
	border-top: 1px hsla(0, 0%, 80%, 0.5) solid;
}
#submenu li:hover ul li a {
	text-decoration: none;
}
#submenu li:hover ul li:hover a {
	text-decoration: underline;
}
#submenu li ul li:last-child {
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#submenu li ul li:hover {
	background: white;
}
#submenu li ul li a {
	display: block;
	border-right: none;
	margin: 0 0 0 0;
	padding: 4px 8px 4px 12px;
	white-space: nowrap;
}

.ninja-submenu-sidebar #content-box .padding {
	position: relative;
}

.ninja-submenu-sidebar #submenu-box {
	display: inline-block;
	width: 120px;
	float: left;
	position: absolute;
	top: 80px;
	bottom: 0;
	margin-bottom: 0!important;
}

.ninja-submenu-sidebar #submenu-box .m {
	position: absolute;
	top: 0;
	bottom: 0;
}

.ninja-submenu-sidebar #submenu-box + #element-box {
	margin-left: 130px;
	
}