div.pagination div.count, div.pagination div.limit {
	float: right;
}

.pagination .pages {
	float: right;
}

/* Arrows rounded corners */
.pagination .first *, .pagination .next *, .pagination li.page.first-child *, .pagination .pages li.page.first-child .active {
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topleft: 0px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topright: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

/* Arrows, left and right */
.pagination .last *, .pagination .previous *, .pagination li.page.last-child * {
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-topright: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
.pagination li.page.first-child.last-child .active {
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topright: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.pagination .pages li.first, .pagination .pages li.next {
	margin-right: 10px;
	margin-left: auto;
}
.pagination .pages li.previous, .pagination .pages li.last {
	margin-left: 10px;
	margin-right: auto;
}

.pagination .pages li * {
	-webkit-box-shadow: 
		hsla(0, 0%, 100%, 0.8) 0px -1px 0,
		hsla(0, 0%, 0%, 0.2) 0 -2px 0, 
		hsla(0, 0%, 100%, 0.4) 1px 0 0, 
		hsla(0, 0%, 0%, 0.2) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0, 
		hsla(0, 0%, 0%, 0.4) 0 1px 0
		;
	-moz-box-shadow: 
		hsla(0, 0%, 100%, 0.8) 0px -1px 0,
		hsla(0, 0%, 0%, 0.2) 0 -2px 0, 
		hsla(0, 0%, 100%, 0.4) 1px 0 0, 
		hsla(0, 0%, 0%, 0.2) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0, 
		hsla(0, 0%, 0%, 0.4) 0 1px 0
		;
}

.pagination .pages li.first-child * {
	-webkit-box-shadow: 
		hsla(0, 0%, 100%, 0.8) 0px -1px 0,
		hsla(0, 0%, 0%, 0.2) 0 -2px 0, 
		hsla(0, 0%, 0%, 0.2) 1px 0 0, 
		hsla(0, 0%, 0%, 0.2) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0, 
		hsla(0, 0%, 0%, 0.4) 0 1px 0
		;
	-moz-box-shadow: 
		hsla(0, 0%, 100%, 0.8) 0px -1px 0,
		hsla(0, 0%, 0%, 0.2) 0 -2px 0, 
		hsla(0, 0%, 0%, 0.2) 1px 0 0, 
		hsla(0, 0%, 0%, 0.2) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0, 
		hsla(0, 0%, 0%, 0.4) 0 1px 0
		;
}

.pagination .pages li:hover a {
	-webkit-box-shadow: 
		hsla(0, 0%, 100%, 0.8) 0px -1px 0,
		hsla(0, 0%, 0%, 0.2) 0 -2px 0, 
		hsla(0, 0%, 0%, 0.2) 1px 0 0, 
		hsla(0, 0%, 0%, 0.2) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0, 
		hsla(0, 0%, 0%, 0.4) 0 1px 0;
	-moz-box-shadow: 
		hsla(0, 0%, 100%, 0.8) 0px -1px 0,
		hsla(0, 0%, 0%, 0.2) 0 -2px 0, 
		hsla(0, 0%, 0%, 0.2) 1px 0 0, 
		hsla(0, 0%, 0%, 0.2) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0, 
		hsla(0, 0%, 0%, 0.4) 0 1px 0;
}

.pagination .pages li:active a, .pagination .pages li span.active {
	-webkit-box-shadow: 
		hsla(0, 0%, 0%, 0.8) 0 1px 0,
		hsla(0, 0%, 50%, 0.8) 0 -2px 0,
		hsla(0, 0%, 0%, 0.8) 0px -1px 0, 
		hsla(0, 0%, 100%, 1) 1px 0 0, 
		hsla(0, 0%, 100%, 1) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0
		;
	-moz-box-shadow: 
		hsla(0, 0%, 0%, 0.8) 0 1px 0,
		hsla(0, 0%, 50%, 0.8) 0 -2px 0,
		hsla(0, 0%, 0%, 0.8) 0px -1px 0, 
		hsla(0, 0%, 100%, 1) 1px 0 0, 
		hsla(0, 0%, 100%, 1) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0
		;
}

.pagination .pages li:active + li a, .pagination .pages li.active + li a {
	-webkit-box-shadow: 
		hsla(0, 0%, 100%, 0.8) 0px -1px 0,
		hsla(0, 0%, 0%, 0.2) 0 -2px 0, 
		hsla(0, 0%, 0%, 0.2) 1px 0 0, 
		hsla(0, 0%, 0%, 0.2) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0, 
		hsla(0, 0%, 0%, 0.4) 0 1px 0
		;
	-moz-box-shadow: 
		hsla(0, 0%, 100%, 0.8) 0px -1px 0,
		hsla(0, 0%, 0%, 0.2) 0 -2px 0, 
		hsla(0, 0%, 0%, 0.2) 1px 0 0, 
		hsla(0, 0%, 0%, 0.2) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0, 
		hsla(0, 0%, 0%, 0.4) 0 1px 0
		;
}

.pagination .pages li.active + li:active a, .pagination .pages li:active + li.active span.active {
	-webkit-box-shadow: 
		hsla(0, 0%, 0%, 0.8) 0 1px 0,
		hsla(0, 0%, 50%, 0.8) 0 -2px 0,
		hsla(0, 0%, 0%, 0.8) 0px -1px 0, 
		hsla(0, 0%, 0%, 0.2) 1px 0 0, 
		hsla(0, 0%, 0%, 0.2) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0
		;
	-moz-box-shadow: 
		hsla(0, 0%, 0%, 0.8) 0 1px 0,
		hsla(0, 0%, 50%, 0.8) 0 -2px 0,
		hsla(0, 0%, 0%, 0.8) 0px -1px 0, 
		hsla(0, 0%, 0%, 0.2) 1px 0 0, 
		hsla(0, 0%, 0%, 0.2) -1px 0 0, 
		hsla(0, 0%, 100%, 0.2) 0px 2px 0
		;
}