/* @group from Khepri */
table.toolbar td {
	/*color:#666666;*/
	height:48px;
	padding:1px 1px 1px 4px;
	text-align:center;
}
#ap-content table.toolbar td {
	height: 16px;
}
table.toolbar td.spacer {
	width:10px;
}
table.toolbar td.divider {
	border-right:1px solid #EEEEEE;
	width:5px;
}
table.toolbar span {
	display:block;
	float:none;
	height:32px;
	margin:0 auto;
	width:32px;
}
table.toolbar a {
	border:1px solid #FBFBFB;
	cursor:pointer;
	display:block;
	float:left;
	padding:1px 5px;
	white-space:nowrap;
	text-shadow: hsla(0, 0%, 100%, .2) 0 1px 0;
	color: #333;
	
}

/* @end */

/* Removing firefox's ugly dotted border */
.toolbar a:focus { 
    outline: none; 
}

div.toolbar {
	float:right;
	padding:0;
	text-align:right;
	max-height: 48px;
}
#ap-content div.toolbar {
	max-height: 18px;
}

body table.toolbar {
	border-collapse:collapse;
	margin:0;
	margin-bottom: 5px;
	padding:0;
}
.m table.toolbar {
	margin-right: 10px;
	margin-bottom: 0;
}
table.toolbar tbody tr td .toolbar, table.toolbar a:hover {
	border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
	border-style:solid;
	border-width:1px;
	/*color:#0B55C4;*/
	text-decoration:none;
	opacity: 1;
	
	border: 0px transparent;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	-webkit-transition: opacity 100ms ease-in-out;
	-moz-transition: opacity 100ms ease-in-out;
	transition: opacity 100ms ease-in-out;
}

table.toolbar tbody tr td .toolbar:hover {
	/*-webkit-box-shadow: white 0 -1px 0, lightgray 0 1px 0;
	-moz-box-shadow: white 0 -1px 0, lightgray 0 1px 0;
	background-color: white;
	background-color: hsla(0, 0%, 100%, 0.95);*/
}
table.toolbar tbody tr td .toolbar.invalid {
	opacity: 0.5;
	/*color: gray;*/
	cursor: default;
}
table.toolbar tbody tr td .toolbar.disabled, table.toolbar tbody tr td .toolbar.disabled:hover, table.toolbar tbody tr td .toolbar.disabled:active {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	opacity: 0.5;
	background-color: transparent;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	top: 0;
	background-color: transparent;
	text-shadow: hsla(0, 0%, 100%, .2) 0 1px 0;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
table.toolbar tbody tr td a.toolbar:active, table.toolbar tbody tr td a.toolbar.active, table.toolbar tbody tr td .toolbar.droppable.active {
	/*transform: translateY(1px);
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);*/
	top: 1px;
	position: relative;
	background-color: #F3F3F3;
	background-color: hsla(0, 0%, 0%, 0.05);
	background-color: hsla(0, 0%, 0%, 0.0);
	text-shadow: none;
	background-image: -webkit-gradient(linear, left bottom, left top, from(hsla(0, 0%, 100%, .1)), color-stop(.3, hsla(0, 0%, 50%, .1)), to(hsla(0, 0%, 0%, .1)));
	background-image: -moz-linear-gradient(0% 100% 90deg,hsla(0, 0%, 100%, .1),hsla(0, 0%, 50%, .1),hsla(0, 0%, 0%, .1) 70%);
	box-shadow: hsla(0, 0%, 0%, .2) 0 -1px 0, hsla(0, 0%, 100%, .2) 0 1px 0;
	-webkit-box-shadow: hsla(0, 0%, 0%, .2) 0 -1px 0, hsla(0, 0%, 100%, .2) 0 1px 0;
	-moz-box-shadow: hsla(0, 0%, 0%, .2) 0 -1px 0, hsla(0, 0%, 100%, .2) 0 1px 0;
}
table.toolbar tbody tr td .toolbar:active span, table.toolbar tbody tr td .toolbar.droppable.active span, table.toolbar tbody tr td .toolbar.disabled span {
	background-position: center bottom;
}
table.toolbar tbody tr td.spacer {
	height: 32px;
	border: 0px solid transparent;
}
/* Don't display two spacers that are next to one another */
table.toolbar tbody tr td.spacer + td.spacer {
	display: none;
}
table.toolbar tbody tr td.spacer::before, table.toolbar tbody tr td.spacer::after {
	content: ".";
	display: inline-block;
	background: white;
	width: 1px;
	color: transparent;
	height: 36px;
}
table.toolbar tbody tr td.spacer::after {
	background: lightgray;
}

/* The default button, should have a star, not the default icon */
#toolbar-box .icon-32-default { background-image: url(../images/32/star.png) !important; }


#ap-content [class^="icon-32-"] 	{ 
background-position: 0 0;
background-repeat: no-repeat;
display: block;
float: left;
height: 20px;
width: 20px; 
}

#ap-content .button .toolbar {
	margin: 0 7px;
}

#ap-content .icon-32-preferences { background-image: url(../images/16/preferences.png); }
#ap-content .icon-32-about { background-image: url(../images/16/about.png); }
#ap-content .icon-32-enable, #ap-content .icon-32-publish	{ background-image: url(../images/16/enable.png); }
#ap-content .icon-32-disable, #ap-content .icon-32-unpublish	{ background-image: url(../images/16/disable.png); }
